[2019-06-19 04:37] louyiping opened #8070 "How to cancel cron gc job"
**Expected behavior and actual behavior:**
I create a daily cron gc job at 5 AM few days ago, and the second day I canceled it by setting cron to None. But I found  the gc job still execute everyday.And I check it in th db and found its status is error.
![image](https://user-images.githubusercontent.com/9589048/59737064-c59e2d80-928e-11e9-99be-ea8a301eb615.png)

**Steps to reproduce the problem:**

[2019-06-19 05:32] steven-zou commented on #7868
@rmoesbergen

Please provide logs (especially job service) and the dump.rdb data under `/data/redis`. We'll check.

[2019-06-19 05:37] steven-zou commented on #8070
@louyiping

Known issue. You can try clear the redis db under /data/redis and restart

[2019-06-19 06:29] rmoesbergen commented on #7868
In the log I see this when I try to edit the job schedule:

Jun 19 08:21:10 172.21.0.1 core[9075]: 2019-06-19T06:21:10Z [ERROR] [/common/api/base.go:229]: http error: code 500, message {"code":10006,"message":"stop job failed with error","details":"mismatch job status for stopping job: ff2cc14ca5f187b56f868157, job status Success is behind Running"}

Jun 19 08:21:10 172.21.0.1 core[9075]: 2019-06-

[2019-06-19 06:42] louyiping commented on #8070
@steven-zou Hello, do you mean just execute "rm -rf /data/redis/" ?

[2019-06-19 07:07] fengshunli commented on #8059
发现修改chart包的name后上传的tag包在rancher上面没办法部署,报错提示
![image](https://user-images.githubusercontent.com/18587688/59743888-e45aef00-92a3-11e9-938f-827641920212.png)

[2019-06-19 07:51] sh3tb3rd opened #8071 "LDAP Authentication: Internal Server Error 500 (v. 1.8.0)"
When trying to establish an LDAP authentification with our AD, it always results in an server error 500. Using the previous version, there are no issues at all using the exact same information.

Anyone else with this issue? Is there something I am missing?

I've noticed that with v. 1.8.x there is no more harbor.cfg file to configure, instead, there is now a harbor.yml file which is working just f

[2019-06-19 09:07] reasonerjt opened #8072 "Add vuln white list to project metadata."
This will involve some refactor to make project meta structured data, and add white list setting to the API request and response.

It won't require big change in DB schema.

[2019-06-19 09:09] bansalrajat commented on #5366
i am having the same issue.

[2019-06-19 09:12] reasonerjt commented on #6999
This will be implemented in v1.9.0 and I'll use #7942 to track the work.

[2019-06-19 09:12] #6999 closed

[2019-06-19 09:19] reasonerjt commented on #8034
So how about this "interrogation service" be built as a facade for different scanning capabilities, and expose such capabilities via consistent API?
One limitation I can think of, is that for example if we integrate Clair plus another scanning service for scanning license, the image may have to be pulled twice.

[2019-06-19 09:29] Hokwang commented on #8018
@reasonerjt
Please think about this.
User can edit his/her information (full name, email, or whatever)(ok, now just two, full name and email) on harbor's profile page.
This means you save/store information in DB,
I think you don't need to do that. Just getting from oidc every time,
or if you have db, update from oidc, you don't provide user edit function.

Anyway, now user who login first time sho

[2019-06-19 10:22] gklp commented on #7919
+1

[2019-06-19 13:08] steven-zou commented on #8070
@louyiping

Yes. Please pay attention here, backup that dum.rdb file before clearing in case some bad things happened.

[2019-06-19 13:52] mumrau commented on #7762
I am managing multiple endpoints in multiple environments, and I only want a subset of my images to be replicated on certain environment, only the ones that are going, for a fact, to be deployed on that environment.
I was waiting for the non-harbor registries feature to apply this, which landed, and the label is ogne, I searched for it through the entire interface.

Just saying that this feature i

[2019-06-19 13:52] paulczar opened #8076 "since 1.8 automating full install/configuration of harbor is harder"
Before Harbor 1.8 I could configure Harbor to use external Auth via config file or environment variable,  all automation tooling know how to do both of those things. whether its chef or puppet, or something like confd pulling from consul. Even better languages like spring have integration to use kubeconfig maps as config sources.

These are all things we've learned to treat as code, and as devops/

[2019-06-19 13:54] mumrau commented on #7978
I am wondering whether ACR is that different from a "normal" v2 docker registry?
I tried the feature and got fairly disappointed in the end, the log finishing on an error code...which is... 200.

[2019-06-19 13:58] paulczar commented on #8076
One more thing ...   When setting the config settings via the API, the settings can later still be overwritten by the Web Console ... so we still suffer from the same problem of config drift as "the configuration in my app does not match the configuration in the automation", it's just this time a user setting via the app wins over the user setting via the automation.

I know a lot of folks use aut

[2019-06-19 16:52] meyerbro commented on #7068
Hey, this is affecting us too, when this is going to be merged to the project? It's not working with goharbor/chartmuseum-photon:v0.8.1-v1.8.0...

[2019-06-20 02:08] michmike opened #8079 "Repository beyond images and helm charts"
we would like to expand harbor to be a repository beyond   images and helm charts. In a cloud native world, there are needs for scripts, operators, CNAB bundles, RPMs, Jar files, etc. The IoT community even asked if we can support host device firmware since there aren't many hosting solutions or repos in the IoT edge

main drivers: CNAB bundles, repository for operators
Administrators can control

[2019-06-20 02:10] michmike opened #8080 "Look into Kustomize for Harbor vs Helm"
details tbd

[2019-06-20 02:12] michmike opened #8081 "Integration into Grafeas"
explore integration into Grafeas for artifact management and to audit and govern the images in Harbor

[2019-06-20 02:15] #6362 closed

[2019-06-20 02:15] michmike opened #8082 "Proxy cache"
enable proxy cache for Harbor.

This is very useful in situations of intermittent network connectivity where you still need access to local images. the expectation is that the network will go off in ROBO or IoT scenarios

Of course, the standard use case of reducing redundant image pulls across the network applies here

[2019-06-20 02:46] jwangyangls opened #8083 "UI Modification: When New Robot"
When we add some permissions to the new robot Account, we can get the following pages by communicating with the design.

![image](https://user-images.githubusercontent.com/29826789/59814608-7a485580-9348-11e9-9f24-3ffb00a86967.png)

[2019-06-20 03:02] danfengliu opened #8084 "Nightly test case <Disable Scan Schedule> failed due to noneffective element click action"
![image](https://user-images.githubusercontent.com/44018302/59815330-d1e7c080-934a-11e9-9375-ad69d613be7d.png)

[2019-06-20 03:38] lmdkfs opened #8085 "Unable to set external_db_configs['harbor']['host']"
when upgrade harbor to 1.8.1 form 1.7.0,   i use external db .But get the following errors when to execute prepare.
[code]

[2019-06-20 04:46] ywk253100 commented on #8068
首先确认下在1.6的Harbor的存储中是否有这个image（image的存储路径缺省在/data/registry），然后尝试用docker直接向Harbor push这个镜像，查看是否可以成功。

[2019-06-20 04:49] heww commented on #8059
This problem was happened when change the in `Chart.yaml` but the package dir extract from tgz still the old name so rancher can not file the chart content by chart name.

You should use `helm package CHART_PATH` the make the package.

[2019-06-20 04:52] ywk253100 commented on #8062
Can the `harbor.test.com` be reachable inside the container?

[2019-06-20 04:54] ywk253100 commented on #7967
Provide the  logs of both the source and destination registry.

[2019-06-20 05:07] lmdkfs commented on #8085
how to resolve。

[2019-06-20 06:43] ninjadq commented on #8085
are you update your harbor.yml file with your external db information?

[2019-06-20 07:26] louyiping commented on #8070
@steven-zou Thanks. Solve my problem. Close the issue.

[2019-06-20 07:26] #8070 closed

[2019-06-20 07:46] louyiping commented on #7924
@nisc-acooper My solution is pushing an image with the same tag name for those "problem" tags. And then delete them one by one.

[2019-06-20 08:30] lmdkfs commented on #8085
It's been upgraded . but generate harbor.yml  has problem。 Configuration is as follows
`external_database:
  host: 10.10.104.41
  port: 5432
  db_name: registry
  username: xx
  password: xx
  ssl_mode: disable`
I fixed the configuration file manually， it resolved。
`
external_database:
  harbor:
    host: 10.10.104.41
    port: 5432
    db_name: registry
    username: xx
    password: xx
    ssl_m

[2019-06-20 09:38] heww opened #8087 "Wrong image size displayed when config blob digest in manifest duplicate with layers"
For the following manifest the image size is 10485760 bytes (10M) + 403 bytes (manifest size), but in the portal the size displayed is 20M.

[code]

![WX20190620-163801](https://user-images.githubusercontent.com/5634205/59834456-9cf36200-937a-11e9-8424-b993f63a38e7.png)

[2019-06-20 09:46] bonniechen1119 opened #8088 "unable to docker login harbor"
1.install harbor in aws cloud, and then can login in web however when docker login, it fail
when I try login harbor.miotech.com:5000, it return 401
docker login harbor.miotech.com:5000
Username: admin
Password:
Error response from daemon: login attempt to https://harbor.miotech.com:5000/v2/ failed with status: 401 Unauthorized

when I try login harbor.miotech.com, it return TLS timeout
docker logi

[2019-06-20 09:55] louyiping opened #8089 "delete replication occur error and pending"
**Expected behavior and actual behavior:**
I run a script to delete old images on the master harbor instance and the slave instance will execute delete replication. But a strange thing often occur at some time: the delete replication pending from one moment until I restart the job-service container on the master harbor. I think maybe it is related to the issue https://github.com/goharbor/harbor/is

[2019-06-20 09:56] stonezdj commented on #8053
Could you please upload the logs collected by  `bosh logs` ?

[2019-06-20 11:15] wi-cuckoo commented on #8069
@reasonerjt yeah，the response has nothing, I logged it and the raw field is nil. I'm not sure why gitlab doesn't work as expect. I just do as gitlab doc tells. so confusing

[2019-06-21 01:42] paulczar commented on #8076
Essentially configuration should have a single source of truth, and in this modern age of devops/ci-cd that sort of truth should be an artifact that can be traced and audited.  Something like one of the following:

1) config-management -  chef/puppet/helm    code + declarative state - both stored in github, both tested on change, and ideally applied on by ci/cd tool.  changes auditable via github

[2019-06-21 01:44] jahentao opened #8091 "Can harbor be deployed with nomad?"
As descripted in title, I want to deploy harbor with [nomad docker driver](https://www.nomadproject.io/docs/drivers/docker.html), but I found little explaination of docker-compose internal configuration logic in document.

[2019-06-21 01:44] hzpfly opened #8092 "Distributed tracing should be supported"
# What can we help you?
Can we add Distributed tracing feature to harbor?
# Distributed tracing
Distributed tracing, also called distributed request tracing, is a method used to profile and monitor applications, especially those built using a microservices architecture. Distributed tracing helps pinpoint where failures occur and what causes poor performance.
# OpenTracing
OpenTracing is comprised

[2019-06-21 02:07] danfengliu opened #8093 "In nightly tests, keyword <Add Guest Member To Project> failed at searching user"
![image](https://user-images.githubusercontent.com/44018302/59892425-8fd28380-940b-11e9-8602-35647d2ba42e.png)

[2019-06-21 02:25] #8087 closed

[2019-06-21 03:38] reasonerjt commented on #8069
Did you setup the `scope` correctly in Harbor's configuration tab?

[2019-06-21 03:56] heww opened #8095 "Performance/scalability benchmark and improvement"
1. Push and pull images benchmark

2. Some improvements according to the benchmark reports

[2019-06-21 04:00] heww opened #8096 "Image pull benchmark"
What can we help you?

[2019-06-21 04:02] heww opened #8097 "Image push benchmark"
What can we help you?

[2019-06-21 04:57] wy65701436 opened #8098 "Project Quota Story"
The epic is for project quota development.

For the details, please refer to the proposal: https://github.com/goharbor/community/pull/81

[2019-06-21 04:59] wy65701436 opened #8099 "Add a interceptor for putting manifest"
The interceptor should check the size of manifest and num quota for the project.

[2019-06-21 05:00] wy65701436 opened #8100 "Add a interceptor for putting blob"
the interceptor could check the size of a blob and decide whether the blob can be uploaded.

[2019-06-21 05:01] wy65701436 opened #8101 "API service for quota management"
What can we help you?

[2019-06-21 05:03] wy65701436 opened #8102 "API service for usage(quota) management"
What can we help you?

[2019-06-21 05:06] wy65701436 opened #8103 "API service for admin to view project quota"

[2019-06-21 05:09] wy65701436 opened #8104 "UI management page for sysadmin to manage projects quota"
1, can view all of quota and usage of all projects.
2, can edit any of project quota, like enlarge storage.
3, can search
4, can order

[2019-06-21 05:10] wy65701436 opened #8105 "UI for system admin to set quota when to create a project"
The sysadmin can define whether to use the default or customize value

[2019-06-21 05:11] wy65701436 opened #8106 "API for system admin to update default quota"
it could leverage the /api/configurations

[2019-06-21 05:13] wy65701436 opened #8107 "DB scheme and dao service for artifact"

[2019-06-21 05:14] wy65701436 opened #8108 "DB scheme and dao service for quota and usage"
What can we help you?

[2019-06-21 05:15] wy65701436 opened #8109 "UI for project admin to view my project usage(quota)"

[2019-06-21 05:17] wy65701436 opened #8110 "Add a interceptor for chart proxy"
it could intercept the request to upload the chart and check the project usage

[2019-06-21 05:22] wy65701436 opened #8111 "Registry proxy middleware for repo/tag delete"
the deletion should release the usage.

[2019-06-21 05:24] wy65701436 opened #8112 "API change for chart delete"
it should release the project artifact count usage

[2019-06-21 05:27] wy65701436 opened #8113 "API for sysadmin to align data with registry"
implement the /api/dump to align data with docker registry, it's for a system admin to fix the DB.

[2019-06-21 05:29] wy65701436 opened #8114 "DB migration for project quota"

[2019-06-21 05:31] wy65701436 opened #8115 "API update for retag"
the retag should be considered to update the project usage.

[2019-06-21 05:32] wy65701436 opened #8116 "E2E test cases for project quota"

[2019-06-21 05:32] wy65701436 opened #8117 "Document for project quota"
What can we help you?

[2019-06-21 05:52] koulq commented on #8068
@ywk253100 查了1.6下的harbor，是有这个image的
![image](https://user-images.githubusercontent.com/18571340/59900752-b56f8500-942b-11e9-8ec1-f6f46c6b8242.png)

[2019-06-21 06:07] ywk253100 commented on #8068
`link`这个文件中记录了manifest对应的sha256的值，确定下在`/registry/docker/registry/v2/blobs`下是否有对应的文件。

[2019-06-21 06:17] koulq commented on #8068
@ywk253100  有的
![image](https://user-images.githubusercontent.com/18571340/59901914-501d9300-942f-11e9-919e-47743d96362f.png)
![image](https://user-images.githubusercontent.com/18571340/59901928-590e6480-942f-11e9-9810-08f298fd80ff.png)

[2019-06-21 07:53] reasonerjt commented on #8091
@jahentao could you help us verify?

[2019-06-21 11:07] jahentao commented on #8091
@reasonerjt  OK, I'll try it.

[2019-06-21 12:32] rofafor opened #8121 "Ceph support"
If you are reporting a problem, please make sure the following information are provided:

**Expected behavior and actual behavior:**
Garbage collection fails when using Ceph as S3 storage:
[code]
This is due to a bug in Docker registry that's been finally fixed in the master branch:
https://github.com/docker/distribution/pull/2879

I validated the fix by cloning the current docker/distribution mas

[2019-06-21 14:29] mungo312 opened #8122 "Support nested LDAP groups"
In our company we are using nested groups in our Active Directory. This means:
User <-> OrgGroup <-> ResourceGroup
The resource group is configured in Harbor

At the moment the Group membership is not detected in harbor, in my tests the user did not get admin privileges.

**Steps to reproduce the problem:**
Use a LDAP with nested Groups.

**Versions:**
Please specify the versions of following syst

[2019-06-21 16:50] fivezerosix opened #8124 "Replication between 2 different Harbor Instances Fails (v1.8.0 to v1.7.0)"
Hello!

We have been testing the new 1.8.0 Harbor version using the latest chart available (1.1.0-1.8.0)

**Expected behavior and actual behavior:**
Expected:
Replication between 2 Harbor instances should be marked as successful (100% success rate) and be able to see the replicated images in the target harbor instance in the corresponding repository.

Actual:
Replication between 2 Harbor instances

[2019-06-22 02:55] YLzone opened #8125 "v1.8.1 磁盘使用容量监控面板显示错误"
harbor UI 右上角容量剩余显示不准确。
![image](https://user-images.githubusercontent.com/17042217/59958620-4e5dd900-94dc-11e9-9991-3cac7a595edb.png)

[2019-06-23 01:53] Ghostbaby commented on #8125
这个指标只有使用本地存储才显示，数据存储分区的容量使用情况，可以df看下是不是信息一致，或者提供下df的信息。

[2019-06-23 02:56] YLzone commented on #6769
This feature is necessary and is available in v1.2.2.

[2019-06-23 03:02] YLzone commented on #8125
问题已经解决，是我理解有误。我开始以为这53是百分比，实际它是53GiB。

[2019-06-23 03:02] #8125 closed

[2019-06-24 04:27] louyiping commented on #8089
Could someone help me please? @reasonerjt  Let me known if the information is not enough, thanks.

[2019-06-24 07:18] #6281 closed

[2019-06-24 07:18] #3816 closed

[2019-06-24 07:18] #6308 closed

[2019-06-24 07:38] #7829 closed

[2019-06-24 08:10] YanLemon opened #8127 "how to compile harbor source code for ARM arch OS?"
What can we help you?

[2019-06-24 08:37] HaveFun83 commented on #3402
The get some kind of global report for all images will be also helpful.

[2019-06-24 13:31] jsharpe commented on #7932
Why limit CLI secrets to OIDC contexts? Passwords from LDAP are sensitive and as such a breach of a password from docker login credentials would require the user to change their LDAP password, which may be valid for a wider range of services. Allowing CLI secrets for LDAP contexts as well would restrict the scope of the credentials being used to ldap and thus being more secure in preventing latera

[2019-06-24 13:41] rvanbutselaar opened #8129 "Unable to install Harbor with Docker SELinux enabled"
**Expected behavior and actual behavior:**
Unable to install Harbor with Docker SELinux enabled

**Steps to reproduce the problem:**

1. Enable Docker SELinux `/usr/bin/dockerd --selinux-enabled=true -H fd:// --containerd=/run/containerd/containerd.sock`
2. Restart docker
3. Run installer
[code]

**Versions:**
Please specify the versions of following systems.
- harbor version: 1.8.1
- docker engin

[2019-06-24 15:31] loosi commented on #7625
Is this issue still a thing?
Using 1.8.1 with OIDC and still getting the same error with OIDC and helm push. (though docker login works with the same cli secret)

[code]
[code]

Anything else to do with Helm push here? I've tried using helm push following the manual (https://github.com/goharbor/harbor/blob/master/docs/user_guide.md#working-with-helm-cli), but no matter what method : always 401

[2019-06-24 15:39] loosi opened #8130 "Failed to add chart repository with helm when OIDC is enabled (bug still active)"
following up on #7625

**Expected behavior and actual behavior:**
Helm push should work with OIDC Cli Secret

**Steps to reproduce the problem:**
helm push redmine-9.1.0.tgz https://mru:4b01foduqa.....@registry.company/chartrepo/library

**Versions:**
Please specify the versions of following systems.
- harbor version: [1.8.1]
- docker engine version: [18.09.3]
- docker-compose version: [1.24.0]

*

[2019-06-24 15:57] wphe commented on #7068
I confirm I still have the issue with a project that contain `api` in the name. Is it really in the latest version (v1.8.1)?

[2019-06-24 15:59] wphe commented on #7962
It's a known issue [https://github.com/goharbor/harbor/issues/7068](url)

[2019-06-24 16:12] olhrabar opened #8131 "The helm-charts replication doesn't work between Harbors"
**Expected behavior and actual behavior:**
The replication should be works betwean 2 harbor servers using helm-charts. But in the Harbor version 1.8.1 it doesn't wotks.

**Steps to reproduce the problem:**
1. Install Harbor v1.8.1 on the two instances (Harbor 1 and Harbor 2)
2. Add any repository on the Harbor 1
3. Push any helm-chart to the Harbor 1
4. Go to Harbor 2 and create "New Endpoint" for

[2019-06-25 00:34] reasonerjt opened #8132 "Support group in http_auth"

[2019-06-25 02:22] danfengliu commented on #8084
It's fixed in PR#8126

[2019-06-25 02:22] #8084 closed

[2019-06-25 02:24] danfengliu commented on #7890
It's done in PR #7904.

[2019-06-25 02:24] #7890 closed

[2019-06-25 03:06] mxplusb commented on #7944
I'm also having the same problem trying to run this pipeline on Azure DevOps:

[code]

I had to change mine to `robot\$ci-robot` because of the symbol choice. I appreciate the need to designate the difference between a bot and a user, but I'm not a fan of this feature. It should work out of the box, without any special tagging or symbols, as expected. Currently it breaks for me in bash, zsh, and p

[2019-06-25 04:17] hjgCka commented on #8124
I meet the same problem.  In fact I can still pull images from a v1.5.1 harbor 's repository, but it doesn't show the pushed images in target repository.

[2019-06-25 05:01] reasonerjt opened #8135 "intermittent failure of UT in master branch"
[code]

[2019-06-25 07:03] k0da opened #8136 "allow setting different s3 bucket for chartserver"
It would be nice to to have a chartmuseum bucket separated from registry storage config, that would allow us to ease migration  already existing chart storage into harbor's chart museum.

Thanks

[2019-06-25 07:41] liuwenjiegithub opened #8137 "我在harbor1.7使用了数据库认证,已经存在用户了,那么在harbor1.8怎么使用oidc?"
I added users in 1.7. After upgrading to 1.8, oidc cannot be selected as the authentication mode

[2019-06-25 07:53] reasonerjt commented on #8130
should it be `mru` in your helm command?

[2019-06-25 08:00] armandorvila commented on #4557
+1

[2019-06-25 08:17] loosi commented on #8130
It is the same username, its just shortened to hide it here

[2019-06-25 08:31] rvanbutselaar commented on #7008
I have a fix for the logging error: `failed to initialize logging driver: dial tcp 127.0.0.1:1514: connect: connection refused`.

Configured the logging driver option `mode: "non-blocking"` inside the `docker-compose.yml` file (for each container).

[code]

[2019-06-25 09:02] alexz-kh commented on #8131
Probably related to
[issues-8124](https://github.com/goharbor/harbor/issues/8124)

[2019-06-25 09:08] stonezdj commented on #8137
see Faq: https://github.com/goharbor/harbor/wiki/Harbor-FAQs#authentication

[2019-06-25 10:18] joshisagar92 opened #8138 "User in LDAP group not able to pull/push"
We have added a LDAP group with certain number of users in Harbor group.
Then added a group in member section of project with permission Admin.

When I tried to pull an image from the project, after login, with user which is already exist in added group.
It throws following error.

If I add specific users as a member of project it will work but with only group it is not working.

Can you please as

[2019-06-25 11:30] YakirShriker opened #8140 "pushing an image to repository does not update update_time"
pushing an image to repository does not update update_time
Harbor version: 1.8.0
while pushing a new image to a repository the update_time of the repository is not updated.
wondering if its a bug or that's how it works.
if not, which operation does update the update_time?

[
    {
        "id": 16233,
        "name": "test/test1",
        "project_id": 6,
        "description": "",
        "pull_c

[2019-06-25 12:02] olhrabar commented on #8131
The same result with Harbor-Harbor (v1.8.0)

[2019-06-25 12:27] stonezdj opened #8142 "User can not login when they are switching from different ldap_uid field"
In LDAP there is an user with ldap_uid=uid0001,cn=mike,email=mike@example.com
When I configure to use ldap_uid field to cn
and login with username: mike
Then I switch to ldap_uid field to email or uid.
and login with uid
uid0001
It failed to login with the uid0001, because there is a user existing in harbor_user with email mike@example.com.
We need to find a way to cleanup the imported users when

[2019-06-25 17:20] paulohleal opened #8143 "Harbor does not show "Creation Time" in Portuguese"
**Expected behavior and actual behavior:**
When I change the language to "Português do Brasil" the field "Data de criação" ("Creation Time" in English) is empty. When I turn back to English it comes filled.
It happens on Projects screen and Repositories screen.

**Steps to reproduce the problem:**
Change the language to "Português do Brasil"

**Versions:**
Please specify the versions of following

[2019-06-25 17:26] paulohleal commented on #8143
Just checked that the Logs, User and Garbage Collection´s History screens have the same problem showing dates.

[2019-06-26 00:49] ywk253100 commented on #8124
Please package all logs of the source and destination Harbors and upload them.

[2019-06-26 02:05] bitsf opened #8145 "Harbor scheduled replication not run as plan"
**Expected behavior and actual behavior:**
We want to run replication job every 5 minutes, but the job is randomly delayed too much.

**Steps to reproduce the problem:**
1. create a replication job with cron schedule "0 */5 * * * *"

**Versions:**
- harbor version: [1.8.1]
- docker engine version: [18.09.2]
- docker-compose version: [1.21.0]

**Additional context:**
![image](https://user-images.gi

[2019-06-26 03:27] wi-cuckoo commented on #8069
@reasonerjt the `scope` just set as `openid,profile,email,api`, and in gitlab checked such four checkboxes

[2019-06-26 03:28] #7696 closed

[2019-06-26 05:09] stonezdj opened #8147 "Latest log missed in harbor log files"
Sometimes the harbor doesn't dump the latest log to the log files, we noticed that when user login failed, there is no latest log for today, just saw the log in 1 day before. It is difficult to diagnostic when there is no latest log dumped.
Because both the core.log and proxy.log were not updated with latest log entry,  it could be an issue related to harbor-log container.

[2019-06-26 05:15] stonezdj commented on #8138
Please check memberof overlay is enabled in your LDAP server.
https://github.com/goharbor/harbor/blob/fb28b113017a66996d7539e0815a1f3c89908c72/docs/manage_role_by_ldap_group.md

[2019-06-26 05:38] reasonerjt commented on #8143
non-english labels are maintained by community, any help is welcome.

[2019-06-26 05:40] reasonerjt commented on #8142
Is there a workaround for this?  I don't think there's a quick solution maybe we need a table for each backend like we did for OIDC.

[2019-06-26 05:41] reasonerjt commented on #8142
Generally speaking, if we onboard a few users with one ldap setting, and switch to another, similar problem may happen.

[2019-06-26 05:53] fyqls opened #8148 "能否提供下各版本数据库中存的元数据信息"
我想将v1.1.1升级到v1.8.1． docker镜像本身我们自己搞定．
能否提供v1.1.1的数据库表信息和v1.8.1的数据库表信息．我这边手动将用户信息和project信息迁移

[2019-06-26 06:52] bitsf commented on #8148
make/migrations/postgresql/中包含了升级时执行的sql

[2019-06-26 06:54] bitsf commented on #8147
Does anyone else have similar problems?

[2019-06-26 07:13] bitsf commented on #8143
In environment I didn't see anything error with language "Português do Brasil"
![image](https://user-images.githubusercontent.com/188115/60158433-b20d3c80-9823-11e9-920b-8459976e2940.png)

@paulohleal what browser are you using? And can you try to refresh your browser cache? And if you are using Chrome, you can also check the Dev Tool whether there's anything wrong in Console.
![image](https://use

[2019-06-26 07:36] zhaowencheng1991 opened #8149 "Harbor with this error "filesystem layer verification failed for digest ""
When I pull a image，I can get this error "filesystem layer verification failed for digest" randomly, I try to search this error with google and get some solutions to this  problem
1. delete this image
2.rebuild with --no-cache
3.repush
4.pull again  -- ok

But what is the real reason for this problem?  registry  ceph  network or the "build client"

versions:
1. harbor v1.7.1
2.registry v2.6.2
3.ce

[2019-06-26 07:41] bitsf commented on #8140
This seems reasonable to update the update_time.
But I'm not sure whether this is easy to implement, because
1. docker push operation is directly contact with backend registry, we need to intercept the request
2. docker push may failed, while we should just intercept the succeed operation

[2019-06-26 08:41] #8027 closed

[2019-06-26 09:33] bitsf commented on #8129
I didn't reproduce this on Ubuntu 18.04.2, maybe SELinux is not same.
@rvanbutselaar what OS are you using

[2019-06-26 09:52] secret104278 commented on #4557
+1

[2019-06-26 09:57] bitsf commented on #8127
We haven't tried that, and don't have such device yet, maybe community can give some brief help on how to bootstrap

[2019-06-26 10:25] bitsf commented on #8121
This is a good suggestion, thanks.
Currently we are using docker registry distribution directly, not build locally yet.
But maybe we'll have to do this in future if we have much more important patches that Harbor extremely need and we can't wait too long.

[2019-06-26 10:32] bitsf commented on #8088
@bonniechen1119  This seems strange. Can this be reproduced?
How did you install the harbor?
Which version?
What did you change in harbor.yml?
What OS are you using?

[2019-06-26 10:40] rvanbutselaar commented on #8129
I'm using RHEL 7.6. SELinux is probably not enabled for Docker on Ubuntu. You should be able to verify this with: `sudo docker info | grep selinux`

[2019-06-26 10:41] bitsf commented on #8136
This seems a good idea.

[2019-06-26 10:48] bitsf commented on #8149
This seems some kind of bug of docker registry or storage.
Maybe the file is not synced on disk.
We may not give an answer here.

Has anyone else come across this case?

[2019-06-26 11:17] bitsf commented on #8089
@louyiping Can you have a try on 1.8.1?

[2019-06-26 11:26] bitsf commented on #8129
yes, selinux is not enabled in my box.
And this fix is no problem on my ubuntu.

@rvanbutselaar  Would you like submit a PR with this patch to fix file "make/prepare"?

[2019-06-26 11:31] bitsf commented on #7977
https://github.com/goharbor/harbor/pull/7915

[2019-06-26 11:31] bitsf commented on #7976
https://github.com/goharbor/harbor/pull/7946

[2019-06-26 11:34] bitsf opened #8151 "Refactor replication backend to support define special endpoint list"
Refactor replication backend to support define special endpoint list

AWS/GCR need special endpoint list, can't input by user.
docker hub has just one special endpoint

[2019-06-26 11:35] zhaowencheng1991 commented on #8149
@bitsf  Thank you

[2019-06-26 11:38] bitsf opened #8152 "Refact replication backend to support define more credential type"
Refact replication backend to support define more credential type

GCR is using hardcode user name _json_key, and a json file as credential.

[2019-06-26 11:41] bitsf commented on #8005
是不是域名指向错误了，跑到其他harbor上了，否则也不该报已存在

[2019-06-26 11:45] bitsf commented on #8002
I think this is difficult to implement in Harbor, maybe you can create a patch file, each time after you use prepare script, then you can patch the docker-compose.yml manually, then restart using docker-compose

[2019-06-26 11:50] arsulesandy opened #8153 "Proper issue handling on Bad Request"
What can we help you?

Dear Team
Can you please handle and show proper message on Bad Request from API?

Harbor Version : 1.8.0
Use Case : Add a non-existing user to existing project.
API Response :  **{"code":400,"message":"Failed to add project member, error: User does not exist"}**
UI Response :
![image](https://user-images.githubusercontent.com/8274052/60177409-7891fc80-9836-11e9-923d-eba3c3a9

[2019-06-26 11:51] arsulesandy commented on #8153
The same happen with wrong helm chart upload request.

![image](https://user-images.githubusercontent.com/8274052/60177547-c870c380-9836-11e9-82ae-1a8f89402b7c.png)

[2019-06-26 11:57] rofafor commented on #8121
IMO, the faulty S3 interface is used only during garbage collection in registryctl and the required binary is built from the docker registry distribution version control. Adding support for patches into this phase would be quite clean implementation:
https://github.com/goharbor/harbor/blob/master/make/photon/registry/builder#L23
https://github.com/goharbor/harbor/blob/master/make/photon/registryct

[2019-06-26 12:02] bitsf commented on #7989
the DNS request should not be throw to 10.244.51.1 which I think is an external DNS server, it should use docker inner dns service. Maybe your CoreDNS is something conflict with the internal DNS, you can try disable it and test whether it can reproduce

[2019-06-26 12:10] bitsf commented on #8121
@rofafor Yes I know, but currently we didn't have a place to maintain the patch.

@reasonerjt has suggested to fork the docker & registry git repo, and maintain our own branch, but this still need some effort to think about how to organize the build process.

[2019-06-26 13:12] reasonerjt commented on #6596
@steven-zou @ninjadq
I tried it and it seems pretty severe, that any project prefixed by `api` will break the functionality, we should consider fix this earlier.

[2019-06-26 15:08] loqutus commented on #8131
i'm having the same problem

[2019-06-26 15:23] paulohleal commented on #8143
I am running on chrome. On console I´ve found an error:
![image](https://user-images.githubusercontent.com/23530311/60192925-25578400-980d-11e9-86e9-34a3021319e8.png)

[2019-06-27 01:37] bitsf commented on #8143
@jwangyangls @AllForNothing Do you know about this ui error

[2019-06-27 01:55] bitsf commented on #8143
@paulohleal Does other non-english language have similar problem?

[2019-06-27 01:59] paulohleal commented on #8143
Every other language works fine.

On Wed, Jun 26, 2019, 22:55 Ziming <notifications@github.com> wrote:

[2019-06-27 02:06] acinwinstack commented on #7839
I can confirm that we are encountering the same issue with the exact same version deployed with PKS OpsManager. Personally I also agree with @thegasmann's second option.

With the current issue, one potential problem on my mind is that, whenever my K8s Deployment using `imagePullPolicy: Always` restarts a Pod, while content trust enabled on the Harbor project, the service might go down.

[2019-06-27 02:08] bitsf commented on #8143
@paulohleal What's the version of your Chrome? What OS are you using? And what language of the OS are you using?
Have you tried clean the browser cache? it seems some web page is not fully loaded.

[2019-06-27 02:37] #8148 closed

[2019-06-27 02:37] #8149 closed

[2019-06-27 02:47] reasonerjt opened #8157 "Should not need to clear tables in TestMain"
In the `common/dao` package it calls migrator to update the schema, this should be idempotent,
so we should not need:
https://github.com/goharbor/harbor/blob/master/src/replication/dao/dao_test.go#L31

However I encountered failure in travis before adding a new element to the array, there should be somewhere the UT is manually creating tables.
Need to check.

[2019-06-27 04:00] jwangyangls commented on #8153
@arsulesandy   We have fixed it in branch master. and the scope of inclusion is so big, together with a technology stack update, you can use the master branch code.

[2019-06-27 04:33] arsulesandy commented on #8153
@jwangyangls thank you for quick information. Could you please give some hint as from where can I start contributing on such UI related topics.

[2019-06-27 05:08] alexvmw commented on #7940
this is default system behavior for calculation engine now

[2019-06-27 07:51] SaymonPhoenix opened #8160 "Error when working in mirror mode"
When operating the harbor in mirror mode, customers can download images of the following type:
docker pull hello-world
Using default tag: latest
latest: Pulling from library / hello-world
1b930d010525: Pull complete
Digest: sha256: 41a65640635299bab090f783209c1e3a3f11934cf7756b09cb2f1e02147c6ed8
Status: Downloaded newer image for hello-world: latest

But when you try to download from the public re

[2019-06-27 08:23] jwangyangls opened #8161 "user list page need paging cooperate with back-end"
What can we help you?

[2019-06-27 09:24] YanLemon commented on #8127
@stonezdj thank you . how to compile the source code? I want to intall harbor on ARM.

[2019-06-27 09:56] #5722 closed

[2019-06-27 10:09] 8ear commented on #4208
Hi,
is there any news about this issue?

[2019-06-27 13:29] mmpei opened #8162 "Replication job not generated when pushing an image to harbor"
we defined an immediate policy in harbor. but policy is not triggered when pushing image to harbor.
log like that,
[code]
i checked the code and find that the last checking manifest is not executed. and the real waiting time is 750ms in total. it will make things bad when there is a network delay. i will try to optimize the code and raise a PR later.

[2019-06-27 14:15] mmpei commented on #8162
i think it is should be guaranteed that registry notification should be handled correctly.
so i think waiting time should be about 5s in total to deal with the special situation such as network delay.

[2019-06-27 14:26] SaymonPhoenix commented on #8160
update
Until a project is created goharbor, you can't do
docker pull goharbor/chartmuseum-photon: v0.8.1-v1.8.1

[2019-06-27 22:04] paulohleal commented on #8143
Chrome version: 73.0.3683.75 (32 bits)
Browser os -> Windows 7
Harbor OS -> "Oracle Linux Server" 7.5
Windows language -> Portuguese (Brazil)
Linux language -> English (US)

I have cleaned the cache. It also happens on others computers.

[2019-06-28 01:38] zhaoshibao opened #8163 "nginx bind() to 0.0.0.0:80 failed"

[2019-06-28 01:40] zhaoshibao commented on #8163
![123](https://user-images.githubusercontent.com/52303327/60311146-8bb4e180-9988-11e9-984c-4ac65efd46aa.png)
![456](https://user-images.githubusercontent.com/52303327/60311180-b3a44500-9988-11e9-8d3b-afde5c7dcd8a.png)

[2019-06-28 02:14] michmike opened #8164 "Support SAML in Harbor"

[2019-06-28 02:42] fyqls commented on #8148
感谢，已经手动迁移用户表和权限表，以及project表了

[2019-06-28 04:18] mxplusb opened #8166 "Order by tag does not sort properly"
**Expected behavior and actual behavior:**

I expect ordering to sort properly. The sort order should be:

* latest
* v0.0.106
* v0.0.103
* v0.0.91
* etc

![image](https://user-images.githubusercontent.com/7537841/60316699-eae30980-9928-11e9-9d32-153baee89f69.png)

**Steps to reproduce the problem:**

Create a mixed variant of string and numerical tags, then click the "Tag" button to order them.

[2019-06-28 04:56] ywk253100 commented on #8131
@olhrabar The screenshot you uploaded shows that the execution whose ID is 2 contains 1002 tasks, did they all failed? Could you show me the task logs?

[2019-06-28 04:58] ywk253100 commented on #8089
The `pending` issue is fixed in 1.8. Please upgrade your Harbor to the latest version.

[2019-06-28 05:05] ywk253100 commented on #8068
尝试用docker client直接向1.6push这两个镜像，看是否可以成功push上去并在ui上显示出来。

[2019-06-28 06:25] AllForNothing commented on #8143
@paulohleal Thanks for you feedback. We've solved this problem at the subsequent version. Please wait for the new harbor version. If needed, update yours.

[2019-06-28 06:33] crazy-canux opened #8169 "Registries not working after upgrade from 1.6 to 1.8?"
I have 2 harbor server.
After upgrade from 1.6 to 1.8.1 for both of them.
They can't ping each other.

Jun 28 14:52:06 172.24.0.1 core[784]: 2019-06-28T06:52:06Z [ERROR] [/replication/adapter/image_registry.go:145]: failed to ping registry https://10.202.2.110:4433: http error: code 401, message
Jun 28 14:52:06 172.24.0.1 core[784]: 2019-06-28T06:52:06Z [ERROR] [/common/api/base.go:69]: POST /api/

[2019-06-28 06:46] koulq commented on #8068
使用客户端是可以的，如下图：
![image](https://user-images.githubusercontent.com/18571340/60322977-6b4e4c80-99b3-11e9-8517-108fa2ec5c94.png)
![image](https://user-images.githubusercontent.com/18571340/60323002-7903d200-99b3-11e9-9fcc-732888f09e35.png)

[2019-06-28 06:47] koulq commented on #8068
这个1.6环境之前一直是用着的，包括1.6和1.6同步都是没问题的

[2019-06-28 06:55] koulq commented on #8068
我今天又试了一下1.6向1.8同步，目标仓库ping都不通
![QQ截图20190628145259](https://user-images.githubusercontent.com/18571340/60323483-cf254500-99b4-11e9-9cb9-d8e96a58b9b8.png)

[2019-06-28 07:19] crazy-canux commented on #8169
fixed.

[2019-06-28 07:19] #8169 closed

[2019-06-28 09:30] HaveFun83 commented on #4557
+1

[2019-06-28 10:01] Kirill-SDS opened #8170 "API tag search by lable not works"
Hello,
I try to filter ropositories tags by labels
here is examples of my requests
`curl` -X GET "https://hub.example.com/api/repositories/plant-v1/tags?label_ids=1" `

and also with multiple labels
`curl -X GET "https://hub.example.com/api/repositories/plant-v1/tags?label_ids=1%2C2%2C3" `

All labels set in a global level

Unfortuntately  i receive response with tags which have any label, not onl

[2019-06-28 14:22] burdzwastaken commented on #7989
@bitsf thanks for the update, I will definitely give this a go and report back here.

[2019-06-28 14:24] rvanbutselaar commented on #8129
Created the PR: #8171

[2019-06-28 14:31] jahentao commented on #8091
Here is [my tring](https://docs.google.com/document/d/1Abj3b8F3KJEZ5wk8bmiRRhZGhksj6NViAcMAwcXQJJI/edit?usp=sharing), It is not recommended until Nomad related feature enhanced and iterated out its 1.0 version.

I tried two situations: http and https. In addition to the nomad, I use consul for service discovery and DNS resolution in my trying.

- [harbor-nomad.tar.gz](https://github.com/goharbor/h

[2019-06-29 10:30] cd1989 commented on #7978
Auth of ACR is different from normal v2 docker registry. By normal registry, /v2 requests always got 401 without token, but with ACR, if basic auth provided, /v2 requests will work fine.

Replication of Harbor relies on 401 status code to get token.

[2019-06-30 06:23] #5757 closed

[2019-06-30 20:39] bcg62 commented on #694
+1 for this and use with gitlab

[2019-07-01 02:46] heww opened #8173 "More than 500 users exists in system but only 500 users are listed in administration"
Add more than 500 users to system, but only only 500 users are listed in administration.

[2019-07-01 03:41] bitsf commented on #8127
install golang environment, and docker docker-compose, and edit hostname to your ip in make/harbor.yaml
run make all
if all good, it will start up a harbor service.

I'm not sure whether anything else need to install on ARM yet, maybe build-essential.

You can give more log later.

[2019-07-01 05:55] #8143 closed

[2019-07-01 06:08] alexvmw commented on #7501
Hi Chris, is there an official spec from CNCF around which this doc was created?

[2019-07-01 06:53] danfengliu opened #8177 "OIDC user login Harbor failed, Harbor returned HTTP 500 error, Dex returned keys rotated."
In nightly UI test, OIDC test case “OIDC User Sign In” failed occasionally, harbor return HTTP 500 error.

![image](https://user-images.githubusercontent.com/44018302/60415940-2fafbe80-9c0f-11e9-81a9-325e9208d1e5.png)

![image](https://user-images.githubusercontent.com/44018302/60415660-55889380-9c0e-11e9-90a5-3cec9a532c45.png)

**Log from  Harbor:**
    Jun 30 13:46:25 172.18.0.1 core[6748]: 2019

[2019-07-01 07:02] YanLemon commented on #8127
@bitsf Thank you. My OS is ARM. I can install docker-compose using pip on ARM OS. When I try make harbor on ARM ,I'll give you logs.     I want to compile the harbor code to make a harbor install package.

[2019-07-01 07:28] #8157 closed

[2019-07-01 07:45] cafeliker commented on #8130
I got the same 401 error with OIDC enabled.

[2019-07-01 07:50] cafeliker commented on #7308
I am seeing the same problem, the deleting action is hanged.

[2019-07-01 08:51] jwangyangls opened #8180 "the vulnerability has different width"
![image](https://user-images.githubusercontent.com/29826789/60420949-68ee2b80-9c1b-11e9-8fd4-bb484d11a9b5.png)

[2019-07-01 09:25] wphe commented on #7068
@nlowe can you confirm that this issue is resolved? I still have it (upgrade from v1.7 to v1.8.1).

[2019-07-01 09:26] mumrau opened #8181 "Deployment Vs Stateful for some resources [k8s]"
Hi,

This issue is for a kubernetes usage of Harbor.
I am really curious about the reasons behind stuff are `Deployment` and not `StatefulSets`.
It is stated in #5032 that these workloads are stateless, which might be true from the client-side,
But on the other hand, these workloads uses `PersistenVolumes`, which for _most_ cases are `ReadWriteOnce` (chartmuseum, registry, jobservice).
As a result

[2019-07-01 09:31] heww opened #8183 "Test image pulling and collect pulling time from nginx log"
What can we help you?

[2019-07-01 09:34] heww opened #8184 "Small concurrency step image pulling test"
eg concurrency from 1, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70 etc..

[2019-07-01 09:38] heww opened #8185 "Compare pull and push performances with docker distribution"
What can we help you?

[2019-07-01 09:44] heww opened #8186 "Image pulling test cross multi machines"
What can we help you?

[2019-07-01 09:52] heww opened #8187 "Test performance for list tags API"
What can we help you?

[2019-07-01 09:55] lmdkfs opened #8188 "replication failed to update the execution pq: invalid byte sequence for encoding "UTF8"
harbor info:
version: v1.8.1
i have two harbor server:
1.  10.10.104.41
2.  10.10.46.165
i create replication role on 1 server, test ok .The following error occurred while performing manual synchronization:
[code]

[2019-07-01 09:55] lmdkfs commented on #8188
How to solve

[2019-07-01 10:13] olhrabar commented on #8131
look at the logs:

[harbor_which_executed_replication_using_pull_to_enother_harbor.log](https://github.com/goharbor/harbor/files/3345050/harbor_which_executed_replication_using_pull_to_enother_harbor.log)
[harbor_which_should_get_replication_from_enother_harbor.log](https://github.com/goharbor/harbor/files/3345051/harbor_which_should_get_replication_from_enother_harbor.log)
[jobservice.log](https:

[2019-07-01 10:15] olhrabar commented on #8131
Yes, all was failed

[2019-07-01 10:31] ywk253100 commented on #8131
Got error in the logs of Jobservice:
[code]

The hostname `harbor-test6.test.net` cannot be resolved.

[2019-07-01 10:38] olhrabar commented on #8131
Yes I know it. This problem is came us after "harbor" installation. It is the first problem which can be resolved when edit /etc/hosts in the harbor-core.
But problem still present after this manipulation.

[2019-07-01 10:51] reasonerjt commented on #8061
After reviewing the proposal the whitelist will be stored in a table `cve_whitelist`

[2019-07-01 10:52] reasonerjt commented on #8061
fixed in #8075

[2019-07-01 10:52] #8061 closed

[2019-07-01 11:23] louyiping commented on #8089
Okay. Thanks.

[2019-07-01 11:25] Mierpo commented on #8069
What is the correct configuration for this in Harbor? We're also running into this issue. We're also using Gitlab. Our scope is slightly different though: read_user,openid,profile,email. Harbor version 1.8.1.

[2019-07-01 11:47] louyiping opened #8191 "How to recover database from registry directory ?"
Because of system disk damage , I can't login my harbor machine. And I lost harbor database in system disk but the registry directory /data/registry is still complete.
So I move this directory to a new machine and run a harbor instance.
I found that I can still pull images after creating empty corresponding project.
But the database is almost empty and show nothing in the web UI.
Is there a way I

[2019-07-01 12:18] reasonerjt commented on #8069
Well, conventionally you need the `offline_access`  to make sure OIDC provider returns the refresh token.
But that's provider specific setting, please check the manual of the OIDC provider you are integrating with.

[2019-07-01 12:21] jsimomaa commented on #7885
We are also experiencing this issue with GitLab OIDC. I tried to grep the log files but could not find anything related to this.

[2019-07-01 12:38] Mierpo opened #8192 "harbor.yml log-level warning breaks registry log-level assumptions"
**Expected behavior**
Expected behavior:
Log level "warning" provided to harbor.yml configures all containers correctly.

**Current behavior**
Providing this in harbor.yml:

[code]
Causes registry.log to be filled with:

And the container keeps restarting:

[code]

On the other hand, providing this in harbor.yml:

[code]

Causes installation to fail (as expected, when running install.sh)

  File "

[2019-07-01 12:40] nlowe commented on #7068
I haven't had a chance to upgrade my registry to 1.8 yet, but I don't think this made it in the last release.

[2019-07-01 20:17] chipzoller opened #8193 "Harbor auth reset from LDAP to Database"
**v1.7.5 (Enterprise PKS)**

When setting up LDAP auth in Harbor directly, some event occurred which saw that reset back to Database. After deleting all users, the auth mechanism cannot be changed back to LDAP. How can auth be reset without redeploying Harbor? Docs have no information on this that I can find.

[2019-07-01 22:15] afewell opened #8194 "delete operations from UI not sensitive to case, eg delete of "v1" also deletes "V1" in v1.7.5-a8f6543a"
If you are reporting a problem, please make sure the following information are provided:

In harbor v1.7.5-a8f6543a if you upload some image with image tag "v1", and also upload an additional copy of that same image with tag "V1", and then attempt to delete either one of the images, both images are deleted, indicating the delete function here is not properly recognizing case, and it should be case

[2019-07-01 22:47] michmike commented on #8034
@reasonerjt i like the facade idea and that's what i was thinking. and yes, we may run the risk of the image getting pulled twice. at the end, it will be up to the project admin to identify which interrogation services to use.

in a v2 fashion, we can see if we have any options to limit the number of pulls. for example, i know that partners like Aqua will only pull the image once and cache it loca

[2019-07-02 01:53] cailiangliang765 opened #8195 "Just wonder the storage location of Harbor of a pushed image"
Just wonder the storage location of Harbor of a pushed image? Many thanks !

[2019-07-02 02:48] louyiping commented on #8195
Default location is /data/registry .

[2019-07-02 03:07] jwangyangls commented on #8180
fix it in #8182

[2019-07-02 03:07] #8180 closed

[2019-07-02 03:08] jwangyangls commented on #8021
merge in #8098

[2019-07-02 03:08] #8021 closed

[2019-07-02 03:11] jwangyangls commented on #8104
merge in #8098

[2019-07-02 03:11] #8104 closed

[2019-07-02 03:11] jwangyangls commented on #8098
UI:
1, can view all of quota and usage of all projects.
2, can edit any of project quota, like enlarge storage.
3, can search
4, can order

[2019-07-02 05:27] venezia commented on #1362
Can this be re-looked at?  Being unable to delete a user (be it from ldap or oidc, etc.) is probably a worthwhile feature.  When I last checked, I'm still unable to do this within Harbor

[2019-07-02 06:16] chengjingtao commented on #3413
+1

There are many similar mechanism , like `git protected branch` or `released version of jar`.
In common production artifacts,  It is a really usefull feature to prevent the released version being changed.
It has some relations to feature of Image Signature, they have a same goal :  Makes people to beleve the artifacts is reliable.

I have some different thought about this feature except `Immuta

[2019-07-02 07:48] ercanyahsi opened #8197 "POST /projects/{project_id}/robots response content-type header is "text/plain" but should be "application/json""
We are using harbor API 1.8. POST /projects/{project_id}/robots endpoint returns json with "content-type" : "text/plain; charset=UTF8" response header. I assume "content-type" response header needs to be be "application/json".

[2019-07-02 08:00] reasonerjt commented on #8063
Push to later sprints as this is a cosmetic work with does not block functionality.

[2019-07-02 08:11] EmteZogaf commented on #5757
This issue is still not fixed. We get the same errors:
[code]

Please reopen!

[2019-07-02 08:16] #8108 closed

[2019-07-02 08:24] #7976 closed

[2019-07-02 08:25] ywk253100 commented on #7976
Done

[2019-07-02 08:25] ywk253100 commented on #7977
Done

[2019-07-02 08:25] #7977 closed

[2019-07-02 08:28] ywk253100 commented on #7978
Done

[2019-07-02 08:28] #7978 closed

[2019-07-02 08:31] ninjadq opened #8198 "Upgrade chart museum to latest version"
There is a bug in chart museum when repo name starts with API. And it has fixed in the latest version of helm-chart.

related issue #7068

[2019-07-02 08:46] wy65701436 opened #8199 "Update retag API for project quota"

[2019-07-02 09:01] lmdkfs opened #8200 "Swagger /internal/syncregistry error 415"
harbor info: version: 1.8.1

When I used swagger to call /internal/syncregistry interface, I got an error of 415, but used postman to call ok. and found that there was no header content-type: application/json, only "accept: application/json" , it solved. hope to fix this issue

[2019-07-02 10:00] lmdkfs commented on #7959
i had the same problem

[2019-07-02 10:04] cd1989 commented on #3413
+1

[2019-07-02 10:04] lmdkfs commented on #7959
i had the same problem

[2019-07-02 10:26] bovy89 commented on #7008
Same issue here:

harbor version: 1.8.1
docker engine version: 18.09.7
docker-compose version: 1.23.2, build 1110ad01
OS: CentOS 7.6

[2019-07-02 12:18] #8140 closed

[2019-07-02 12:21] YakirShriker opened #8202 "Replication tasks stuck in "InProgress" status"
I have some replication executions that stuck on InProgress mode
I am not able to stop them, getting Internal server error
what can I do more in order to remove the executions or mark them as Finished?
Log for execution: {"code":404,"message":"the log of task 90050 not found"}

[2019-07-02 12:58] rvanbutselaar commented on #7008
You can also create a systemd service (see config below). This wil start all Harbor Docker containers using systemd.

[code]

[2019-07-02 17:26] nshaik99 opened #8203 "private registry - error parsing HTTP 404 response body: invalid character '<' looking for beginning of value: "\n\n\n"
This is working:
I have created harbor with clair , can successfully push the images directly using backend node name.

THIS IS NOT WORKING:
I have created harbor with clair
a)docker-compose down
b) updated hostname with nginx url name
c) commented proxy_set_header X-Forwarded-Proto $scheme;
from common/config/nginx/nginx.conf
d) docker-compose up -d

docker login
Username : username
Password:
Log

[2019-07-02 21:48] luckyraul opened #8204 "Openstack Swift retrying"
[code]

swift api v1.0
[code]
[code]

[code]

[code]

I can see files on the swift container :
[code]

[2019-07-02 22:21] javierpi commented on #694
+1 for this and use with gitlab

[2019-07-03 01:13] xiliangMa commented on #7226
ok， this version is old,  and we are using version 1.8 now.

[2019-07-03 01:13] #7226 closed

[2019-07-03 01:41] #6669 closed

[2019-07-03 01:54] michmike commented on #7519
/assign

[2019-07-03 02:19] reasonerjt commented on #8198
https://github.com/helm/chartmuseum/issues/254
0.9.0 is the one we should consume, please make sure run some regression after bumping up @ninjadq

[2019-07-03 02:32] ywk253100 commented on #8202
What is the version of Harbor that you are using?

[2019-07-03 03:57] sudhakarau1 opened #8205 "Harbor Certificate download missing in UI"
If you are reporting a problem, please make sure the following information are provided:

**Expected behavior and actual behavior:**
https://github.com/goharbor/harbor/blob/master/docs/user_guide.md#pulling-and-pushing-images-using-docker-client shows a screenshot with a Download Certificate link which I can'f find in the UI in 1.8.1

**Steps to reproduce the problem:**
Please provide the steps to

[2019-07-03 06:17] #7864 closed

[2019-07-03 06:23] louyiping commented on #8191
The problem's been solved.Close the issue.

[2019-07-03 06:23] #8191 closed

[2019-07-03 06:32] ywk253100 commented on #7975
Done by #8159.

[2019-07-03 06:32] #7975 closed

[2019-07-03 06:59] louyiping opened #8207 "How about label replication ?"
In our situation, label is useful. We have four harbor instances and the number will increase at any time. And a central harbor replicate images to other instances.
Labeling is the responsibility of another team so they only want to labeling the central instance. But we need every harbor instance has labels. As I known, harbor do not support label replication yet. Can we implement it ? Thanks.

[2019-07-03 07:19] mumrau commented on #8207
#7762 it was part of harbor in the past, has been removed for target `1.8.0`.
It will be re-added, the PRs has already been merged: #8159 #8178 .

Discussed in #7975 and some others as well.

[2019-07-03 07:21] mumrau commented on #7975
Is the target still `1.9.0`, won't get released before?

[2019-07-03 07:23] MaGaoju commented on #8205
please try : put the ca.crt to data/ca_download manually.

[2019-07-03 07:32] YakirShriker commented on #8202
1.8

[2019-07-03 07:46] louyiping commented on #8207
I looked at this PR is about filtering according to the label when replicating. But my requirement is to replicate the label it carries when replicating this image.

It just like if the source image has the label "used in prodcution" and after replication the target image also has this label.

[2019-07-03 07:48] mumrau commented on #8207
Oh makes sense, I misread it. My apologies.

[2019-07-03 08:02] reasonerjt commented on #8130
Thanks for reporting @loosi @cafeliker

Root cause is that the `helm push` is using a different api prefix from `helm fetch` so the OIDC filter skipped the request of uploading a chart.

Sorry for the inconvenient, for now please workaround by using the UI to upload the chart

[2019-07-03 08:32] ninjadq commented on #8205
you need put ca file to `$DATA_VOLUMN/ca_download` directory

[2019-07-03 08:55] ninjadq commented on #8195
@cailiangliang765 you can also change the location of /data on `harbor.yml`

[2019-07-03 08:55] #8195 closed

[2019-07-03 09:13] ninjadq commented on #8203
is backend node name an IP address? and you want to use another nginx in front of harbor as an LB? If you are in this scenario,  you can try to set the `exeternal_url` in `harbor.yml`

[2019-07-03 09:19] ninjadq commented on #8204
Are your configured correctly? can you provide your swift's log?

[2019-07-03 09:20] erwinntt commented on #8017
We from NTT DATA also evaluate Harbor with OIDC (Keycloak). But currently we can not use it because there is no way to map Keycloak roles to Harbor groups.

The solution could be JWT as used in the OpenDistro Elasticsearch. After a login with Keycloak a JWT access token is retrieved that looks like this:

[code]

As you can see there is a `roles` there with `admin` as the role. This is then mapped

[2019-07-03 09:36] bonniechen1119 opened #8211 "Unable to add a registry endpoint when provider is docker-registry"
1.We have build a docker private registry, such as https://docker-registry.miotech.com:5000,
and docker login docker-registry.miotech.com:5000 successfully
2.However when we add new Registry Endpoint and select Provider as docker-registry
3.When Endpoint URL set as https://docker-registry.miotech.com:5000 and input Access ID and Access Secret, it meet error: registry https://docker-registry.miotec

[2019-07-03 09:37] bonniechen1119 commented on #8211
Harbor version is 1.8

[2019-07-03 10:36] Logibox commented on #7897
I found this happens when using Skopeo too. The funny thing is the images can still be pulled after upload and work fine, they just don't show up in the GUI. Perhaps the harbor GUI does not support OCI images, despite the registry working fine with them.

[2019-07-03 12:10] reasonerjt commented on #8164
@michmike are you talking about supporting SAML via UAA?

[2019-07-03 12:54] Logibox commented on #7897
A workaround that I use is the `--format=v2s2` for skopeo and everything works fine. I think the problem here is the registry used by harbor advertises OCI support but the rest of the services in harbor do not support it.

[2019-07-03 13:49] josephlim75 opened #8215 "Sonatype Nexus3 Registry support"
In our company, we store all our artifacts in `SonaType Nexus3 OSS` including docker images.  I have tried configuring `goharbor` replication to `Nexus3 Docker` registry but it is giving `ping` error.  When I look at the registry adapter, I only see the following support:

- huawei
- awsecr
- azurecr
- dockerhub
- googlegcr
- harbor
- native

Is there any plan to support registry replication adapt

[2019-07-03 13:49] steven-zou commented on #8145
Code merged, close the issue.

[2019-07-03 13:49] #8145 closed

[2019-07-03 13:58] cailiangliang765 commented on #8195
Many thanks for your information.

[2019-07-03 14:03] michmike commented on #8164
@reasonerjt  that's one option (UAA with SAML). the other is supporting UAA via OIDC and seeing if that works. what do you think is the best approach?

[2019-07-03 15:50] nshaik99 commented on #8203
Thank you for the response.

these steps I followed
1)# docker-compose down
2) updated harbor.yml   with    external_url: http://<external nginx url name>
I left hostname: <external nginx hostname>
3)docker-compose up -d

still the same issue:
a) UI still works  with  external nginx url
b) docker login with external nginx url   success

but  docker push failed
docker push <external nginx url>/hell

[2019-07-03 16:02] luckyraul commented on #8204
swift logs - no.
The empty container was before install, now it contains files. I guess at least connecting and writing is working

[2019-07-03 16:08] nshaik99 commented on #8203
tried other way  using  netscalar vip got different issue

configured netscalar  vip  infront of  harbor node real IP.

everything works with harbor node real IP.

with vip,  URL open the harbour login page but not going anywhere after entering credentials, no error .. nothing.

[2019-07-03 18:59] jcmartins commented on #8215
+1

[2019-07-03 20:47] bansalrajat commented on #7959
yeah..i have used that .thanks .

[2019-07-03 20:47] #7959 closed

[2019-07-04 01:37] koulq commented on #8068
@reasonerjt @ywk253100 同步的问题有解了吗？

[2019-07-04 02:20] ywk253100 commented on #8202
Could you provide more information about that? Some screenshots may be helpful. And upload all logs.

[2019-07-04 02:38] ywk253100 commented on #8131
@olhrabar Could you show me the logs of failed task? You can get it in the portal by entering the task list and client the log icon:
![tasklog](https://user-images.githubusercontent.com/5835782/60636103-b7800d80-9e47-11e9-9543-d5c2f9e44f68.png)

And also package all logs of the source and destination Harbor instances and upload them. The logs is stored under directory `/var/log/harbor` by default.

[2019-07-04 02:46] drehpehs commented on #8017
Agree with @Hokwang
I think harbor doesn't need to verify the group existed or not in LDAP or OIDC.
Currently in Jenkins with Openid Connect setting, we still can assign user/group to roles without checking the existence. Users have no permission in the role because they are not in that nonexistent group.

[2019-07-04 02:51] ywk253100 commented on #8068
@koulq Please package all logs of the source(1.8) and destination(1.6) Harbor instances and upload them.
Maybe it is related with https://github.com/docker/distribution/issues/2625. We need to check the logs first

[2019-07-04 02:53] ywk253100 commented on #8062
Closing due to inactivity.

[2019-07-04 02:53] #8062 closed

[2019-07-04 02:54] #8089 closed

[2019-07-04 02:55] ywk253100 commented on #7961
Closing due to inactivity.

[2019-07-04 02:55] #7961 closed

[2019-07-04 03:44] wy65701436 opened #8216 "Add helm cli test cases in E2E"

[2019-07-04 03:48] steven-zou commented on #8215
@josephlim75

You can implement this driver by yourself, it's very easy, just several interface methods. You can also use the existing drivers as examples.

Btw, per the limitations of resource, we can not support all kinds of registry drivers, most of those d drivers really need help from the community. Welcome to do contributions!

[2019-07-04 03:55] steven-zou opened #8217 "Make chart repository as default support in harbor"
Currently, you need to enable chart repository with extra options when installing Harbor. Make it as default should be a better way.

[2019-07-04 03:57] steven-zou opened #8218 "Add `make clean` to clean the intermedia files generated through the make build process"
Add `make clean` to clean the intermedia files generated through the make build process

[2019-07-04 06:33] reasonerjt commented on #8193
Could you try the approach described in the FAQ?
https://github.com/goharbor/harbor/wiki/Harbor-FAQs#authentication

[2019-07-04 06:34] reasonerjt commented on #8177
After initialization, the OIDC provider will only refresh upon the configuration is changed, so when the key rotate the provider may be using a expired key to verify the token which results the problem.

[2019-07-04 07:39] jessehu opened #8219 "Add new option --hostname for install.sh to specify the hostname or IP"
**Is your feature request related to a problem? Please describe.**
For a newbee to install Harbor on a single machine, the minimum requirement is manually setting hostname in harbor.yml.

**Describe the solution you'd like**
Add new option --hostname for install.sh to specify the hostname or IP. As a result, the user can run 'install.sh --hostname fqdn_or_ip' to install Harbor with minimum feature

[2019-07-04 07:56] #8130 closed

[2019-07-04 08:46] bonniechen1119 opened #8222 "Unable to get HELM_CHART.NO_DETAIL and helm fetch and helm install when install harbors after LB"
What can we help you?
1.We install two Harbor 1.8 with share db and redis and file, and for example the two server private ip is 1.1.1.1 and 1.1.1.2
2.And setup nginx to LB to access those two Harbor registry
3.We can pull and push images to Harbor successfully and also we can helm push and helm repo update successfully
4.However when we do helm fetch or helm install it meets error ,
the error is

[2019-07-04 09:33] YakirShriker commented on #8202
Hi! thanks for replying.
Example of one execution:
**Proxy log**
Jul  4 12:28:11 172.18.0.1 proxy[30933]: 192.168.14.196 - "GET /api/replication/executions/90198 HTTP/1.1" 200 191 "https://ctvr-dcr01.
int.liveperson.net/harbor/replications/90198/tasks" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_4) AppleWebKit/537.36 (KHTML, like Ge
cko) Chrome/73.0.3683.75 Safari/537.36" 0.005 0.005 .
Jul  4 12

[2019-07-04 10:47] stsuse commented on #8131
I have the same issue with the following error on transfer.
![Harbor sync error](https://user-images.githubusercontent.com/46018708/60661076-74c73100-9e59-11e9-9844-0b4fbe045844.png)

[2019-07-04 11:29] reasonerjt commented on #8207
@louyiping thanks for raising the issue, but I don't think it's a very common usecase, esp. think that there's no real "slave" mode of Harbor, so when you replicate the label from one instance to another, how do you handle the conflict?

It may be possible we think about replicating "project level" labels when project does not exist on target instance, but based on the feedback users are more like

[2019-07-04 11:33] reasonerjt commented on #8200
It is a by design that you have to add the header, to mitigate the risk for XSRF attack.

[2019-07-04 14:47] kumy opened #8224 "Change directory permissions in harbor-db data directory"
**Expected behavior and actual behavior:**
The `goharbor/harbor-db:v1.8.0` docker image doesn't fix the `data` directory permissions in the `docker-entrypoint.sh`. Postgres refuse to start if the permission are not set to `0700`.

**Steps to reproduce the problem:**

* Create a data directory: `mkdir /tmp/test-db && chmod 0775 /tmp/test-db`
* launch service one time: `docker run -it -v /tmp/test-d

[2019-07-05 02:32] ywk253100 commented on #8202
Cannot find any error message in the logs you provided. Could you package all logs and upload them?

[2019-07-05 02:37] ywk253100 commented on #8131
@stsuse Could you share me the helm chart you are replicating so that I can try it in my environment and find the root cause for that?

[2019-07-05 02:50] ywk253100 commented on #8211
What is the auth provider for your docker registry? https://github.com/docker/distribution/blob/master/docs/configuration.md#auth

[2019-07-05 02:59] wi-cuckoo commented on #8069
@reasonerjt  yeah, I noticed the `offlie_access` scope，but the gitlab doesn't support it, that's confusing. I don't know how to solve this problem, except for modifying source code in harbor to extend the token expiration manually

[2019-07-05 03:30] reasonerjt commented on #8069
@wi-cuckoo I checked the doc:
https://docs.gitlab.com/ee/api/oauth2.html
Could you verify using `curl` command to see if your gitlab returns `refresh_token` or not?
Additionally you should not modify Harbor's code to extend the token, because the token is returned by gitlab?

[2019-07-05 03:31] liyongzhezz opened #8225 "replicate image error"
hi，I got an error when I replicate image from another harbor server
`
[ERROR] [transfer.go:204]: an error occurred while creating project basic_platform on http://test.harbor.com with user admin : failed to create project basic_platform on http://test.harbor.com with user admin: 301
`

both harbor are v1.2.2, and have already created project `basic_platform`
replicate from harbor A(https) to harbo

[2019-07-05 04:12] louyiping commented on #8207
In our usage scenario, we deployed a harbor instance in a IDC, and then synchronized from the harbor instance of the company's local development IDC to the harbor instance of each production environment IDC. So what I want is that the harbor instances of each environment are completely consistent. This can also be used as a disaster recovery solution. When one harbor is hung, you can switch to ano

[2019-07-05 05:32] danfengliu opened #8227 "Add CVE white list to nightly tests"

[2019-07-05 07:02] yahirun opened #8228 "Unable to add registry endpoint"
Docker version        :18.09.7
docker-compose version:1.24.1
harbor version        :1.8.1

I failed to add new registry endpoint(https://hub.docker.com).
![faild_to_ping_endpoint](https://user-images.githubusercontent.com/40496721/60703696-67837280-9f3d-11e9-8f43-4a97b0e6f9bb.png)

・core.log
[code]

How can I solve this?

I confirmed the following.
・docker proxy setting
[code]
Docker pull from Doc

[2019-07-05 07:20] jwangyangls commented on #8153
@arsulesandy add-member.component, helm-chart.component

[2019-07-05 07:55] stsuse commented on #8131
Hi

I tried the same scenario with postgresql with the same result as our internal helm charts.
2019-07-05T07:45:01Z [INFO] [/replication/transfer/chart/transfer.go:88]: client for source registry [type: harbor, URL: https://application-service-factory.connect365.net/, insecure: true] created
2019-07-05T07:45:01Z [INFO] [/replication/transfer/chart/transfer.go:98]: client for destination registry

[2019-07-05 07:55] lixiaofei123 commented on #8069
the same question，login is expire after about 120 seconds,and i have to login harbor again and get new password to push image

[2019-07-05 08:29] jsimomaa commented on #8069
@reasonerjt I did some testing with our GitLab and here is the results of `curl`:

[code]

So indeed a `refresh_token` is returned. Then I found [this issue](https://gitlab.com/gitlab-org/gitlab-ce/issues/44485) that mentioned that `id_token` might or might not be present when invoking a refresh request. I tested this via:

[code]

And indeed it seems that the `id_token` is somehow missing from th

[2019-07-05 08:53] Poil opened #8229 "Random 500 error with clair scanner/pull image"
Hi,

Since 1.8.0 I have randomly a 500 error when pulling an image.
In the log I can see that Clair give a 500 error

It seems to be related to postgresql "Too many clients already"
I can't find in your documentation how to increase this number

**Versions:**
Please specify the versions of following systems.
- harbor version: 1.8.0
- docker engine version: Docker version 18.03.0-ce, build 0520e24

[2019-07-05 09:02] Poil commented on #8229
Ok I've changed in /data/database/postgresql.conf we will see if it's enough

[2019-07-05 10:28] louyiping commented on #3413
Also meet this issue. We need it.

[2019-07-05 13:14] Poil commented on #8229
I've near 300 connections on the postgresql databases, it seems to be stable, so I close this ticket

[2019-07-05 13:14] #8229 closed

[2019-07-05 16:46] Marki4711 opened #8231 "Replication from docker-registry not working"
If you are reporting a problem, please make sure the following information are provided:

**Expected behavior and actual behavior:**
The image of the source docker registry ist replicated to the local Harbor-Instance.

**Steps to reproduce the problem:**
First create new registry endpint:
- Provider: docker-registry
- Name: ElasticSearch
- Endpoint: https://docker.elastic.co
=> Test Connection
=>

[2019-07-05 19:26] jsimomaa commented on #8069
Seems like I had the wrong scope `api` when I did the initial authorization. With scope `openid` the `curl` invocations become:

[code]

And refresh request:

[code]
So actually the `ìd_token` is present on the refresh response.

I did some more investigation and here are the relevant log entries for both `/var/log/nginx/gitlab_access.log` and `/var/log/harbor/core.log`:

`/var/log/nginx/gitlab_ac

[2019-07-06 03:36] fyqls opened #8232 "Add Image Tag BlackList And WhiteList"
push image tag has not been checked,  manager clean image very tired

[2019-07-07 04:42] kenneyhe-snapdocs opened #8233 "Replication from us-west-2 harbor to us-east-1 harbor failed with items"
If you are reporting a problem, please make sure the following information are provided:

**Expected behavior and actual behavior:**
Expect harbor to harbor using admin account works with public library or private repo using manual trigger.  Although 0 item replications works from west harbor to east harbor, that is it.

**Steps to reproduce the problem:**
Please provide the steps to reproduce thi

[2019-07-07 05:03] ryan4yin commented on #7008
thanks, this works for me.

[2019-07-07 23:00] cromefire opened #8234 "Handler crashed with error runtime error: invalid memory address or nil pointer dereference"
**Expected behavior and actual behavior:**
The pull fails with http 500 and this error happens
[code]

**Steps to reproduce the problem:**
It happens on pull of an image which is in the backend storage, but from a project that does not exist

**Versions:**
Please specify the versions of following systems.
- harbor version: `1.7.12`
- docker engine version: `N/A` (AKS provided one)
- docker-compose

[2019-07-08 02:12] reasonerjt commented on #8234
@ywk253100 seems it should be more defensive here?

[2019-07-08 02:58] ywk253100 commented on #8233
@kenneyhe-snapdocs The dev images are under development and not stable, please use the release version instead.

[2019-07-08 03:04] ywk253100 commented on #8231
@Marki4711 Can you call the API without any credential?
`curl -i -k https://docker.elastic.co/v2/elasticsearch/elasticsearch/tags/list`

[2019-07-08 04:30] ninjadq commented on #8228
did you fill in the `Access ID` and  `secret` field?

[2019-07-08 04:33] ninjadq commented on #8225
hi, @liyongzhezz can you use the latest stable version of harbor? your Issue may be solved

[2019-07-08 04:36] liyongzhezz commented on #8225
@ninjadq Harbor does NOT support replicate between different version, so I can not use the latest version.

[2019-07-08 04:51] ywk253100 commented on #8228
The proxy configured for docker daemon doesn't work for containers, you need to configure it for container itself.
Currently, the replication  service doesn't pick up the proxy configurations, and we have opened an issue https://github.com/goharbor/harbor/issues/7981 to track the work, it should be supported in 1.9.

[2019-07-08 05:36] Marki4711 commented on #8231
`asticsearch/tags/list]# curl -i -k https://docker.elastic.co/v2/elasticsearch/el
HTTP/1.1 401 Unauthorized
Content-Type: application/json; charset=utf-8
Date: Mon, 08 Jul 2019 05:33:44 GMT
Docker-Distribution-Api-Version: registry/2.0
Www-Authenticate: Bearer realm="https://docker-auth.elastic.co/auth",service="token-service",scope="repository:elasticsearch/elasticsearch:pull"
X-Content-Type-Opti

[2019-07-08 05:41] yahirun commented on #8228
@ywk253100
Thank you for your reply.
I configured the proxy in the following way.
[code]
As a result, I could add registry endpoint.

Thanks.

[2019-07-08 05:52] bonniechen1119 commented on #8211
We use htpasswd

[2019-07-08 06:25] danfengliu opened #8236 "Unable to edit replicaiton rule, "Source" downlist is empty, but there should be a drop down list with item image and chart"
**Reproduce Steps:**

1. Add a replication rule with dockerhub registry;
2. Edit this rule by switch dockerhub registry to another harbor source registry;
3. Then "Source" drop down list is empty, there should be a drop down list with item image and chart

![image](https://user-images.githubusercontent.com/44018302/60787185-8e36e880-a18b-11e9-88b2-22713ff73241.png)

**Harbor  Version:** v1.9.0-c29

[2019-07-08 06:49] Poil commented on #7852
Thanks,
I had to do that
[code]

[2019-07-08 07:19] YakirShriker commented on #8202
Hi attaching logs
https://drive.google.com/file/d/1dC-TOq58Jvh6rSeJDUqhfx9riJ8nVqlc/view?usp=sharing

[2019-07-08 08:52] stonezdj commented on #7999
Document added

[2019-07-08 08:52] #7999 closed

[2019-07-08 09:37] kurbar commented on #7885
Same issue occurs when using OIDC with Office365. Seems to be a general issue. Trying to see if I can dig up anything else.

[2019-07-08 09:39] Doublemine commented on #7885
I solved this problem by [dex](https://github.com/dexidp/dex/). Maybe you can try it.

[2019-07-08 09:57] ywk253100 commented on #8231
The response code 401 of the curl command shows that you cannot call it without credential. So you need to input the username/password when creating the registry endpoint.

[2019-07-08 09:59] kurbar commented on #7885
I did some debugging with https://openidconnect.net/ and Microsoft does respond with the email and looking at dex, the object syntaxes are correct for both so there should not be any issues for the email to be fetched. I checked the controllers/oidc.go source and the interface for marshalling looks correct as well but for some reason the email just comes up empty.

[2019-07-08 10:01] Marki4711 commented on #8231
But I can do a docker pull of the desired image without providing any credentials. (no docker login necessary)

My assumption was, that a sync should be possible if a normal pull is possible. Is this incorrect?

[2019-07-08 12:07] sh3tb3rd opened #8242 "LDAP authentification - server error 500 (v.1.8.1)"
Harbor Version: 1.8.1
Docker Version: 18.09.7
Docker Compose Version: 1.24.0

When trying to establish a LDAP authentification with the current version, I always get another server error 500. This issue is not present when using Harbor version 1.7.5.

These are the Harbor core logs:

Jul  8 13:52:30 172.22.0.1 core[3241]: 2019-07-08T11:52:30Z [ERROR] [/common/config/manager.go:192]: failed to get

[2019-07-09 01:47] steven-zou commented on #6660
Per our discussion, @nlowe will take cover this task

[2019-07-09 01:48] steven-zou commented on #6661
Per our discussion, @nlowe will cover the implementation of this task

[2019-07-09 01:52] steven-zou commented on #7933
@nlowe

About the DAO code, is it adapting to the model proposed in the patch proposal PR? @bitsf will help to implement this part.

[2019-07-09 01:53] steven-zou commented on #6664
Launch the retention @ywk253100

[2019-07-09 01:55] steven-zou commented on #6663
@ywk253100

Mapping to the retention execution work.

[2019-07-09 01:56] steven-zou commented on #6665
@ywk253100

Mapping to the scheduler work

[2019-07-09 01:59] steven-zou commented on #6656
Mapping the work of builder and processor

[2019-07-09 02:28] rbhuang opened #8243 "no way to config multi-hostname for a single harbor instance"
Our scenario is we have deployed Harbor in our data center and we have internal and external hostnames for harbor instance. We are trying to use CI to push images to Harbor's internal hostname. Other systems may fetch the images from Habor through either internal or external hostnames. I found Harbor only support one hostname so I would like to seek your help to check how to config Harbor to suppo

[2019-07-09 03:08] bitsf commented on #7933
I draft the DAO struct here.

type RetentionPolicy struct {
	ID int64
	// 'system', 'project' and 'repository'
	ScopeLevel string
	ScopeReference int64
	TriggerKind string
	TriggerSettings string
	// json format, include algorithm, rules, exclusions
	Data string
	CreateTime time.Time
	UpdateTime time.Time
}

type RetentionExecution struct {
	ID int64
	PolicyID int 64
	Status string
	StatusText str

[2019-07-09 06:07] thegasmann commented on #8242
Looks like the problem resides in the UI.

When you enter the ldap connection data and hit [TEST LDAP SERVER] immediately it fails (I've seen Error 500 and Error 401). When you first hit [SAVE] and then [TEST LDAP SERVER] it works.

[2019-07-09 06:08] reasonerjt commented on #8243
I don't think of good resolution because before read/write to registry you need to fetch a token via the endpoint: https://github.com/goharbor/harbor/blob/master/make/photon/prepare/templates/registry/config.yml.jinja#L31

My very immature thought, maybe you can try to modify the config.yml of registry after installation of Harbor according to
https://docs.docker.com/registry/configuration/
to ena

[2019-07-09 06:08] kenneyhe-snapdocs commented on #8233
fixed after downgrade to:
    repository: goharbor/harbor-core
    tag: v1.8.1

    repository: goharbor/harbor-jobservice
    tag: v1.8.1

    repository: goharbor/registry-photon
    tag: v2.7.1-patch-2819-v1.8.1

please test stability issue in future release for replication. closing it for now.

[2019-07-09 06:08] #8233 closed

[2019-07-09 06:09] reasonerjt commented on #8242
[code]

Looks like the setting is not saved?

[2019-07-09 06:17] reasonerjt commented on #8065
Fixed in https://github.com/goharbor/harbor/pull/8179

[2019-07-09 06:17] #8065 closed

[2019-07-09 06:20] reasonerjt commented on #8232
The work in tag retention may help the manager to clean images?
https://github.com/goharbor/community/pull/89

I don't understand how blacklist and whitelist is used to help manager clean image.

[2019-07-09 06:44] caparisi commented on #7316
Same issue on 1.4. After upgrade to 1.8.1 this is issue persist, but the workaround fix it (thanks !). We are looking forward to version 1.9.0 !

[2019-07-09 06:58] #8071 closed

[2019-07-09 06:59] sh3tb3rd commented on #8242
Thank your, this solved my problem. Closing the issue now.

[2019-07-09 07:20] MaGaoju opened #8247 "unable to delete image with notary install but not enabled"
Harbor version 1.8.0
steps:
1. push an un-signed image to existing harbor project
2. select this image and click delete on the web UI.
3. UI shows delete success, but image still exist.
![image](https://user-images.githubusercontent.com/13995442/60867262-03262300-a25d-11e9-8657-88c7209f8be1.png)

4. check log it shows:
Jul  9 03:04:41 172.25.0.1 core[1215]: 2019-07-09T03:04:41Z [ERROR] [/common/ut

[2019-07-09 08:05] MaGaoju commented on #8247
looks like once I install notary, when I delete un-signed image, it will check the Signatures. I think the logic should be if enable content trust checked on UI, it will check Signatures.  correct me if my understanding was wrong.

src/core/api/repository.go
func (ra *RepositoryAPI) Delete() {
..................
	if config.WithNotary() {
		signedTags, err := getSignatures(ra.SecurityCtx.GetUsernam

[2019-07-09 09:04] IliaGershenzon opened #8248 "Allow robot account to delete images in a project"
We need the ability to allow the robot account to delete images.
The user guide states that robot account can only push or pull, we use the lifecycle of the images with this robot account, and it can't delete the images it pushed :(

[2019-07-09 09:10] ywk253100 commented on #8131
@stsuse I mean the chart that you are replicating. Could you upload it so that we can try to reproduce the issue?

@olhrabar Could you provide more information as I mentioned in comment: https://github.com/goharbor/harbor/issues/8131#issuecomment-508316655?

[2019-07-09 09:14] schzrj opened #8249 "根据label_id查询仓库tags返回结果中包含了不符合条件的tag"
![image](https://user-images.githubusercontent.com/8553420/60875364-46d45900-a26c-11e9-89d3-34d6778123b2.png)
1、在该段代码逻辑中，查询所有镜像类型的resource，然后对于类型为‘g’的label，会存在不同仓库下的镜像关联同样id的label，导致查询到的resource_label数据不只是当前指定仓库的数据
2、基于1的结果，做循环获取tag时，包含了不是该仓库下的镜像tag，最终根据label过滤当前仓库下镜像tag的数据不准确

是否应该在循环时根据resource_name只过滤当前仓库的tag?

[2019-07-09 09:23] Cloudzp opened #8250 "can't create a new project"
If you are reporting a problem, please make sure the following information are provided:
 i can't create a new project in portal or swagger api!
**Expected behavior and actual behavior:**
![image](https://user-images.githubusercontent.com/25190767/60875613-cfeb9000-a26c-11e9-9a45-47a5677ece59.png)
**Use api create project**
![image](https://user-images.githubusercontent.com/25190767/60875683-f1e51

[2019-07-09 09:44] danfengliu opened #8251 "Add test steps for nightly test "List Helm Charts""
In nightly test case "List Helm Charts", in the end of this case, chart files were deleted, but it's not verified, so there should be a verification test step to make sure there's no chart file record in GUI.

[2019-07-09 10:05] #8085 closed

[2019-07-09 10:16] heww opened #8252 "Database connection pool configurations support"
What can we help you?

[2019-07-09 10:46] stsuse commented on #8131
I noticed the same result with a standard chart.

2019-07-09T10:39:11Z [INFO] [/replication/transfer/chart/transfer.go:88]: client for source registry [type: harbor, URL: https://application-service-factory.connect365.net/, insecure: true] created
2019-07-09T10:39:11Z [INFO] [/replication/transfer/chart/transfer.go:98]: client for destination registry [type: harbor, URL: http://harbor-harbor-core,

[2019-07-09 11:02] steven-zou opened #8253 "Implement tag retention UI"
Mockup:
https://www.figma.com/proto/0bSkyzvchcOCrwSWROIivtIb/Harbor-v1.9?node-id=521%3A37213&viewport=1636%2C1073%2C0.9472222328186035&scaling=min-zoom

[2019-07-09 11:10] thegasmann commented on #8242
I'd not not close the issue.
I believe it should be fixed so that the UI works as expected where [SAVE] saves the data and [TEST LDAP SERVER] tests the connection (but does not save data since we might overwrite sth which did work, right?)

[2019-07-09 13:48] chipzoller commented on #8193
Thanks, I did not see that FAQ but already redeployed Harbor. I'll keep this in mind for next time. It seems there's a bug in this version of Harbor whereby LDAP auth is getting reset to Database if it can't contact the LDAP server specified.

[2019-07-09 13:56] olhrabar commented on #8131
The logs icon is absent in my Harbor version 1.8.1

[2019-07-09 14:29] knoppiks commented on #4868
Hi, I'd like to reopen discussion on this. Has anyone knowledge and time to address the problem or are there any other plans to mitigate the issue?

We currently set up harbor and are moving to from our old registry. The issue of multiple images being deleted if one wants to delete a specific tag just came up. (#6994)

[2019-07-10 02:31] ywk253100 commented on #8131
@stsuse I cannot reproduce the issue in my environment.

[2019-07-10 02:32] nlowe commented on #7933
@steven-zou All of the code I have worked on so far was written before the proposal update was a thing, so it'll need some work but can probably serve as a good starting point.

[2019-07-10 02:47] fwhezfwhez opened #8254 "Nginx 80 conflicts"
My cloud linux has already configured nginx using 80. When I try to install harbor, I find it has an image `goharbor/nginx-photon:v1.8.1` and conflict on port 80.

How to fix it

[2019-07-10 02:56] reasonerjt commented on #8254
You can shutdown the nginx on your linux, or bind to other port in by updating `harbor.yml`

[2019-07-10 03:00] reasonerjt commented on #8249
@schzrj what was the api?

[2019-07-10 03:03] reasonerjt commented on #8250
@Cloudzp

Did you deploy Harbor using helm chart?  This maybe a problem in your k8s cluster.

Could you `curl` and see what's the error.  If it's timeout please debug and see if the request reached the pod.

[2019-07-10 03:06] reasonerjt commented on #8247
The code you paste does not print the log message in the description.
I'll try to reproduce the issue in next couple of days.

[2019-07-10 03:38] fwhezfwhez commented on #8254
3q, I change harbor.yml http port and fix it.

[2019-07-10 03:49] nlowe commented on #6655
@steven-zou With the updated boilerplate in `feature/tag_retention` I'm good to count this as done if you are.

[2019-07-10 04:27] fwhezfwhez opened #8257 "backend server 502"
with config `harbor.yml` :

[code]

Follow install guide,I successfully run `./deploy.sh`, and visit admin page in my host. But got
    - admin/Harbor12345    密码错误(wrong username/password)

Then I open dev tool found questions below:

`main.b00c0996867f0d86fbb3.js:1 GET http://ftcrone.com/api/systeminfo 502 (Bad Gateway)`

`GET http://ftcrone.com/api/users/current 502 (Bad Gateway)`

`POST http://

[2019-07-10 06:32] fwhezfwhez commented on #8257
I add `extern _database`  locally and then it'ok.
Did this mean the official postgresql container doesn't run well?

[2019-07-10 08:16] mmpei opened #8261 "Webhook Task: add webhook policy management."

[2019-07-10 08:19] mmpei opened #8262 "Webhook Task: add event trigger"

[2019-07-10 08:20] mmpei opened #8263 "Webhook Task: add webhook job handler"

[2019-07-10 08:20] mmpei opened #8264 "Webhook Task: add webhook job management"

[2019-07-10 08:22] mmpei opened #8265 "Webhook Task: UI support policy manangement"

[2019-07-10 08:22] mmpei opened #8266 "Epic: Support webhook in Harbor"

[2019-07-10 08:23] reasonerjt commented on #8257
Not sure how this `abc123` came to the settings by looking at your harbor.yml
Did you customize anything to set such value?

[2019-07-10 08:23] #8254 closed

[2019-07-10 08:27] fwhezfwhez commented on #8257
no, I didn't.
I can't find where this value come from so I guess program inner core might contain this hard code.

[2019-07-10 08:27] reasonerjt commented on #8072
The manager of project metadata is tied to `k-v` structure, so the `cve_whitelist` attribute is added to `ProjectRequest` so user can manage the project level CVE whitelist in the request to update project.

[2019-07-10 08:28] reasonerjt commented on #8072
Fixed in #8238

[2019-07-10 08:28] #8072 closed

[2019-07-10 08:31] reasonerjt commented on #8257
You can go through the code in this repo and find there's no such hard code...
Could you check the env var of `core` container?

[2019-07-10 09:59] Logibox opened #8268 "Clarification of OCI image support"
I was wondering if someone could clarify gohabor's position on [OCI images](https://github.com/opencontainers/image-spec)? The builtin registry claims support for it, but the surrounding tools don't seem to work which leads to issues like #7897. Thanks!

[2019-07-10 10:00] mmpei opened #8269 "Webhook Task: UI support global configuration of webhook enable/disable"

[2019-07-10 10:05] edenbuaa opened #8270 "[Issue] always retrying when push image"
step to reproduce:
1. tag a image : docker tag centos:1.0 myhub.com/centos:1.0
2. push to harbor: docker push myhub.com/centos:1.0

then the push process will run into retrying all the time.
my problem is how to push a image without creating a project ?
thanks for any suggestion.

[2019-07-10 11:13] packyzbq opened #8271 "1.7.5 Wrong user or password"
Hi, I got a problem when I used docker-compose to setup harbor.  At first, I setup harbor normally, and then execute `reboot` .  After the node power on and all components running,  I cannot use admin login with my costumed password, also the default password "Harbor12345".

I have encountered this situation several times，but it cannot be reproduced reproducibly. I don't know if there's a bug.

**

[2019-07-10 13:35] wToad commented on #7969
Hi,

When you have a `$` symbol in a command-line and you're working a bit with any shells, you suppose to know it should be with quotes not to interpret it as an environment variable.

[2019-07-10 13:56] wToad opened #8272 "Robot Accounts for several projects"
Hello,

**Is your feature request related to a problem? Please describe.**
I wanted to create a robot account for some clients, but this account need to access at least two projects. I could create an account in our LDAP but it would mean to give them a web UI access as well (which I don't want).

**Describe the solution you'd like**
I would like to create a robot account working for several proje

[2019-07-10 14:02] rbicker opened #8273 "Customization as described in the docs has no effect on harbor's look"
Hi

Following the "Customize the look & feel of Harbor" - guide (https://github.com/goharbor/harbor/blob/master/docs/customize_look%26feel_guide.md), I have customized and built harbor.

(On a side note: The json shown in the documentation is outdated, the properties were renamed as it seems).

**Expected behavior and actual behavior:**
I expected the look to change according to my adjustments. Th

[2019-07-10 14:43] wToad commented on #7867
I have [started a topic](https://github.com/goharbor/harbor/issues/8272) about it, but it is not scoped to the project, the web UI allow only to set it per project. But with a command-line you can set a robot account for many projects.

[2019-07-10 15:02] michmike opened #8274 "Chargeback reports"
With the addition of quotas and tag retention, it is going to be very important for customers to be able to get some reports that include utilization or allocation on a per project basis. we can see how to deliver this functionality that will essentially be a form of chargeback or showback reports.

[2019-07-11 01:50] AllForNothing commented on #8083
There is some modification for creating robot account UI.
New mockups : <https://vmware.invisionapp.com/share/RKOJ1Q83XNS#/340476661_v1-8_-_Robot_Accounts>

[2019-07-11 04:42] alexvmw commented on #8076
Hey paul, you raise some good points and we are evaluating some of the options you mentioned but I want to give some color on why we made those changes for everyone, there's quite an audience here it seems :)  Prior to 1.8, everything was stuffed into the config file and it was growing out of control, and opening a floodgate in terms of user behavior of just modifying a single file for harbor admi

[2019-07-11 04:48] alexvmw commented on #8076
1. would certainly take care of consistency, but was something we were trying to get away from.  leaning towards exploring 2. or 3.

[2019-07-11 06:01] reasonerjt commented on #8270
I cannot push an image without project,
as for always retrying, it's the behavior of client, the server returns 500, need to check the log for root cause.

[2019-07-11 06:03] reasonerjt commented on #8272
We add such flexibility while implementing it but from UI you the scope of a robot account is within a project.

[2019-07-11 06:04] reasonerjt commented on #8273
I guess the doc maybe no longer works.

[2019-07-11 06:06] reasonerjt commented on #8271
could you use `docker-compose down` to shutdown all containers and `docker-compose up -d` to restart Harbor and see if the problem persists?

Simply poweron may not be very reli-able if you want Harbor be running after reboot, please consider wrap Harbor as a service in `systemd`

[2019-07-11 06:09] zhoumeina commented on #8273
yes, it is no longer works. @jwangyangls , could you please take a look the code and make sure it is working?

[2019-07-11 06:09] reasonerjt commented on #8268
Harbor's API is not fully OCI compatible.
It's known issue and we will refactor in future to fully support OCI registry.

[2019-07-11 06:22] danfengliu commented on #8096
We have test result in doc < Harbor 1.8 Scalability Test >.

[2019-07-11 06:22] #8096 closed

[2019-07-11 06:22] danfengliu commented on #8097
We have test result in doc < Harbor 1.8 Scalability Test >.

[2019-07-11 06:22] #8097 closed

[2019-07-11 06:23] danfengliu commented on #8183
Please reference the statement in doc < Harbor 1.8 Scalability Test >.

[2019-07-11 06:23] #8183 closed

[2019-07-11 06:25] danfengliu commented on #7261
Please reference document <Harbor Jenkins Nightly Tests>.

[2019-07-11 06:25] #7261 closed

[2019-07-11 07:01] packyzbq commented on #8271
Thanks for reply. It did works for me. It is that some components cannot be restarted after a reboot?

[2019-07-11 07:05] reasonerjt commented on #8271
I didn't spend much time to investigate.
In my personal experience, I recall it's that the timing of start of containers breaks the dependency.
You should not rely on docker daemon to handle the reboot case.

[2019-07-11 07:05] #8271 closed

[2019-07-11 07:34] alexvmw commented on #8009
most likely leveraging Velero for Harbor running in k8s.  And script based solution should be enough for Harbor running in docker.

[2019-07-11 07:35] wToad commented on #8272
Thank you for replying. I understand it well, I was just checking it because I would prefer the capability to have robot account for many project. I hope it will be something about it in the next versions of Harbor. :smiley:

[2019-07-11 07:39] alexvmw commented on #7722
we would like a discussion around this, can you ping me to setup a meeting based on your availability @allencloud

[2019-07-11 07:43] wToad opened #8278 "Filter project (research) has no focus"
Hello,

**Expected behavior and actual behavior:**
When I am on the projects page, I can see all my projects, with multiple pages. To find a project, it's easier to filter projects by name, so I click on the magnifying glass to launch a search. The search field appears but the pointer is not in it, I have to click in this field to be able to write my text.

I expect the focus to be put in the sear

[2019-07-11 07:43] stonezdj commented on #8242
@sh3tb3rd  did you input the LDAP search password before click "Test LDAP connection "?
I can reproduce this issue when I did not input the password.
It seems the UI doesn't handle HTTP 500 error. and this interface confused the user, for LDAP connection test, if the password is not input, it will ping LDAP server from system settings, and there is no password setting in the system, that is the pi

[2019-07-11 07:45] allencloud commented on #7722
I would attend harbor's community bi-week meeting. @alex

[2019-07-11 08:19] alexvmw commented on #7993
@michmike can you put me in touch w/ dell guys?  can potentially replicate quota policies, tag retentions policies, webhooks json payloads as well

[2019-07-11 08:56] reasonerjt opened #8279 "The item in CVE whiltelist should be a click-able link"
It can help user understand the CVE with minimal effort by redirecting them to NVD URL:
https://nvd.nist.gov/vuln/detail/${CVE_ID}

[2019-07-11 09:14] danfengliu commented on #7824
It's not affect anything, so leave it as it is.

[2019-07-11 09:14] #7824 closed

[2019-07-11 09:15] danfengliu commented on #8216
It's fixed in PR #8240.

[2019-07-11 09:53] bovy89 opened #8281 "Replication failed: value too long for type character varying(256)"
**Actual behavior:**
Replication failed: value too long for type character varying(256)

**Steps to reproduce the problem:**

Configure a new replication rule:
  - Source resource filter name: `**`
  - Example image: `sysinfo_paas_base_stage/s2i-tomcat:8a72ab6611e787d24a7e9fd9ad51ab38caee69a9-centos-openjdk11-tomcat8`

**Versions:**
- harbor version: 1.8.1
- docker engine version: 18.09.7
- docker

[2019-07-11 10:24] bovy89 commented on #7868
Same issue here

**Versions:**
- harbor version: 1.8.1
- docker engine version: 18.09.7
- docker-compose version: 1.23.2, build 1110ad01

@steven-zou, you got an email with dump.rdb file

[2019-07-11 10:26] rimantasbutkus92 commented on #6891
Hi All, I understand this is closed but would it be possible not to use full DN for adding a group? In settings there's a specific Group Base DN, it's possible to add Group Filter and the Group GID also using subtree scope should be enough to identify the group.

I think it would be great improvement if it worked with let's say only CN of the group when adding it.

[2019-07-11 10:36] Thoro opened #8282 "More explicit expiration notice of robot account."
I am using robot accounts for our CI System. Today the CI system couldn't push docker images anymore.

After investigation the logs, I saw:

Jul 11 10:30:43 172.18.0.1 core[24785]: 2019-07-11T10:30:43Z [ERROR] [/common/token/htoken.go:76]: parse token error, token is expired by 309h12m44s
Jul 11 10:30:43 172.18.0.1 core[24785]: 2019-07-11T10:30:43Z [ERROR] [/core/filter/security.go:200]: failed to

[2019-07-11 10:36] steven-zou commented on #7868
@rmoesbergen / @bovy89

What's your upgrading path?

[2019-07-11 10:46] bovy89 commented on #7868
1.7.0 --> 1.8.1

[2019-07-11 10:54] steven-zou commented on #7868
Please also upload the logs for core and js. We need these logs to do debug.

[2019-07-11 11:00] alexvmw commented on #8082
@michmike Is this referring to deploying a worker instance close to the edge nodes functioning specifically as a local registry mirror for a central Harbor and have the edge daemons pointing to it for local pulls? or is Harbor being used as proxy cache to pull from other registries like Docker hub and such?  I mean is this this linking Harbor instances or w/ rest of the registry ecosystem.

someth

[2019-07-11 11:02] wy65701436 commented on #8282
In UI, there is a column to index the expiration date of a robot account.

[2019-07-11 11:05] Thoro commented on #8282
True, sorry, but it's not clear if it's expired or not (looks exactly the same) - a  notice "expired" would be better

[2019-07-11 11:33] bovy89 commented on #7868
Is this enough?

[code]

[2019-07-11 12:05] wy65701436 opened #8283 "Support dump configuration from UI"
As harbor moves parts of the settings from harobr.yml into UI, it's better to provide an option to let the admin dump the settings they did in UI.

It's useful to dev-ops to re-use the settings to deploy new harbor.

[2019-07-11 12:12] michmike commented on #8009
Our priority might be Velero since we expect most users in production to leverage the HA release of Harbor using k8s

[2019-07-11 13:44] lassehoj commented on #8130
Hi, when can we expect a release with this fix included?

[2019-07-11 14:15] michmike commented on #3413
adding this ticket to the 1.10 pool of candidate stories. i am in full support of this and we can expose it using 3 levers in Harbor under project settings
1. Make an entire project immutable
2. Allow a user to define a regex to include repos that are immutable
3. Allow a user to define a regex to include tags that are immutable

2 & 3 are not mutually exclusive

[2019-07-11 15:04] blka commented on #694
+1 for gitlab

[2019-07-11 18:13] Marki4711 commented on #8231
Perhaps it is possible to have it functionality as a feature request. Should I open an extra proposal-issue for this?

[2019-07-11 23:06] michmike opened #8284 "Replicate charts from bitnami\kubeapps"
placeholder story

[2019-07-12 01:05] schzrj commented on #8249
@reasonerjt  /api/repositories/*/tags?label_id=%s

[2019-07-12 02:21] fwhezfwhez commented on #8257
I kinda know why it happens.
postgres go driver can't tell apart '#' properly, I used to set inner core db password 'abc123#ft'.
It was accidently regarded as 'abc123'.After set password and replace '#' with '_', it' ok then.

[2019-07-12 03:59] yahirun opened #8285 "Failed to replicate from DockerHub under proxy envirnment"
*  versions
Docker version        :18.09.7
docker-compose version:1.24.1
harbor version        :1.8.1

I failed to replicate image from DockerHub.
![replication_err](https://user-images.githubusercontent.com/40496721/61101156-c26c1b00-a4a3-11e9-9da1-e138d646ef4a.png)

*  Replication Rule
![replication_rule](https://user-images.githubusercontent.com/40496721/61101167-cac45600-a4a3-11e9-8baa-48d57d4

[2019-07-12 06:26] vasicvuk commented on #8194
We are also facing this bug. But it was already posted here and the response was that the Docker Registry API does not support Deleting by Tag but only but sha so that is the reason why both tags are deleted.

I would like to have this working properly in Harbor since it works on Docker Trusted Registry, Alibaba Container Registry, Google Container Registry and Azure Container Registry.

[2019-07-12 09:28] faisalchishtii opened #8286 "Change admin username/password"
Person who was admin has left the org. We do not have the admin username and password. My user is just a normal user. I have root access to the server. How do I change the username password?

[2019-07-13 06:45] hyahm opened #8287 "how to disable 80 port"
in other app, useing 80
I want disable it
harbor

[code]

[2019-07-13 06:53] fyqls commented on #8232
dev push image which tag is random，i want to define a  standard tag-name which used whitelist to constraint　dev

[2019-07-13 09:00] #3114 closed

[2019-07-15 03:53] nlowe commented on #6657
@steven-zou What is meant by this? Should the filter consider whichever event happened more recently?

[2019-07-15 03:53] reasonerjt commented on #8286
This is a hack, assuming you can access the DB and execute sql statement, you can check the records in `harbor_user` table and update the hash and salt of admin user of the another user whose password you know.
After the update you can use the same password with admin user.

[2019-07-15 03:55] reasonerjt commented on #8287
You can update the configuration file of nginx and restart harbor.
If you are using `docker-compose` to manage harbor the path is something like: `harbor/common/config/nginx/nginx.conf`

[2019-07-15 04:35] reasonerjt commented on #8164
I think the better approach is:
Harbor <-> OIDC <-> SAML
And I believe this is already supported.

The work in Harbor tile is for configuring UAA as a standard OIDC endpoint when it's connected with SAML.

[2019-07-15 05:48] #8129 closed

[2019-07-15 06:42] MaGaoju commented on #8247
thanks for correct me, just trying to understand it. any update on this? or let me know if u meed more information.

[2019-07-15 08:28] reasonerjt commented on #8257
it's not the driver, it's that the `#` should be escaped in yaml?

[2019-07-15 09:48] xaleeks commented on #3413
Is this referring to nothing pushed to any repos in a project can be overwritten.  and hence cannot be deleted as well

[2019-07-15 11:30] xaleeks commented on #3413
by 2 & 3 not mutually exclusive,
I imagine something like immutability configured on for a repo, but a whitelist on tags that allows for certain exceptionalities like 'latest' can be overwritten repeatedly w/ no consequences

[2019-07-15 14:37] Grounz commented on #7868
Hi,

If i can help you, we have the same problem:

- Upgrading Path: 1.7.5 to 1.8.1

**Versions**:
- harbor version: 1.8.1
- docker engine version: 18.09.3
- docker-compose version: 1.18.0, build  8dd22a9

`Jul 15 11:32:05 192.168.96.1 core[4071]: 2019-07-15T09:32:05Z [ERROR] [/common/api/base.go:229]: http error: code 500, message {"code":10006,"message":"stop job failed with error","details":"mi

[2019-07-15 17:55] tkatkov commented on #8285
Try setting proxy for job_service.

[2019-07-15 20:55] #5505 closed

[2019-07-16 00:41] jloaiza commented on #6207
This is also happening to me, but in my case the manifest tag is unique, but the replication job is not automatically triggered. @darkl0rd have you tried with a non-common tag?
Also, if I manually trigger a replication specifying the tag, it works; but only under those conditions: with a specific filter and manually trigger.
Same harbor version [1.7.0]

[2019-07-16 04:47] reasonerjt commented on #8287
Closing this issue.  As the question has been answered.

[2019-07-16 04:47] #8287 closed

[2019-07-16 05:20] reasonerjt commented on #8177
Fixed by #8291

[2019-07-16 05:20] #8177 closed

[2019-07-16 05:52] yahirun commented on #8285
@tkatkov

I added proxy setting for job_service container and tried to replicate again.
However, the same error occurred.
[code]

- core.log
[code]
And no output in the jobservice.log.

[2019-07-16 06:40] reasonerjt commented on #8130
@lassehoj we'll try to tag a release before end of July

[2019-07-16 06:42] danfengliu opened #8293 "Back up service VMs for Jenkins nightly envrionment"
Back up service VMs for Jenkins nightly envrionment

[2019-07-16 06:51] cafeliker commented on #8130
@reasonerjt I tested with the fix, but the issue was still there, pls see the attached log file.

Thanks
ye
[chartmuseum.zip](https://github.com/goharbor/harbor/files/3395708/chartmuseum.zip)

[2019-07-16 06:59] AllForNothing opened #8294 "Modify UT for cve-whitelist UI"

[2019-07-16 07:00] brutester opened #8295 "Unable to authenticate with PKS UAA due to PKS Cert not trusted"
**Expected behavior and actual behavior:**
When using PKS UAA "docker login" command is expected to work, but it shows "unauthorized: authentication required".

**Steps to reproduce the problem:**
1. Generate a new self-signed CA cert. Generate 3 certificates signed by it that will be set for OpsManager, PKS and Harbor.
2. Install OpsManager (2.5.9) and change it's certificate.
3. Under Bosh Confi

[2019-07-16 07:06] lassehoj commented on #8130
@reasonerjt sounds good. I'm not sure if the fix will be enough for us, though.

Our use case is distributing ImagePullSecrets into various clusters. Since robot account tokens expire after 30 days we need an automatic way to issue new tokens, or alternatively create robot accounts via the API. We went for the last approach, but OIDC users cannot create robot accounts via the API - only via the UI

[2019-07-16 07:34] danfengliu opened #8298 "Nightly test case <Project Level Image Severity Policy> failed, image should not be pulled"
Nightly test case <Project Level Image Severity Policy> failed. In this case, image haproxy should not be pulled due to it's low vulnerability, but the scan result is medium, so it can be pulled.

Before this case,  there is another test case to make sure scan function is ready by command as below:
     curl -k https://harbor.vke/api/systeminfo

So, is this command is strict enough for scan criter

[2019-07-16 07:50] wy65701436 commented on #8099
done as PR merged.

[2019-07-16 07:50] #8099 closed

[2019-07-16 07:50] wy65701436 commented on #8100
put it into sprint 65

[2019-07-16 07:51] wy65701436 commented on #8107
done as PR merged.

[2019-07-16 07:51] #8107 closed

[2019-07-16 07:52] ywk253100 commented on #6664
Done

[2019-07-16 07:52] #6664 closed

[2019-07-16 07:52] wy65701436 commented on #8111
per discussed, it needs to update quota usage in GC job.

[2019-07-16 07:52] steven-zou commented on #6655
@nlowe

Yes, right. As all code merged into the [feature branch](https://github.com/goharbor/harbor/tree/feature/tag_retention), we can mark it done!

[2019-07-16 07:52] #6655 closed

[2019-07-16 07:53] steven-zou commented on #6656
Rule builder and processor are supported in the[ feature branch](https://github.com/goharbor/harbor/tree/feature/tag_retention), mark this issue done!

[2019-07-16 07:53] #6656 closed

[2019-07-16 08:32] cafeliker commented on #8130
@reasonerjt it's our fault, our engineer didn't deploy the right version. After redeploy the fix version, it pass my tests on helm push.

Thanks again
ye

[2019-07-16 08:42] reasonerjt commented on #8024
Fixed in https://github.com/goharbor/harbor/pull/8245

[2019-07-16 08:42] #8024 closed

[2019-07-16 08:48] ephracis opened #8300 "Ability to run containers as non-root"
Since [Containers don't contain](https://opensource.com/article/18/3/just-say-no-root-containers) it is important to not run as root inside the container.

In fact, the default configuration on OpenShift is to prevent any containers running as root. It would be great if Harbor could support this security measure so we don't have to disable it just to get Harbor running on OpenShift.

When I tried

[2019-07-16 09:36] fwhezfwhez commented on #8257
well, closing~

[2019-07-16 09:36] #8257 closed

[2019-07-16 09:41] ywk253100 commented on #8285
We have an issue https://github.com/goharbor/harbor/issues/7981 to track the work to support configuring proxy in 1.9.
But is your issue related to the proxy? I see the error in logs is DNS related: `The DNS server may be temporarily unavailable, or there could be a network problem`.

[2019-07-16 09:43] danfengliu commented on #8251
It's was fixed in PR #8280.

[2019-07-16 09:43] #8251 closed

[2019-07-16 09:58] blankhang commented on #7258
fix my problem thanks

[2019-07-16 10:52] jwangyangls commented on #8236
fix it in #8241

[2019-07-16 10:52] #8236 closed

[2019-07-16 11:05] #8022 closed

[2019-07-16 17:26] srinivasa-vasu commented on #6725
Apologies for the late revert. I deleted and installed fresh. Post that, it's not happening any more. Not sure about the root cause though. This can be closed for now.

[2019-07-16 22:08] michmike commented on #8164
got it. i will close this request @reasonerjt

[2019-07-17 00:22] paulczar commented on #8295
You can add the CA cert via the helm chart here

https://github.com/goharbor/harbor-helm/blob/master/values.yaml#L100-L105

then you can finish setting up UAA auth via the web ui or config api

[2019-07-17 00:28] michmike opened #8303 "Replicate Signing capabilities of images with standard Harbor replication"
we need to make sure that when images are signed, there is a way for replication to honor the signed component of the images.

[2019-07-17 00:32] paulczar commented on #8076
Thanks for the response!  I still believe that having a configuration API for setting underlying config settings is an antipattern.  If you look at similar software, you set all of this stuff up via config files or env variables:

examples:
* Grafana - https://grafana.com/docs/auth/github/
* Concourse - https://concourse-ci.org/cf-uaa-auth.html

[2019-07-17 00:50] shayulei opened #8304 "LDAP账户修改账户后无法登录"
版本：
       v1.8.0-25bb24ca
配置：
      开启LDAP
      LDAP用户UID：sAMAccountName
现象：
      当修改了AD中的sAMAccountName 的ID后，harbor无法使用此ID登录。报用户名或密码出错。

[2019-07-17 02:52] stonezdj commented on #8304
Please refer the workaround in FAQ: https://github.com/goharbor/harbor/wiki/Harbor-FAQs#authentication
[code]

[2019-07-17 03:05] reasonerjt commented on #8303
We leverage docker content trust and notary for signing the image, last time I checked the signature is tied to `GUN` which is the uri of the image, so when you replicate the uri of the image changed, it should be considered a different resource in notary, and has to be signed again.

This is the biggest gap I can think about right now, we may need to think about other signing solution if we want

[2019-07-17 03:55] reasonerjt commented on #8300
This is a WIP
@ninjadq could you provide more insight and what potential tech difficulty is there?

[2019-07-17 05:07] ywk253100 commented on #8234
This is a corner case and the error only occurs when the images are pushed bypass Harbor.
Move this out of 1.8.2 and will fix it in master branch.

[2019-07-17 05:56] damozhiying opened #8305 "Replicating images from Docker Hub"
i want to sync docker hub image to local harbor ,but it not take effect
![2019-07-17 13-52-31屏幕截图](https://user-images.githubusercontent.com/10277950/61350500-53733580-a89a-11e9-9756-891ed248d943.png)
![2019-07-17 13-53-00屏幕截图](https://user-images.githubusercontent.com/10277950/61350501-53733580-a89a-11e9-9e1f-b2eaa9d8c8d4.png)
![2019-07-17 13-55-41屏幕截图](https://user-images.githubusercontent.com/1

[2019-07-17 05:57] reasonerjt commented on #7848
@Reamer Agreed that the `placeholder.com` is an issue, we should probably Allow leaving the Email as empty.

[2019-07-17 06:03] reasonerjt commented on #8232
But if you setup tag retention to remove the tags automatically, it's the same result?
The requirement you mentioned is do-able, but I don't think it's that valuable to most of the users.

[2019-07-17 06:30] zhoumeina opened #8306 "registry-config.component spec test refactor"
mockSystemWhitelist need to inject in the provider

[2019-07-17 07:27] brutester commented on #8295
Another workaround I've found is to use the BOSH tool on Ops Manager. First configure and login with the tool (use Director Credentials from BOSH in OpsManager). List deployments.
[code]

Get the harbor deployment ID from the list and fetch the installation manifest:
``bosh -e pks -d $harbour_deployment_id manifest > harbor.manifest``

Edit the setting under  "properties: -> uaa: -> ca_cert:  " an

[2019-07-17 07:45] heww commented on #8305
The name of the source resource filter should be `goharbor/*`, `goharbor` may not work.

[2019-07-17 07:56] wy65701436 opened #8309 "Modify build binary method for chart server"
It's using the compile.sh to build chartmuseum binary, and the developer has to pass the golang image manually when to build a new one.

We cannot guarantee the golang version with the current method, please modify it with docker file, just refer to https://github.com/goharbor/harbor/blob/master/make/photon/registry/Dockerfile.binary

[2019-07-17 07:56] AllForNothing commented on #8294
Fixed

[2019-07-17 07:56] #8294 closed

[2019-07-17 08:11] damozhiying commented on #8305
@heww how to set ,source resource filter is this damozhiying/,this also can't sync

[2019-07-17 08:32] ninjadq opened #8310 "Support External Syslog Endpoint"
Enable harbor to export logs to an external Syslog server like log insight and fluent-bit

[2019-07-17 08:34] ninjadq opened #8311 "Write proposal of external syslog server"
Write proposal of external syslog server

[2019-07-17 08:35] #8311 closed

[2019-07-17 08:36] ninjadq opened #8312 "Implement External syslog endpoint support"
implement external syslog endpoint support follow the proposal
- [x] pull request
- [x] test log insight
- [x] test fluent-bit with elastic search
- [ ] document

[2019-07-17 08:47] ninjadq commented on #7308
this is a limitation of chartmuseum because your project name contains hyphen and followed by a digit. Chartmuseum can not guess the actual file name of your chart. A workaround is to disable chartmuseum's state file and cache.

[2019-07-17 08:47] #7308 closed

[2019-07-17 09:08] xhlim opened #8314 "/usr/local/go/lib/time/zoneinfo.zip: no such file or directory"
If you are reporting a problem, please make sure the following information are provided:

**Expected behavior and actual behavior:**
A clear and concise description of what you expected to happen and what's the actual behavior. If applicable, add screenshots to help explain your problem.

**Steps to reproduce the problem:**
Please provide the steps to reproduce this problem.
I get an exception whe

[2019-07-17 09:33] yahirun commented on #8285
@ywk253100

I connected to harbor-jobservice container and tried to execute curl.
Curl command was successful.
So I suppose the proxy settings are correct.

[code]

[2019-07-17 09:57] heww commented on #8305
change it from `damozhiying/` to `damozhiying/*`

[2019-07-17 11:20] salcinad commented on #8082
@michmike
are you referring to the: https://github.com/goharbor/harbor/blob/master/contrib/Configure_mirror.md

our need is that we don't pull Images from "registry-1.docker.io" (from docker hub in Internet) but from internal Harbor Register which will act as Proxy/Cache ( for example this Option is avaiable in Nexus 3), which will Cache and if not cached pull Images from docker hub and provide to

[2019-07-17 11:20] cromefire commented on #8234
To explain, how this happed: I reset harbor, but didn't delete the storage and something was automatically pulling the old images

[2019-07-17 12:47] voor commented on #8076
Just want to add some emphasis to this one:

This is particularly important in highly regulated environments that require frequent audits and compliance to know that settings are correctly configured.  We need to be able to track who makes config changes and when those config changes occurred, and know that the last set configuration is what is still live in the environment.  This is **extremely**

[2019-07-17 13:07] Henry78 commented on #8228
This isn't neccessary!

If I add proxy env variables, as @yahirun suggests, I'm no longer able to change the vulnerablity scan interval, because `core` tries to connect to the `jobrunner` container via proxy.  This is logged:
[code]

[2019-07-17 13:37] kacole2 commented on #8019
- Individual notification/webhooks and not "all or none"

[2019-07-17 14:15] reasonerjt commented on #8017
@erwinntt I think that's a different problem you mentioned?

[2019-07-17 14:33] cntsw opened #8316 "Pull-based replications error"
Replications copy image from docker original registry to harbor error

original registry use image `registry:2.7.1`,
harbor version `v1.8.1` , deploy on k8s

One of the image copy task log:
[code]

[2019-07-17 15:04] devent commented on #8017
@reasonerjt No, it's related to the original issue  "mapping oidc's group (or role) to harbor's group"

In Keycloak you can create client roles and attach those roles to the ID token. Then in Keycloak you can add users to those roles and the roles will be returned in the ID token.

All is needed for Harbor is to read the ID token roles and map them to the group. The user is then assigned to the Ha

[2019-07-17 23:30] phenomax commented on #234
@reasonerjt What about the rather restrictive password length?

[2019-07-18 01:43] cd1989 opened #8319 "Pull-based replication error for Azure ACR"
If you are reporting a problem, please make sure the following information are provided:

**Expected behavior and actual behavior:**

[code]

**Steps to reproduce the problem:**
Please provide the steps to reproduce this problem.

**Versions:**
Please specify the versions of following systems.
- harbor version: [x.x.x]
- docker engine version: [y.y.y]
- docker-compose version: [z.z.z]

**Additiona

[2019-07-18 02:02] ywk253100 commented on #8316
What image did you replicating? Is it built by yourself or pulled from somewhere? Could you share me the detail information about the image?

[2019-07-18 02:04] ywk253100 commented on #8234
What do you mean for the `reset harbor`?

[2019-07-18 02:07] ywk253100 commented on #8305
@damozhiying Please refer to the user guide https://github.com/goharbor/harbor/blob/master/docs/user_guide.md#resource-filter

[2019-07-18 02:07] #8305 closed

[2019-07-18 02:16] cromefire commented on #8234
Deleting the database

[2019-07-18 02:24] annProg opened #8320 "Support oAuth2"
Github and gitlab, gitea, gogs, etc. all implement the oAuth2 provider, hope that harbor can implement oAuth2 login to integrate the above software.

[2019-07-18 03:02] cntsw commented on #8316
Thanks for the reply, most of the image is built by my self, the images retag from docker hub (like  `minio/minio@sha256:244c711462a69303c0aa4f8d7943ba8b36dd55246e29da44c6653e39eaa42e70` ) is also failed

image inspect info:
[code]

[2019-07-18 03:14] reasonerjt commented on #8320
Harbor supports OIDC, you can figure out how to use OIDC to connect or configure those services as OIDC provider.

[2019-07-18 03:18] #6661 closed

[2019-07-18 03:18] #6660 closed

[2019-07-18 03:25] reasonerjt opened #8322 "make/prepare should require a tag of prepare image"
Currently it's hard coded to `dev`

This approach is error-prone, probably it should be hard-coded to a non-existing tag and update it during make process.

So things will fail earlier.

[2019-07-18 03:27] reasonerjt opened #8323 "Build prepare image in travis-ci before using it."
Currently it pulls `goharbor/prepare:dev` from dockerhub.

If there's a change in prepare script user will push the image first and this impact other processes.

We MUST build it in the travis process.

[2019-07-18 05:44] reasonerjt commented on #8312
Please also open an issue for testing automation and an issue for documentation.

[2019-07-18 05:54] chlins commented on #8215
@josephlim75
Maybe you need active Docker Bearer Token Realm in nexus3, and when configure repositories you should provide right username and password, nexus3 docker registry can be worked well in my environment(harbor 1.8).

[2019-07-18 07:00] zhoumeina opened #8326 "There should be a blank between consumption and number"
What can we help you?
![image](https://user-images.githubusercontent.com/4946616/61436122-af0df380-a96c-11e9-8551-0eba3b6a9877.png)

Byte => Bytes

[2019-07-18 08:40] sh3tb3rd commented on #6329
Any news on this? Harbor v. 1.8.1 seems to have the exact same issue.

[2019-07-18 08:57] asmi10 opened #8330 "sylabs singularity sif artifact support in harbor"
**Is your feature request related to a problem? Please describe.**
Currently we are using singularity & docker both in our organization, and having different registry solution for storing images. We are looking for some common platform where singularity & docker images could be stored.

**Describe the solution you'd like**
Enable singularity sif artifact support in harbor registry.

**Describe the

[2019-07-18 09:25] AllForNothing commented on #8279
fixed

[2019-07-18 09:25] #8279 closed

[2019-07-18 10:19] #8253 closed

[2019-07-18 10:20] #7700 closed

[2019-07-18 10:53] Henry78 commented on #8285
For anyone who needs a proxy to replicate, here's how I configured it:

You have to set proxy environment varialbes for the containers `core` and `jobservice`:
* To add hub.docker.com as an endpoint, harbor-core needs proxy settings
* To replicate from hub.docker.com, harbor-jobservice needs proxy settings
For both it's criticatl to have a proper no_proxy configured, you have to include all/most o

[2019-07-18 12:17] DooDleWilk opened #8334 "Harbor 1.8.x prepare script does not generate self-signed certificate for Notary"
I deployed Harbor 1.8.x (Tried with 1.8.0 and 1.8.1 with same results) with Notary, using the offline bundle.
I set up HTTPS for Harbor (https://github.com/goharbor/harbor/blob/master/docs/configure_https.md) as requested for Notary (https://github.com/goharbor/harbor/blob/master/docs/use_notary.md).
When running the `prepare` command, it does create the `common/config/notary` folder structure, an

[2019-07-18 14:57] barryz commented on #2920
the workaroud same as the answer who @teknologist replied.

[2019-07-18 15:05] vinodh19 opened #8336 "Can you please let me know Process & steps for upgrading harbor standalone bosh release from 1.5.2 to 1.6.x?"
What can we help you?

[2019-07-18 15:05] vinodh19 commented on #8336
Can you please let me know Process & steps for upgrading harbor standlone bosh release from 1.5.2 to 1.6.x? Mysql migration as well

[2019-07-18 18:45] #6659 closed

[2019-07-19 02:50] zhoumeina opened #8337 "Bump up clarity to v2 and angular to 8"
We need to bump up clarity to v2 version since it is released. This can be happen after release 1.9.

[2019-07-19 02:51] yahirun commented on #8285
@Henry78

Thank you for your advice.
I configured proxy as follows:
[code]

Then replication started working.
But two new problems occuerd.

**(1) Copying image has completed, but task status remains "in progress".**

![never_finish_replication](https://user-images.githubusercontent.com/40496721/61505398-a7585880-aa19-11e9-8b59-f7b0d5f45e63.png)

* jobservice.log
[code]

**(2) I scanned the image

[2019-07-19 02:55] damozhiying commented on #8305
@ywk253100  thanks a lot,
now i have one problem,docker not pull image from private mirror but from docker.io,
![image](https://user-images.githubusercontent.com/10277950/61506078-8db41280-aa13-11e9-8404-0deff31dec5b.png)
![image](https://user-images.githubusercontent.com/10277950/61506088-97d61100-aa13-11e9-99e8-7cce9f06acb1.png)
![image](https://user-images.githubusercontent.com/10277950/6150610

[2019-07-19 02:57] damozhiying commented on #8305
@heww @ywk253100
how to change the default docker registry from docker.io to my private registry?
i had config daemon.json or docker.service, not take effect,   the harbor port is 7080,

[2019-07-19 03:33] AllForNothing commented on #7093
fixed

[2019-07-19 03:33] #7093 closed

[2019-07-19 06:42] #8083 closed

[2019-07-19 07:47] Henry78 commented on #8285
Yeah, sadly I've noticed this too. The problem seems to be this log entry.

```[ERROR] [/jobservice/hook/hook_agent.go:180]: Send hook event 'status change: job=bdd87899c59ab1f5a9147152, status=Error' to 'http://core:8080/service/notifications/jobs/scan/2' failed with error: $PROXY_RESPONSE``` (won't publicly post my proxy response ;).

So the jobservice container isn't able to reacht the core con

[2019-07-19 09:20] HelenaZheng opened #8344 "Images does not replicated in harborA from harborB"
日志：
Images does not  replicated in harborA from harborB.
harborA and harborB have same version, v1.7.0.
Just fund the error as follow
jobserver:
jobservice[21084]: 2019-07-03T02:26:30Z [ERROR] [context.go:86]: Job context initialization error: Get http://core:8080/api/configs: dial tcp 172.18.0.8:8080: getsockopt: connection refused

Jul 19 01:10:37 172.18.0.1 jobservice[21084]: 2019-07-18T17:10:3

[2019-07-19 09:31] mmpei opened #8345 "Webhook"

[2019-07-19 09:32] mmpei opened #8346 "Webhook Task: Test cases trace"

[2019-07-19 09:32] MiMiBaBa opened #8347 "Unable to login, 401 error [ERROR] [/common/api/base.go:69]: GET /api/users/current failed with error: {"code":401,"message":"UnAuthorize"} #293"
the core logs:
2019-07-19T08:54:33Z [DEBUG] [/common/utils/clair/client.go:124]: Retrieved notification 5ac3f36b-b617-4489-9de2-2331148b33e7 from Clair.
2019-07-19T08:54:33Z [DEBUG] [/core/service/notifications/clair/handler.go:63]: old vulnerability namespace: ubuntu:14.04
2019-07-19T08:54:33Z [DEBUG] [/core/service/notifications/clair/handler.go:69]: new vulnerability namespace: ubuntu:14.04
201

[2019-07-19 09:33] mmpei opened #8348 "Webhook Task: Add documents"

[2019-07-19 09:34] #8345 closed

[2019-07-19 10:00] reasonerjt commented on #8069
@jsimomaa
I don't have a quick idea why harbor is not sending the refresh request.
Sorry for the late response, could you switch the log level to `debug` and provide the output?

I'll see if I can setup gitlab as OIDC provider, but that has to be a few days later.

[2019-07-19 10:34] KSNiki opened #8351 "Global roles"
Would be nice to have an option to assign project roles globally, e.g. developer or guest permissions for all projects listed in harbor assigned for ldap user or group.
There is only the Administrator role now, than can be assigned globally.

[2019-07-19 11:33] reasonerjt commented on #8247
@MaGaoju

I setup an env with 1.8.0 build, there's no any issue deleting images.
Does it happen to all projects and all images?

[2019-07-19 12:12] reasonerjt commented on #7839
@thegasmann
Let me confirm, you mentioned you pushed the `same image` is it the same image with exactly same digest? or are they just having the same tag but different digest?
I have tested two of the scenarios:
1) The `same image` has the **same digest**, on the UI the image should still appeared to be signed, in this case, I can execute notary command to remove the signature:
[code]
And then rem

[2019-07-19 12:20] thegasmann commented on #7839
I pushed the very same image - so the digest should be identical
As described:
push ist with DOCKER_CONTENT_TRUST = 1 (appears as signed) and afterwards again with DOCKER_CONTENT_TRUST = 0 -> now it appears as unsigned butcannto be deleted using the Web UI

Tested with V1.7.5 - might have changed with a newer version (don't have much time to test right now, sry)

[2019-07-19 13:34] heww commented on #8314
Maybe we should install `tzdata` package in harbor core.

[2019-07-19 16:48] Typositoire commented on #8122
Any idea when this will be actually done ?

[2019-07-19 18:42] reasonerjt commented on #7839
No, I don't think that part changed, let me keep this open.

when `DOCKER_CONTENT_TRUST = 0` , you are essentially pushing the same artifact and nothing changed in notary DB, so it makes sense the artifact is still signed because the signature in notary is still valid.

Let me keep this open and if please try to reproduce it when you have time.

[2019-07-21 13:19] Liu-Richard commented on #3505
Does harbor support ARM64 build now?
My linux server is arm64,
 docker version is：18.03.1-ce
docker-compose version 1.25.0dev, build d212fe6
docker-py version: 4.0.1
CPython version: 3.6.5
OpenSSL version: OpenSSL 1.0.2k-fips  26 Jan 2017
when I execute ./prepare or ./install.sh  in harbor folder ,an error occures:
standard_init_linux.go:190: exec user process caused "exec format error"
and when

[2019-07-21 15:42] reasonerjt commented on #8298
Hi, I verified with `haproxy:latest` and I think this is probably expected.
If you look at https://hub.docker.com/_/haproxy  the `latest` tag was bumped up recently to `2.0`

So I think we should probably update the test case, two thing should be done:
1) Pin image to a digest instead of using `latest`, so when you pull the image call:
[code]
2) Update the test case to add more variation:
First se

[2019-07-22 00:00] SweeXordious opened #8355 "Job service runtime error Help"
Hello,

while i was trying the [jobservice](https://github.com/goharbor/harbor/tree/master/src/jobservice), i build it using the command `go build -a -o jobservice` then export the _CORE_SECRET_ using `export CORE_SECRET=authorization_Token_I_Got_From_ApiExplorer` then when i run `./jobservice -c config.yml` i get the following errors:

`panic: runtime error: index out of range`

`goroutine 1 [run

[2019-07-22 01:45] d2dyno commented on #8192
Just found same issue here.

[2019-07-22 01:47] #6657 closed

[2019-07-22 02:20] daixiang0 commented on #6143
any update?

[2019-07-22 02:24] danfengliu opened #8358 "In nightly test OIDC login test case, save button was not click successfully"
![image](https://user-images.githubusercontent.com/44018302/61602020-8e92b180-ac6a-11e9-8866-d96495e428c3.png)

![image](https://user-images.githubusercontent.com/44018302/61602046-a2d6ae80-ac6a-11e9-8215-b8e799a8850b.png)

[2019-07-22 02:39] steven-zou commented on #8092
@hzpfly

Thank you for raising the requirement to Habor. We have already known your requirement and put it into our backlog. Let's see if we can plan it in the future. Please keep tuned.

[2019-07-22 03:36] #6658 closed

[2019-07-22 03:44] steven-zou opened #8360 "Integrate UI with the API and make it work well"
What can we help you?

[2019-07-22 05:46] #8132 closed

[2019-07-22 06:40] damozhiying opened #8363 "pull images permission"
xstore project,the user lxf role is developer
![2019-07-22 14-32-28屏幕截图](https://user-images.githubusercontent.com/10277950/61611126-90ba3780-ac8d-11e9-801b-67394e1d7f25.png)

![2019-07-22 14-36-29屏幕截图](https://user-images.githubusercontent.com/10277950/61611347-22c24000-ac8e-11e9-9bd0-e8452db42238.png)

![2019-07-22 14-34-07屏幕截图](https://user-images.githubusercontent.com/10277950/61611218-daa31d8

[2019-07-22 06:44] damozhiying commented on #8363
change xstore project to public
![2019-07-22 14-41-55屏幕截图](https://user-images.githubusercontent.com/10277950/61611634-e2af8d00-ac8e-11e9-981f-a16f49966de4.png)

![2019-07-22 14-42-36屏幕截图](https://user-images.githubusercontent.com/10277950/61611672-fbb83e00-ac8e-11e9-9b1d-7011200b4762.png)

![2019-07-22 14-43-00屏幕截图](https://user-images.githubusercontent.com/10277950/61611688-08d52d00-ac8f-11e9-9a

[2019-07-22 06:47] damozhiying commented on #8363
![2019-07-22 14-45-41屏幕截图](https://user-images.githubusercontent.com/10277950/61611820-68333d00-ac8f-11e9-99fe-f6243bcd7f00.png)

![2019-07-22 14-46-55屏幕截图](https://user-images.githubusercontent.com/10277950/61611902-a29cda00-ac8f-11e9-9571-243448d26416.png)

[2019-07-22 06:50] shayulei commented on #8304
root [ / ]# psql -U postgres
psql (9.6.10)
Type "help" for help.

postgres=# \c registry
You are now connected to database "registry" as user "postgres".
registry=# select * from harbor_user
registry-#

[2019-07-22 07:20] damozhiying commented on #8363
from the log info , if the project is public ,such as  docker pull xstore/docker-istio success ,if the project is private,docker pull xstore/docker-istio can't pull ,must be docker pull 192.168.30.56:7080/xstore/docker-istio,   why  project is  private, must input the hostname or ip:port  to pull images

[2019-07-22 07:26] damozhiying commented on #8363
in lan network,pull images usual don't input ip or hostname,   if dont't input,the harbor project is public,  this is not permiss control

[2019-07-22 10:05] jwangyangls opened #8364 "Throw error when open configuration"
![image](https://user-images.githubusercontent.com/29826789/61624474-40ea6900-acab-11e9-8b15-327238be3e62.png)

[2019-07-22 11:39] josephlim75 commented on #8215
Thanks chlins.  I will give it a try.

[2019-07-22 12:55] Henry78 commented on #7780
@reasonerjt

This clutters the logs, so any way to get rid of this? (low prio)

[2019-07-22 15:02] SweeXordious commented on #8355
I got past this using the following:
1) changed line 282 of `src/common/utils/log/logger.go` from `file=l[1]` to `file=l[0]`. Seems like it was searching for some file that didnt exist.
2) did the following exports:
- `export JOBSERVICE_SECRET=Key_From_API_Explorer`. I took the key from the requests : `curl -H "authorization: Basic Key"` on the API explorer after logging in as admin.
- `export COR

[2019-07-22 18:04] chipzoller opened #8365 "Location of offline "vulnerability.sql" and "clear.sql" to import for Clair"
In the page [here](https://github.com/goharbor/harbor/blob/master/docs/import_vulnerability_data.md), it states that Harbor must have at least initial Internet access to pull the vulnerability database for Clair and goes on to state how to *migrate* from one instance to another. However, it makes no mention (nor can I find) of any reference to these offline files to be initially imported into Harb

[2019-07-22 18:09] Typositoire commented on #8122
I tried to get a patch out but I failed horribly due to my setup, I can help getting this implemented if someone has time.

[2019-07-22 18:34] SweeXordious commented on #7489
Have anyone managed to fix it ? Iam facing the same `401 unauthorized` error with jobservices...

[2019-07-22 19:08] chipzoller commented on #8365
Also, the steps published to import these files (regardless of where they may be) would not work when Harbor is a BOSH release (through PKS). What would those steps look like when that's the case? I don't find any documentation on this anywhere.

[2019-07-23 00:36] SweeXordious commented on #8355
After commenting some authentication/loading/verifications... code, i ended up seeing logs similar to those of `/etc/log/harbor/jobservices.log` which means i was trying to run a service that's already up ...

Now i know that `make all` runs it automatically, Why do i always end up getting the `404 Not found` response whenever i make an api call as specified in [jobservices](https://github.com/goh

[2019-07-23 01:54] #8364 closed

[2019-07-23 02:22] #8023 closed

[2019-07-23 02:37] #8153 closed

[2019-07-23 02:59] #8101 closed

[2019-07-23 02:59] #8102 closed

[2019-07-23 03:01] #8103 closed

[2019-07-23 03:01] #8106 closed

[2019-07-23 03:40] reasonerjt opened #8368 "Inconsistent severity of haproxy image comparing to docker hub."
image: haproxy@sha256:9711ff785af1146e3cc2c0276a197e5918029cdba2d22fa6f5a31dfb8060d0bb
For example in docker hub it reports:

libidn2         0.9.10-1  CVE-2017-14062  Critical (not reported in Clair)
libidn2         0.9.10-1  CVE-2017-14062   Critical (not reported in Clair)
libseccomp 2.3.3-4   CVE-2019-9893    Critical (Clair thinks is negligible, but NVD says it hight serveriy)

Need to check

[2019-07-23 03:41] reasonerjt commented on #8298
@danfengliu I also noticed the inconsistency between Clair and Docker hub, I opened #8368

To fix the test case failure, could you pin the image by:
[code]

[2019-07-23 04:18] danfengliu commented on #8184
It's done, I've updated confluence page.

[2019-07-23 04:18] #8184 closed

[2019-07-23 04:20] danfengliu commented on #8216
In helm nightly test, ca.crt is not in local, so we should download crt from harbor by API.

[2019-07-23 06:04] reasonerjt commented on #6832
Closing as the planned work is done.

[2019-07-23 06:04] #6832 closed

[2019-07-23 06:06] reasonerjt commented on #7582
We should create a cron job to clean the log files.

[2019-07-23 06:07] reasonerjt commented on #7476
Closing, let's open a new issue if it occurs again.

[2019-07-23 06:07] #7476 closed

[2019-07-23 06:15] reasonerjt commented on #6762
Per discussion, we'll create a pipeline to verify functionalities when chartmuseum is not installed

1.  Create the pipeline, make sure the chart museum is not enabled.
2.  Move the cases about helm chart out of `common.robot` to `helm.robot` and make sure cases in these 2 files are executed.

[2019-07-23 06:23] reasonerjt commented on #7878
This issue mainly involves creating the new pipeline.

We'll lower the priority as this relies on authproxy instance which we can't easily provision.

[2019-07-23 06:27] reasonerjt commented on #7879
So far we don't verify the push/pull to S3 either.
Lower the priority.
Let's engage @xaleeks about the priority and support matrix.

[2019-07-23 06:41] reasonerjt opened #8371 "Vulnerability data readiness test should only be executed in one pipeline."
Some remote vuln data source will block pulling the data concurrently from one IP, we should make sure all scanning related testcases be moved out from `common.robot`.
and they should be executed in one pipeline only.

[2019-07-23 07:48] MrMEEE opened #8372 "error authorizing context: authorization token required"
Hi guys
I'm trying to package harbor into RPMs.. I think I have almost anything up running, but a few things are still not working.. anyone up for some questions?
Right now i'm getting this from the registry

[code]

Can someone help me debug why tokens are not working?

[2019-07-23 07:49] #6351 closed

[2019-07-23 07:49] #6040 closed

[2019-07-23 07:49] MrMEEE opened #8373 "Build registryctl?"
Hi

How do I build the binary for registryctl??? There is no build script in the make/photon/registryctl folder??

Regards

[2019-07-23 07:51] MrMEEE commented on #8365
+1

[2019-07-23 07:55] ninjadq commented on #8323
fixed in #8324

[2019-07-23 07:55] #8323 closed

[2019-07-23 07:58] #8205 closed

[2019-07-23 08:01] ninjadq commented on #8008
code merged in #8301

[2019-07-23 08:01] #8008 closed

[2019-07-23 08:14] MrMEEE commented on #8372
Seems to be an issue in core:

[code]

[2019-07-23 08:15] MrMEEE commented on #3369
@magine1989 What did you change in the line "issuer:"???

[2019-07-23 08:15] #8198 closed

[2019-07-23 08:34] danfengliu commented on #8185
Pull performance has been done, and confluence page was updated.

[2019-07-23 08:34] #8185 closed

[2019-07-23 09:13] bitsf commented on #8127
@YanLemon how about this going, succeed or no?

[2019-07-23 09:26] cd1989 commented on #3413
Yes

[2019-07-23 10:11] KarstenSiemer commented on #6942
well, how did this go?

[2019-07-23 10:27] danfengliu opened #8376 "Leave 3 vulnerability tests in only one pipeline to avoid nightly failure by clair service"
<Scan Image On Push>  <View Scan Results> <Project Level Image Serverity Policy>

[2019-07-23 11:31] MrMEEE commented on #8372
registry config.yml:
[code]
core:
[code]

[2019-07-23 11:32] MrMEEE commented on #8372
http://aptareg01.aperta.lan:8080/service/token just gives:
[code]
Not sure if that is correct??

[2019-07-23 14:47] Liu-Richard commented on #8127
I am tring  compile  harbor source code on ARM64 （CentOS7.6）,  connect error occures when I  make all , I set the /etc/sysconfig/proxy and /etc/resolv.conf  correctly. any suggestion? thanks

[root@ceph1 harbor]# make all

Note: golang version: 1.11.5

Note: docker version: 18.03.1

Note: docker-compose version: 1.25.0
compiling binary for core (golang image)...
/harbor
Done.
compiling binary for

[2019-07-23 16:10] Typositoire commented on #8122
Actually I've got a really crud implementation if you guys are interested ?

[2019-07-23 16:22] #8355 closed

[2019-07-23 16:54] SweeXordious opened #8379 "JobServices api calls 404 Not found"
Ive been experimenting with Harbor for the past days and tried to interact with the [JobServices](https://github.com/goharbor/harbor/tree/master/src/jobservice) using the API calls specified in the documentation.

I first start by changing the `Core_Secret` key before building Harbor from source and print it in the logs to be sure it has been changed.

I make the changes on the `harbor/make/photon

[2019-07-23 19:53] hrmmmwhynot commented on #6329
@sh3tb3rd try to specify a "ldap group filter" because the default objectclass group filter is wrong (objectclass=groupOfNames)

ldap group filter: objectclass=group
then you can use full dn to add new group. This worked for me.

[2019-07-23 20:17] phenixblue commented on #8303
Ditto to the above. We would like to see this feature to allow for a simpler HA setup of Harboring bi-directional replication between 2 or more Harbor instances and still allow for proper signing and policy enforcement post replication

[2019-07-23 20:49] michmike commented on #8008
Great work!!

[2019-07-23 21:08] michmike commented on #8303
Hi Daniel, what if we enabled customers to.provide their own vanity URL for a project that's also behind a Load Balancer. two projects that are geodistributed and replicated can have the same URL and the LB can dictate where requests go. Would that be able to ensure signing is replicated?

[2019-07-23 21:09] michmike commented on #8303
Cc: @alexvmw

[2019-07-23 22:41] michmike commented on #3413
@xaleeks  i meant above that you can use any combination of 1, 2, or 3.

let me rephrase it.

Expose immutability using multiple policy options in Harbor under project settings. A user can use any combination of the below to define policy.

1. Make an entire project immutable
2. Allow a user to define a regex to include repos that are immutable
3. Allow a user to define a regex to include tags tha

[2019-07-23 22:43] michmike commented on #8164
/close

[2019-07-23 22:43] #8164 closed

[2019-07-23 22:46] chipzoller commented on #8365
I was pointed out a [KB from Pivotal](https://community.pivotal.io/s/article/After-successful-installation-of-Harbor-tile-clair-fails-to-download-vulnerability-metdata) in which they illustrate how to connect to Docker from within Harbor as a BOSH release. I was able to adapt that command and those in the Harbor FAQ to export vulnerability.sql and clear.sql. Am going to try to manually import thos

[2019-07-23 22:50] michmike commented on #7940
thanks @xaleeks . closing this issue then

[2019-07-23 22:50] #7940 closed

[2019-07-23 22:52] michmike commented on #7932
cc @xaleeks  for feature review

[2019-07-23 22:59] michmike commented on #8082
proxy cache is a feature of registry v2. this is what i meant  - https://mtijhof.wordpress.com/2018/07/23/using-nexus-oss-as-a-proxy-cache-for-docker-images/

[2019-07-23 23:00] michmike commented on #8082
we of course don't have to restrict the Harbor capabilities, so it could pull images as a cache from any type of replication target we can support

[2019-07-23 23:03] michmike commented on #7993
yes, we should replicate all policy that would be needed to set up an identical project

[2019-07-24 02:59] ldd91 opened #8381 "ERROR InnoDB Unable to lock ./ibdata1 error:11"
What can we help you?
I use harbor.v1.1.1-rc3.tar.gz offline installed by docker-compose which version is 1.18.0,I only change the hostname ib harbor.cfg and run ./install.sh,however the harbor-db container is always restarting,when i check the log in /var/log/harbor/mysql.log it shows:
ERROR InnoDB Unable to lock ./ibdata1 error:11
[Note] InnoDB:check that you do not already have another mysqld p

[2019-07-24 04:44] reasonerjt commented on #8365
@chipzoller Due to legal reason we cannot ship the .sql files
You have to setup a Harbor or Clair instance which has internet access and export the data from the instance.

[2019-07-24 04:48] wy65701436 commented on #8381
hi @ldd91, can you please upgrade to the latest version as harbor has already migrated to Postgres from v1.6.0.

[2019-07-24 04:49] wy65701436 commented on #8373
please refer to the make file at (https://github.com/goharbor/harbor/blob/master/make/photon/Makefile#L190)

[2019-07-24 04:51] steven-zou commented on #8379
@SweeXordious

So far, the job service is used as an internal component. Its related APIs are not exposed in Harbor API collections. If you call job service API with harbor endpoint/hostname, 404 will be returned.

If you want to directly interact with job service, a workaround is exposing the HTTP port of job service and then use host:port to call the APIs.

[2019-07-24 04:58] daghemo commented on #584
Maybe https://blogs.vmware.com/cloudnative/2019/06/12/demonstrating-certificate-management-by-deploying-harbor-with-an-ssl-endpoint/ would help...

[2019-07-24 05:19] ldd91 commented on #8381
Hi it was caused by /harbor-data

[2019-07-24 05:19] #8381 closed

[2019-07-24 05:23] MrMEEE commented on #8373
Thanks, but that is how to build the registryctl image..

How do I build the binary?

[2019-07-24 06:09] danfengliu opened #8386 "Add External DB pipeline in CI nightly test"
Add External DB pipeline in CI nightly test

[2019-07-24 06:14] damozhiying commented on #8363
![2019-07-24 14-12-44屏幕截图](https://user-images.githubusercontent.com/10277950/61769517-1fa98a00-ae1d-11e9-8a1c-a998c8b6a5b8.png)

docker-compose.yml contain the restart policy ,restart: always,why if i restart docker, the docker-compose.yml contain service not restart

[2019-07-24 07:00] ywk253100 commented on #8372
There should be a query string in the request for token: GET /service/token?service=harbor-registry

[2019-07-24 07:05] MrMEEE commented on #8372
Just hangs when I try to access:
http://aptareg01.aperta.lan:8080/service/token?service=harbor-registry or
http://aptareg01.aperta.lan/service/token?service=harbor-registry

[2019-07-24 07:13] jayraviteja commented on #2019
Hello.. Although I updated the kernel it didn't worked for me... Please help...

[2019-07-24 07:20] ywk253100 commented on #8316
@cntsw I cannot reproduce the issue with image `minio/minio@sha256:244c711462a69303c0aa4f8d7943ba8b36dd55246e29da44c6653e39eaa42e70`. What kind of error did you get when you replicating it?
Could you show me the log of task that replicating  `minio/minio@sha256:244c711462a69303c0aa4f8d7943ba8b36dd55246e29da44c6653e39eaa42e70`?

[2019-07-24 07:25] #8270 closed

[2019-07-24 07:25] MrMEEE commented on #8372
really no entry in the log for the core..

[2019-07-24 07:29] MrMEEE commented on #8372
actually.. it seems to work:
[code]

[2019-07-24 07:29] MrMEEE commented on #8372
Just needed to enable debug logging..

Registry is still giving same error

[2019-07-24 07:30] MrMEEE commented on #8372
Just needed to enable debug logging..

Registry is still giving same error... but there is no entry in the core log...

[2019-07-24 07:31] ywk253100 commented on #8124
Closing as inactivity.

[2019-07-24 07:31] #8124 closed

[2019-07-24 08:22] medmedchiheb commented on #8326
@zhoumeina i could not find the place to change it!

[2019-07-24 09:56] RorschachChan opened #8388 "启动ldap在配置命令行的时候反馈403"
我的harbor是1.8版本的，想启动ldap认证，但是效仿https://github.com/goharbor/harbor/blob/master/docs/configure_user_settings.md 里的步骤，在执行
curl -X PUT -u "用户名:密码" -H "Content-Type: application/json" -ki https://域名/api/configurations -d'{"auth_mode":"ldap_auth"}'

的时候，返回的是403

HTTP/1.1 403 Forbidden
Server: nginx
Date: Wed, 24 Jul 2019 09:45:32 GMT
Content-Type: text/plain; charset=utf-8
Content-Length: 34
Connection:

[2019-07-24 10:15] stonezdj opened #8389 "Fail to replicate api/bitcoind:0.2.1 from source to target"
Step to reproduce:
1. Create a project named api
2. Create a pull based replication in another Harbor server. and schedule this replication with every 5 minutes.
3. Upload a helm chart to source with cli.
4. After 10 minutes, the replication failed to replicate the helm chart.

the replication job log
[code]

[2019-07-24 10:21] Henry78 opened #8390 "Replication pattern '**"
If you are reporting a problem, please make sure the following information are provided:

**Expected behavior and actual behavior:**
Tried to replicat whole projects (organization in DTR-speech) by using the pattern `$repo/**`

**Steps to reproduce the problem:**
Add new Registry
Add new replication rule with a pattern like `$repository/**`

**Versions:**
Please specify the versions of following s

[2019-07-24 10:43] steven-zou opened #8391 "add more UT cases for retention controller and API handler"
make sure coverage +>%0.7

[2019-07-24 10:44] stonezdj commented on #8389
After change the env `EXT_ENDPOINT=https://<nightly.harbor.io>`  to `EXT_ENDPOINT=https://<IP address>`
Then replication success.

[2019-07-24 10:49] ywk253100 commented on #6665
Done

[2019-07-24 10:49] #6665 closed

[2019-07-24 10:50] bitsf commented on #7933
done

[2019-07-24 10:50] #7933 closed

[2019-07-24 10:50] bitsf commented on #6662
done

[2019-07-24 10:50] #6662 closed

[2019-07-24 11:02] MrMEEE commented on #8372
[code]

Shouldn't the http.request.remoteaddr be http://aptareg01.aperta.lan/service/token?service=harbor-registry ???

[2019-07-24 11:07] MrMEEE commented on #8372
When I try to load http://aptareg01.aperta.lan:8080/service/token?service=harbor-registry or http://aptareg01.aperta.lan/service/token?service=harbor-registry, I actually get a 401 (unauthorized)...

[2019-07-24 11:41] RorschachChan commented on #8388
我已经把 admin的初始密码更改了，使用新的密码去执行，反馈400

curl -X PUT -u "admin:新的密码" -H "Content-Type: application/json" -ki https://域名/api/configurations -d'{"auth_mode":"ldap_auth"}'
HTTP/1.1 400 Bad Request
Date: Wed, 24 Jul 2019 11:40:21 GMT
Content-Type: text/plain; charset=utf-8
Content-Length: 101
Connection: keep-alive
Set-Cookie: sid=5e503cfa58ace6fc117a5faf6dd0bf0f; Path=/; HttpOnly
X-Content-Type-Options: n

[2019-07-24 12:43] chipzoller commented on #8365
It would be great if you could put some statement to this effect in the documentation for other users who are deploying Harbor into an offline environment.

[2019-07-24 13:07] hellowordczy opened #8393 "why harbor do not support high availability from 1.7"
I can find doc about high availability  information in version 1.6，but i cannot find it in version 1.7 on.i wonld like to know if high availability is canceled from 1.7 on,and how i can use harbor with high availability from 1.7

[2019-07-24 13:25] MrMEEE commented on #8372
I can't see in the core log, that the registry is trying to connect at all?

[2019-07-24 13:42] qinluyao761 opened #8394 "Error while building portal"
If you are reporting a problem, please make sure the following information are provided:

**Expected behavior and actual behavior:**
A clear and concise description of what you expected to happen and what's the actual behavior. If applicable, add screenshots to help explain your problem.

**Steps to reproduce the problem:**
Please provide the steps to reproduce this problem.
1.cd harbor
2.make all

[2019-07-24 13:45] qinluyao761 commented on #8394
Step 11/24 : RUN npm install && chmod u+x /entrypoint.sh
---> Running in 41e3c33d501c
### npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR! https://npm.community

npm ERR! A complete log of this run can be found in:
npm ERR! /root/.npm/_logs/2019-07-24T21_33_59_252Z-debug.log
The command '/bin/sh -c npm install && chmod u+x /entrypoint.sh

[2019-07-24 14:15] qinluyao761 commented on #8394
If i remove the npm install command and continue to build, there is another error while execute entrypoint.sh:
npm WARN registry Unexpected warning for https://registry.npmjs.org/: Miscellaneous Warning ECONNREFUSED: request to https://registry.npmjs.org/kind-of/-/kind-of-6.0.2.tgz failed, reason: connect ECONNREFUSED 192.168.33.234:8080
npm WARN registry Using stale package data from https://regi

[2019-07-24 14:30] ssttgg commented on #7489
I too am having a similar issue. Is there an update on this @ywk253100?

I am running Harbor 1.8.1 with db_auth and using the default credentials and trying to replicate to another harbor node with the same version.

I have setup push replication from node A to to node B. The endpoint has been configured on node A using node B's IP address rather than hostname. When I test the connection (via the

[2019-07-24 14:34] SweeXordious commented on #7489
I guess its pretty much the same issue as this i guess https://github.com/goharbor/harbor/issues/8355 ... im still trying his suggestion tho

[2019-07-24 15:15] MrMEEE commented on #8372
[core.log](https://github.com/goharbor/harbor/files/3427485/core.log)
[registry.log](https://github.com/goharbor/harbor/files/3427486/registry.log)

[2019-07-24 15:23] wy65701436 commented on #8393
As from v1,7, the high availability solution for Harbor moved to chart  you can try with https://github.com/goharbor/harbor-helm

[2019-07-24 15:26] wy65701436 commented on #8373
here it is. https://github.com/goharbor/harbor/blob/master/Makefile#L282

[2019-07-24 16:10] chipzoller commented on #8365
After upgrading from Harbor 1.7 to 1.8.1, the import of those SQL files didn't fully succeed, it broke AD auth, and the vulnerability database still doesn't show updated. Guess I'm going to have to involve GSS at this point.

[2019-07-24 17:28] DiegoSouzaPW commented on #3114
No News for Notary?, i try without success too

[2019-07-24 19:50] SweeXordious commented on #8379
Thank you @steven-zou , i managed to make it work as follows:
- started Harbor like usual.
- `docker container ps`  to get the running containers and be sure that `harbor-jobservices` is running.
- run `docker exec harbor-jobservices env` to get the `Core_Secret` variable needed for the authorization like specified in the [documentation](https://github.com/goharbor/harbor/tree/master/src/jobservic

[2019-07-24 19:50] #8379 closed

[2019-07-25 01:35] RorschachChan commented on #8388
我想可能是因为我自己手动添加了一个用户的缘故，导致ldap无法启动。

于是我在web页面里将这个用户删除了，但是发现依旧是400。

[2019-07-25 01:39] MaGaoju commented on #8247
Not for all, I have re-build the server and deploy 1.8.1, issue seems gone. I guess some docker setting impact this. but didn't find which one. thanks for check this, and I will close this issue for now, will re-open if happened again. thanks again!

[2019-07-25 01:39] #8247 closed

[2019-07-25 02:01] hellowordczy commented on #8393
GET IT,thx

[2019-07-25 02:04] ywk253100 commented on #7489
@watchmen1992 @542928492 Did you input the credential when creating the registry endpoint? As the pushing operation only valid for authorized users, you must provide the credential.

@ssttgg Did you change the `external_url` for the destination Harbor, is there a proxy before the destination Harbor? And does it serve with HTTP or HTTPS? If it is HTTPS and with a self-signed certificate, you must u

[2019-07-25 02:11] heww commented on #8347
Which `auth_mode` do you use?

[2019-07-25 02:17] ywk253100 commented on #7489
@ssttgg And can you show me the logs of `registry` of the destination Harbor when you trying to test the connection?

[2019-07-25 02:25] ywk253100 commented on #8344
@HelenaZheng Seems that the `core` is not running well, could check the status of it in the source Harbor instance?

[2019-07-25 03:27] #6685 closed

[2019-07-25 03:30] jwangyangls commented on #6584
fix it in #8369

[2019-07-25 03:30] #6584 closed

[2019-07-25 05:52] reasonerjt commented on #8393
@hellowordczy you can do it by customizing Harbor according to you environment, but it will not be supported.

[2019-07-25 06:16] danfengliu opened #8397 "Add test step for nightly test case <Project Level Image Serverity Policy>"
Please reference issue #8298

Update the test case to add more variation:
First set the vulnerability threshold to high vulnerability and verify the image can be pulled. Then update the threshold to medium, and verify the image cannot be pulled.

[2019-07-25 06:18] danfengliu commented on #8298
It's fixed in #8380, about adding test steps, it will be done in other issue#8397.

[2019-07-25 06:18] #8298 closed

[2019-07-25 07:07] cd1989 commented on #8319
There is redirection happen when pull blob, error occurs in the redirection.

[code]
https://github.com/MicrosoftDocs/azure-docs/issues/7423#issuecomment-385113022

[2019-07-25 07:42] ywk253100 opened #8402 "Replace the scheduler used in scan, GC, replication and retention with the common scheduler"
We introduce a common scheduler in package `pkg/scheduler`, and we should replace the scheduler used in scan, GC and replication with the new one.

[2019-07-25 08:03] KarstenSiemer commented on #4557
+1

[2019-07-25 08:39] reasonerjt commented on #8365
@chipzoller
Are you a user of Harbor tile?  If the answer is yes, it's suggested to use official channel for vmw user.
Github is for OSS Harbor only.

[2019-07-25 08:41] reasonerjt commented on #7400
Closing as the question has been answered

[2019-07-25 08:41] #7400 closed

[2019-07-25 08:46] qinluyao761 commented on #8394
Can anyone help me please?

[2019-07-25 08:46] qinluyao761 commented on #8394
@ninjadq

[2019-07-25 08:51] linyx-7 opened #8403 "v1.7版本无法在互联网访问"
What can we help you?
公司内网部署了harbor1.7版本，地址192.168.*.*，通过防火墙的端口映射到互联网。在阿里云服务器上可以通过curl访问到页面，但是通过docker login http://*.*.*.*：****，在输入用户名和密码后，报超时断开。
Error response from daemon: Get http://*.*.*.*:****/v2/: Get http://192.168.32.14/service/token?account=admin&client_id=docker&offline_token=true&service=harbor-registry: net/http: request canceled while waiting for connection (Client.Timeout exceeded w

[2019-07-25 08:52] cd1989 opened #8404 "Sensitive information logged in Jobservice"
If you are reporting a problem, please make sure the following information are provided:

**Expected behavior and actual behavior:**

Replication job log contains access_key and access_secret.

![image](https://user-images.githubusercontent.com/16573984/61860447-8c478600-aefc-11e9-90f5-96ae5ff9654d.png)

**Steps to reproduce the problem:**
Please provide the steps to reproduce this problem.

**Ver

[2019-07-25 08:59] YakirShriker commented on #7057
I'm using Harbor 1.8 and still got replications stuck on InProgress.
I can't delete the replication "the policy 19 has running executions, can not be deleted"
Can't stop the executions as well.

[2019-07-25 09:04] reasonerjt commented on #7937
browser doesn't says everything is fine, you explicitly allowed the untrusted cert.
you can add `--insecure-registry` to your docker daemon to by pass the check.
https://docs.docker.com/registry/insecure/

[2019-07-25 09:04] #7937 closed

[2019-07-25 09:13] reasonerjt commented on #8394
@qinluyao761
[code]

[2019-07-25 09:41] kyrogue opened #8405 "Allow robot token expiration to be disabled"
**Is your feature request related to a problem? Please describe.**
There is no ability to refresh/renew a token when it is approaching expiration.

**Describe the solution you'd like**
Allow option to set whether a robot account token should have expiration date or not.

[2019-07-25 10:00] cd1989 commented on #8319
For the redirect url, we can download it normally, but in jobservice, it will raise the upper problem. I notice if I add `Authorization` header in when access the redirect url, the same error occurs. But in http.Client, `Authorization` header do already be filtered when follow redirect.

[2019-07-25 10:25] ssttgg commented on #7489
Thank you very much for the reply!

Yes. Both source and destination have the same external_url (e.g. harbor.company.org.uk) as we will _eventually_ be running node B as a passive failover node.

No.

Just HTTP. I have tried with the box ticked and unticked.

Logs from destination registry.log:

`
Jul 23 15:24:11 192.168.96.1 registry[7140]: 192.168.96.7 - - [23/Jul/2019:14:24:11 +0000] "GET /v2 H

[2019-07-25 10:37] FiruzaSharifullaeva commented on #8347
Hello,

We have the same issue. The auth_mode is db_auth. Would be nice if you could help to find out the reason for this behaviour.

Best regards,
Firuza

[2019-07-25 11:38] caipengtao opened #8408 "新建任何项目显示已经存在"
<img width="1392" alt="WeChatf2dbfa30b8c0386a9adc27cb861f0b83" src="https://user-images.githubusercontent.com/19907364/61871537-ac367400-af13-11e9-97e0-c47406d0b2e3.png">

使用aliyun oss作为存储，新建项目时显示项目已经存在，然后没有任何项目，请问是什么问题呢？

[2019-07-25 11:40] qinluyao761 commented on #8394
please analyze this message:
Step 11/24 : RUN npm install && chmod u+x /entrypoint.sh
---> Running in 41e3c33d501c

npm ERR! cb() never called!
npm ERR! This is an error with npm itself. Please report this error at:
npm ERR! https://npm.community

npm ERR! A complete log of this run can be found in:
npm ERR! /root/.npm/_logs/2019-07-24T21_33_59_252Z-debug.log
The command '/bin/sh -c npm install &&

[2019-07-25 12:42] chipzoller commented on #8365
This is for PKS, so yes. The problem is it's a customer PoC with no official entitlement for support from GSS yet. I'll figure something out.

[2019-07-25 13:31] ssttgg commented on #7489
I also tried to setup pull replication from B -> A. This got further in that it seeded individual tasks for every image however these all still failed to replicate. Here is an example error message:

[code]

[2019-07-25 14:19] hairyhenderson commented on #4557
I'm pretty sure the `+1` messages are unhelpful and only serve to frustrate maintainers - use reactions (like 👍) instead to indicate that you're in support of this 😉

[2019-07-25 14:21] hairyhenderson commented on #4557
Seems that since #8003 the `go.mod` pulls in `docker/distribution` 2.7.1+, so at least part of the work is done - is anyone working on the remaining pieces?

[2019-07-25 15:38] KarstenSiemer opened #8409 "Update configuration files of Kubernetes setup"
The helm chart was created by templating the yaml files for the kubernetes  from this repository
e.g: [config](https://raw.githubusercontent.com/goharbor/harbor/e51d6cc707c83e9eea36ece0d2f9d66b1a71fac8/make/kubernetes/templates/registry.cm.yaml)
or from the helm chart: [config.yml](https://raw.githubusercontent.com/goharbor/harbor-helm/master/templates/registry/registry-cm.yaml)

This file is 2 ye

[2019-07-25 21:47] leosunmo commented on #8405
I agree completely with this. All robot accounts I've been using are used internally as part of CI/CD and by Kubernetes itself as imagePullSecrets. Having them expire without me realising will mean downtime as containers (if they re-pull the image) will not be able to spin up. I don't know what the majority use-case/environment is for Robot accounts, but for me the token expiry seems unnecessary.

[2019-07-25 22:01] niiku opened #8410 "Image Replication for Quay.io"
We would like to use Harbor as "gateway" registry for our kubernetes environments so that every image is security scanned. We would like to provide our developer the possibility to import external images. Currently, the image replication from Docker Hub works really well. But sadly, the image replication from quay.io doesn't work. Every transfer tasks of a quay.io image ends like this:
[code]
Quay

[2019-07-26 03:25] #8326 closed

[2019-07-26 03:52] jwangyangls opened #8414 "Chinese translation errors"
https://files.slack.com/files-pri/T8YCM8N9L-FLLAA9LTB/image.png
![image](https://user-images.githubusercontent.com/29826789/61924823-109d1600-af9c-11e9-8cd5-7bd268964b0c.png)

[2019-07-26 04:42] chlins commented on #8410
@niiku Yep，harbor has not provided the implementation of quay.io adapter, as you say, Quay.io is one of the largest registries, so i will do some work for quay.io adapter, it will be supported later.

[2019-07-26 05:17] wy65701436 commented on #8408
hi @caipengtao, please let us know the harbor version and the configuration that you did.

And the logs are necessary for us to have a debug.

[2019-07-26 05:27] caipengtao commented on #8408
version：1.8.1
I know the problem,but i don't know how to slove it.
I want to use external proxy nginx , when I use it, it tells me the project exists.
I check the external proxy nginx log,I found 'HEAD /api/projects/?project_name=sdfsdf HTTP/1.1" 200 0', but I check the harbor nginx I found 'GET /api/projects/?project_name=asdfsf HTTP/1.0'.
And I also set #proxy_set_header X-Forwarded-Proto $schem

[2019-07-26 05:49] kyrogue opened #8416 "Robot account Token Expiration Days can only be a certain range"
If you are reporting a problem, please make sure the following information are provided:

**Expected behavior and actual behavior:**
Expected:
If we set 3650 ( 10 years ) for the robot expiration, it should be applied successfully

Actual:
We get " strconv.Atoi: parsing "5.256e+06": invalid syntax, item name: robot_token_duration"

**Steps to reproduce the problem:**
Go to System Settings, Set Rob

[2019-07-26 05:59] 28441585 opened #8419 "harbor1.8 can't login"
harbor1.8 server is ok, 40+person can login,but only one can't.
### the bad one can telnet the server , can call <curl -X GET "http://192.168.0.122:5000/api/health" -H "accept: application/json"> ,and response 200.
### 1. if he login ,then return "read :connection reset by peer" in client.
### 2.registry.log.A can't login, but B is ok.
_can't login by remoteaddr=10.157.193.115_
Jul 25 16:32:50 172

[2019-07-26 06:06] majian159 opened #8420 "Access harbor api does not require authorization?"
curl http://\<hostname\>/api/projects
statusCode not 401?

[2019-07-26 06:31] jwangyangls commented on #7674
fix it in #8407

[2019-07-26 06:31] #7674 closed

[2019-07-26 06:33] Hokwang commented on #6683
Now I also need to export excel files about clair scanning result.
@michmike How about raise the priority of just exporting feature?

[2019-07-26 06:39] annProg opened #8422 "[feature request]Add option to use username from oidc"
When login with oidc, user can change their username. This may cause confusion inside the company

**Describe the solution you'd like**
Add an option to use username from oidc. don't allow user to change it.

[2019-07-26 06:51] jwangyangls commented on #7698
We need to add a button to this page to download token to a local file.

![image](https://user-images.githubusercontent.com/29826789/61931988-d2602080-afb4-11e9-8e83-29d4022391a6.png)

[2019-07-26 06:55] Hokwang opened #8423 "problems in detail image page"
Hi,

Please see below capture.
![image](https://user-images.githubusercontent.com/1247030/61931701-510c8c00-afbc-11e9-8808-e276b9c3ff40.png)

This is based on centos 7.6.

I will write enhancement requests.
1. OS : the page just shows linux, but how about show centos if possible ?
2. OS Version : shows 7.6 if possible also
3. summary shows 4 high items but it is not. I think this is a bug.
4. clic

[2019-07-26 07:01] xaleeks commented on #8207
How many labels are we talking about?  There is a feature on replication some config settings beyond data (container/charts) that's being hashed but labels is not in scope.  I honestly don't see this as a high priority item.

[2019-07-26 07:04] Hokwang commented on #8422
Please refer to #8017 .

[2019-07-26 07:08] xaleeks commented on #3413
OK so it's 'whitelisting' at various levels.  This is going to get groomed for 1.10.  I will work on a gdoc PRD and share w/ everyone.  Please watch this ticket if you're not already.

[2019-07-26 07:26] AllForNothing commented on #8161
same to issue #8173

[2019-07-26 07:26] #8161 closed

[2019-07-26 07:37] reasonerjt commented on #8422
@annProg are you suggesting that we should add an option to disable user to update his username during onboard?

[2019-07-26 07:41] niiku commented on #8410
@chlins Thank you for your answer. Let me know if I can help you.

[2019-07-26 07:53] annProg commented on #8422
disable user to update his username when user first login with oidc.

![image](https://user-images.githubusercontent.com/4145852/61935632-7e0d6e80-afbd-11e9-9bce-faa0bcf617f9.png)

[2019-07-26 07:58] MrMEEE commented on #8373
Thanks.. don't know why I overlooked it :)

[2019-07-26 07:58] #8373 closed

[2019-07-26 08:05] annProg opened #8424 "Can not delete user login with oidc"
I use `dex` as `oidc provider`. when delete a user from `dex`. user can not login harbor dashboard, but  can still  use `docker` command. I can't delete user in harbor dashboard

![image](https://user-images.githubusercontent.com/4145852/61935918-1a377580-afbe-11e9-9997-b857185d0499.png)

[2019-07-26 08:14] luckyraul commented on #8204
@ninjadq Any suggestions? How to debug harbour requests?

[2019-07-26 08:33] tan-chao opened #8426 "Chinese translation mistake"
[code]

[2019-07-26 09:15] cafeliker opened #8427 "helm push with robot account failed"
If you are reporting a problem, please make sure the following information are provided:

**Expected behavior and actual behavior:**
A robot account with helm push permission should be able to successfully perform the activity; but it's failed with the message:
Error: 403: could not properly parse response JSON: {"code":403,"message":"robot$helm-test"}
Error: plugin "push" exited with error

**Ste

[2019-07-26 09:24] MaGaoju commented on #8427
[chartmuseum.log](https://github.com/goharbor/harbor/files/3435102/chartmuseum.log)

[core.log](https://github.com/goharbor/harbor/files/3435118/core.log)
core and chartmuseum log attached

[2019-07-26 12:42] tongying123456 opened #8431 "installed failed"
when I installed harbor by source code，followed the developer doc :
 Step 1: Prepare for a build environment for Harbor;
Step 2: Getting the source code;
Step 3: Building and installing Harbor:
            1、docker pull golang:1.12.5；
            2、make install GOBUILDIMAGE=golang:1.12.5 COMPILETAG=compile_golangimage。
then, it report error as following:
error:      Connecting to storage.googleapi

[2019-07-26 16:30] ericvmw opened #8432 "group role not honored for user group support in http auth mode - overwritten by user role"
**Expected behavior and actual behavior:**
Expected:
if a user with guest role in a project belongs to a project member group that has master role, the user should be able to push images since its user group has the role
Actual:
if a user with guest role in a project belongs to a project member group that has master role, the project member group role is not honor and the user is not able to push

[2019-07-26 16:41] ericvmw opened #8433 "not all group roles are honored for user group support in http_auth mode"
**Expected behavior and actual behavior:**
Expected:
if a user belongs to group A (that has guest role in project 1) and group B (that has master role in project 1), the user should be able to push images to project 1 since its user group B has master role in the project (a common practice)
Actual:
if a user belongs to group A (that has guest role in project 1) and group B (that has master role in

[2019-07-26 17:28] krisdock commented on #7868
Seeing the same issue after a 1.7.5 => 1.8.1 upgrade:

from /var/log/harbor/core.log:

[code]

[2019-07-27 22:09] MrMEEE commented on #8372
I found something more:
[code]

[2019-07-28 00:55] steven-zou commented on #8391
PR #8406 has been merged. Test coverage has increased +%0.9. Work is done! Close this issue now.

[2019-07-28 00:55] #8391 closed

[2019-07-28 04:41] wy65701436 commented on #8420
We need more information to debug your question, harbor version? logs? configurations?

[2019-07-28 04:46] wy65701436 commented on #8426
thanks @tan-chao. can you point us which one is not correct? and PR to fix it is welcome.

[2019-07-28 04:49] wy65701436 commented on #8427
please let me know the exact steps that you did at the helm client.

[2019-07-28 04:55] wy65701436 commented on #8431
it should be a network issue at your end, you have to figure it out.  Also, you can go through the code https://github.com/goharbor/harbor/blob/master/make/photon/Makefile, to build from locally if you can download the binary manually.

[2019-07-28 13:14] kofj commented on #8285
After I configured jobservice and core containers with below env, work will. @yahirun Can your try it later?

[code]

[2019-07-28 16:55] reasonerjt commented on #8424
@annProg This is by design, currently in Harbor any non-local user can't be removed after on-boarded.

[2019-07-28 17:05] reasonerjt commented on #8422
@annProg
This is essentially requiring disable user from setting his own username, I don't think it's a very reasonable requirement, esp.  bear in mind that there's no guarantee the username in the OIDC provider will be presented in the token or stay unchanged.
If you want some unchanged attribute, you should use `sub` according to the spec:
https://openid.net/specs/openid-connect-core-1_0.html#St

[2019-07-28 21:47] d2dyno commented on #7902
Probably closed with https://github.com/goharbor/harbor/issues/8145

[2019-07-28 21:47] MrMEEE commented on #8372
Ok.. just checked the docker version.. the same message about "error authorizing context: authorization token required", is also spammed in the log there.. so it's probably working.. then the last thing is an issue.. I will do an new issue on that..

Sorry for not testing it with the docker version first...

[2019-07-28 21:47] #8372 closed

[2019-07-28 21:49] MrMEEE opened #8441 "Unexpected error when creating the token, error: key file does not exist"
Hi

I'm trying to do an rpm version of harbor, and I almost have everything running.. But I'm getting the following error...

Can you tell me which key file it's referring to???

I have doublechecked the paths for the root.cert ...
[code]

[2019-07-28 22:56] DiegoSouzaPW opened #8442 "Notary over reverse proxy"
I successfully installed harbor with reverse proxy, more notary no success, exists some document how install notary over reverse proxy? If not possible someone makes one, i believe is great add to documents.
Thanks

[2019-07-29 03:08] cafeliker commented on #8427
I ran the command:
helm push --username 'robot$helm-test' --password 'xxxxx' ./harbor-helm/ rnd-it-helm-repo

[2019-07-29 03:27] ywk253100 commented on #6663
Done

[2019-07-29 03:27] #6663 closed

[2019-07-29 04:02] tongying123456 commented on #8431
I tried download the binary in my local $(CURDIR)/bin/registry，then I edit the https://github.com/goharbor/harbor/blob/master/make/photon/Makefile as follow:
$(mv) $(CURDIR)/bin/registry $(DOCKERFILEPATH_REG)/binary/registry ; \
but when I make , it reported  as follow:
/bin/bash: line 2: /home/yy/Desktop/harbor-1.7.0/make/photon/bin/registry: Permission denied

[2019-07-29 05:46] xaleeks commented on #8034
#6234

[2019-07-29 05:53] xaleeks commented on #8034
#goharbor/community#90

[2019-07-29 06:16] shashank-k opened #8452 "Enable manual update for clair database"
**Is your feature request related to a problem? Please describe.**
The clair database always seems to be outdated

**Describe the solution you'd like**
Can we have a way to manually pull the latest vulnerabilty database with out going through the steps mentioned in this [link](https://github.com/goharbor/harbor/blob/master/docs/import_vulnerability_data.md) even when the host has internet access

[2019-07-29 07:07] #8109 closed

[2019-07-29 07:07] #8105 closed

[2019-07-29 08:18] tongying123456 commented on #8431
I tried put the binary in the hithub, it can resolve...
but, i have another error:
recipe for target '_build_migrator' failed.

[2019-07-29 08:21] Wang-Kai commented on #1246
Are you solve your problem?

[2019-07-29 08:38] mmpei opened #8455 "Concurrent transfer when doing replication"
One work thread per job will make the transferring slow. The write rate of backend is low, but it can write concurrently. and also there are three threads for transferring when pushing image by docker client.
we should add some mechanism to transfer blobs concurrently and make the execution of job faster.

[2019-07-29 09:13] tongying123456 commented on #8431
thanks, it's a good idea

[2019-07-29 09:41] xaleeks commented on #7175
Since Harbor labels currently are not k:v pairs, will this introduce a new k:v structure to Harbor, and if so should be this new structure be called 'labels' and the current harbor 'labels' need to vacate this and find some other name.  Or are we translating Dockerfiles labels into harbor labels so that the k:v information would need to be condensed into a single string

[2019-07-29 09:43] xaleeks commented on #7175
Just double checking, this is referring to backfilling the images on harbor instances right now coming from docker but without previously imported labels?

[2019-07-29 09:55] duyanghao opened #8461 "Error response from daemon: unknown: The image is not signed in Notary."
**Expected behavior and actual behavior:**
Expected behavior:
`pull image` successfully from harbor when there are many docker
Actual behavior:
`pull image` successfully from harbor when there are only 100 docker, but failed when the number of docker increase to 300. And the error log of docker lists as below:
[code]

**Steps to reproduce the problem:**
run `docker pull` a image simultaneously on

[2019-07-29 10:10] AllForNothing opened #8462 "Optimization for tag-retention UI"
1. add loading component to RuleList
2. confirm  with PM

[2019-07-29 10:37] danfengliu opened #8464 ""Internal Server Error" occurred when add a replication rule"
![image](https://user-images.githubusercontent.com/44018302/62041985-8cfb5780-b22f-11e9-823f-c0b23a19cadf.png)

![image](https://user-images.githubusercontent.com/44018302/62042014-9ab0dd00-b22f-11e9-972e-13af588fc94d.png)

[2019-07-29 12:09] shashank-k opened #8468 "Clair DB not getting updated"
Issue : Clair DB is not updated from June 19.
Logs :
[code]

After this I dont see any error logs for Clair. Till 19th June I can see that the DB is updated every 12 hours. After that it is not updated.

Harbor version : 1.8.0
Docker version: 18.09.5
Docker-Compose : 1.24.0

Please let me know what might be the issue

[2019-07-29 12:40] Zenithar commented on #4982
+1

[2019-07-29 13:20] tongying123456 opened #8471 "installed by source code, why no need make?"
when i installed harbor by source code, why make install directly no need make first?
after i modified the code, then make install, it had not changed, It is still the previously loaded harbor ?
what should i do to run my modified code?

[2019-07-29 14:40] xaleeks commented on #8303
This seems difficult if we go through notary since the hostname is part of the GUN Daniel referenced. as confirmed here: https://github.com/theupdateframework/notary/issues/1023

[2019-07-29 14:50] xaleeks commented on #8405
I don't see an issue with adding a token regeneration but I didn't understand the 'expire without me realising will mean downtime', why not just set a near infinity large token expiration time?

[2019-07-29 16:32] jkjell opened #8473 "Guest Users should not be able to view members"
**Is your feature request related to a problem? Please describe.**
Our instance of Harbor is integrated with UAA.  In this case the UAA usernames are the email address of the user.  A guest user, can then see the email addresses of all members of a project but, we do not want them to see that information.

**Describe the solution you'd like**
Don't allow guest users to view all members of a projec

[2019-07-29 16:35] troy256 opened #8474 "Clair /tmp consuming large amounts of disk space"
**Expected behavior and actual behavior:**
The /tmp directory inside the clair container is 100 GB in size on our Harbor v1.8.1 system.  It is mainly ubuntu-cve-tracker* dirs, nvd-data* dirs and nvd-data-*.xml files.  As far as I can tell the /tmp directory continues to grow and is not automatically cleaned.  We had to manually remove some of the older files and dirs from /tmp to keep the Dockerho

[2019-07-29 19:53] leosunmo commented on #8405
The maximum expiration time is 365~ days, which in my experience is actually worse than a forced short expiry. With a short expiry you are forced to exercise your token management system/regeneration script. A year is a dangerous duration, just enough for me to forget about it :P

[2019-07-30 01:02] tongying123456 commented on #7458
you can use the /tools/migration/Dockerfile of garbor-master replace the 1.7.0

[2019-07-30 01:21] reasonerjt commented on #8432
The PRs fixed #8433 , reopening this issue

[2019-07-30 01:23] reasonerjt commented on #8432
@ericvmw
Currently the design is that if a user is added to a project as a user member, his role overwrites the the role of the group he is in.

I think what you expect is also reasonable but changing this will introduce some sort of break, I hope we can have some time to discuss and decide.

[2019-07-30 01:23] reasonerjt commented on #8433
fixed by #8446 and #8447

[2019-07-30 01:23] #8433 closed

[2019-07-30 01:26] #7458 closed

[2019-07-30 01:26] reasonerjt commented on #7458
Closing please let me know if this still blocks you.

[2019-07-30 01:29] reasonerjt commented on #7518
@ywk253100 could you double check if the latest API doc is accurate?

[2019-07-30 01:32] reasonerjt commented on #7616
dup of #7674

[2019-07-30 01:32] #7616 closed

[2019-07-30 01:33] reasonerjt commented on #7620
Closing due to inactivity.

[2019-07-30 01:33] #7620 closed

[2019-07-30 01:35] #7741 closed

[2019-07-30 01:37] reasonerjt commented on #7726
Closing due to inactivity.

[2019-07-30 01:37] #7726 closed

[2019-07-30 01:38] reasonerjt commented on #7762
@ywk253100
I believe the label filter has been enabled in master branch.
 please dup it to an existing issue.

[2019-07-30 01:40] reasonerjt commented on #7658
because the config.yml is read inside the container so you can't specify a path on the host.

[2019-07-30 01:40] #7658 closed

[2019-07-30 01:41] reasonerjt commented on #7835
I don't understand what's wrong by reading the title.
Please clarify the expectation and problem, do not put everything all in title, respect the template.

[2019-07-30 01:42] reasonerjt commented on #7838
Closing due to inactivity.

[2019-07-30 01:42] #7838 closed

[2019-07-30 01:42] #7843 closed

[2019-07-30 01:45] reasonerjt commented on #7882
@heww I think you have to use root to run `prepare`?

[2019-07-30 01:47] reasonerjt commented on #7883
@ninjadq could you double check if this has been fixed?

[2019-07-30 01:52] reasonerjt commented on #7907
@ninjadq can you fix it?

[2019-07-30 01:54] reasonerjt commented on #7909
see my comment:
**the attribute hostname is not for the interface to be listened to, it's the endpoint that user accesses Harbor**

[2019-07-30 01:54] #7909 closed

[2019-07-30 01:54] fengshunli opened #8477 "chart的name参数定义带数字后删除不了"
![image](https://user-images.githubusercontent.com/18587688/62094521-0c307000-b2b0-11e9-934d-c83355075526.png)

[2019-07-30 01:55] reasonerjt commented on #7912
@NanXuejiao If you are still experiencing this error could you open an issue to the repo goharbor/harbor-helm?

[2019-07-30 01:56] reasonerjt commented on #7928
You need extra steps to make docker communicate with notary with self-signed cert, see:
https://github.com/goharbor/harbor/blob/master/docs/use_notary.md

[2019-07-30 01:56] #7928 closed

[2019-07-30 01:57] reasonerjt commented on #7930
hi @bear280 is it fixed?

[2019-07-30 01:58] reasonerjt commented on #7939
@wy65701436
Please dup it to your epic.

[2019-07-30 02:03] danfengliu commented on #6563
It's done already.

[2019-07-30 02:03] #6563 closed

[2019-07-30 02:04] reasonerjt commented on #7949
I understand the problem you are seeing.
We are working on to allow Harbor integrate 3rd party scanner, we'll provide a solution in that effort.

https://github.com/goharbor/community/pull/90

[2019-07-30 02:07] reasonerjt commented on #7950
The problem happens when registry access the external storage, you should find some error in the log of registry pod.

[2019-07-30 02:10] reasonerjt commented on #7954
Currently we assume only when the job fails user needs to see the log, additionally, the scanning job should be short so we don't allow user to stop it.

We can provide APIs for such feature with limited effort, but the UI re-design may need more time.

[2019-07-30 02:10] kyrogue commented on #8405
Correct, also the expiration time limit issue is filed here #8416

[2019-07-30 02:12] reasonerjt commented on #7958
I don't think it's a very high priority I don't think most users run another nginx on the docker host of Harbor and it's easy to workaround

[2019-07-30 02:14] reasonerjt commented on #8000
@heww let's run some test against latest build and figure out the bottle neck.

[2019-07-30 02:17] reasonerjt commented on #8002
@caniszczyk there's no good way unless you build your own `prepare` image.

[2019-07-30 02:17] #8002 closed

[2019-07-30 02:19] reasonerjt commented on #8004
@jwangyangls Could you check if this is reproducible?

[2019-07-30 02:20] reasonerjt commented on #7989
@burdzwastaken any update?

[2019-07-30 02:22] reasonerjt commented on #8059
Thanks @heww
Closing the issue @fengshunli  feel free to re-open if you are still seeing the problem

[2019-07-30 02:22] #8059 closed

[2019-07-30 02:26] #8137 closed

[2019-07-30 02:33] reasonerjt commented on #8163
There should be another process bound the 80 port.

[2019-07-30 02:34] reasonerjt commented on #8160
This is expected, Harbor does not support running in mirror mode.

[2019-07-30 02:36] #8160 closed

[2019-07-30 02:36] reasonerjt commented on #8166
I believe the sort is based on string

[2019-07-30 02:40] reasonerjt commented on #8204
it's not harbor requests it's the traffic between docker and swift

[2019-07-30 02:46] reasonerjt commented on #8225
@liyongzhezz Please set the the replication endpoint with `https`.

[2019-07-30 02:46] #8225 closed

[2019-07-30 02:50] reasonerjt commented on #8286
Closing this issue, let me know if there's further question.

[2019-07-30 02:50] #8286 closed

[2019-07-30 02:51] #8393 closed

[2019-07-30 02:52] reasonerjt commented on #8403
You need to update hostname in harbor.cfg, as the hostname is propagated to different containers.

[2019-07-30 02:53] reasonerjt commented on #8420
@majian159 it's not 401 because the public projects does not require authorization.

[2019-07-30 02:53] #8420 closed

[2019-07-30 02:59] #8431 closed

[2019-07-30 03:07] ali94s opened #8479 "往1.8版本升级应该保留认证模式为可选"
如果默认是数据库的认证模式，则低版本升级时不能修改认证模式，需要删除数据库中的用户，但是ldap的用户和项目是有关联的，所以低版本使用ldap的很难升级到1.8并且保留原有的ldap

[2019-07-30 03:21] tan-chao commented on #8426
@wy65701436  Done. PR #8463

[2019-07-30 04:31] ywk253100 commented on #7979
Done

[2019-07-30 04:31] #7979 closed

[2019-07-30 04:31] ywk253100 commented on #7980
Done

[2019-07-30 04:31] #7980 closed

[2019-07-30 05:48] sfxworks commented on #7950
Hi
[Setting redirect to disable](https://github.com/goharbor/harbor/blob/master/docs/installation_guide.md#configuring-storage-backend-optional) for s3 fixes this issue. I have this is in working order now. Thank you for your time.

[2019-07-30 05:48] #7950 closed

[2019-07-30 05:50] heidsoft opened #8481 "镜像不能删除，镜像记录存在，并且大小显示为0"
手动删除了镜像，但是还在。
![image](https://user-images.githubusercontent.com/1329974/62103995-d8197700-b2d0-11e9-99b4-1e767238485e.png)

[2019-07-30 05:56] heidsoft opened #8482 "仓库gc时，是否只读设为可选项，而不是必须只读"
### 场景
因为镜像较多情况下，开发者删除较多镜像后，执行gc时，无法push镜像，或者pull镜像。导致进行正常的ci/cd操作。

[2019-07-30 05:57] heidsoft opened #8483 "是否可以支持设置项目最多保留最大镜像个数，并且每个项目可以选。"

[2019-07-30 06:02] heidsoft opened #8484 "harbor gc job出现死循环的解决方法"
问题现状
![image](https://user-images.githubusercontent.com/1329974/62104540-70642b80-b2d2-11e9-8d07-d269b91806c8.png)

1. 清理 select * from admin_job;
2. 清理redis key

[2019-07-30 06:02] heidsoft commented on #8484
版本：最新版本

[2019-07-30 06:41] eleztian opened #8486 "[feature request]save某一个项目里的images到一个压缩包"
**Is your feature request related to a problem? Please describe.**
某些时候我需要将一个项目部署到一个离线环境，我需要将所有的镜像复制过去。逐一复制比较麻烦。

**Describe the solution you'd like**
通过选择每一个镜像的版本来打包镜像到用户指定的位置
**Describe the main design/architecture of your solution**

**Describe the development plan you've considered**

**Additional context**

[2019-07-30 06:48] titpetric commented on #7958
Also an easy fix: remove “container_name” settings from docker compose and done. You shouldn’t have to chose between good practice and low priority

[2019-07-30 07:04] wy65701436 commented on #8482
this is as designed, we cannot guarantee that the RW conflict when to execute GC. So, read-only is required.

If you'd like to disable read-only during GC, I think you can edit in the configuration page manually or by API.

[2019-07-30 07:07] wy65701436 commented on #8484
hi, could you please explain more about your question? Did you delete the data of admin_job?

[2019-07-30 07:19] #8319 closed

[2019-07-30 07:19] jwangyangls commented on #7659
@reasonerjt  the original domain come from API ：   api/systeminfo, I think the problem is that the return data of this interface is not refreshed.

[2019-07-30 07:25] reasonerjt commented on #7659
@Yeefoner please make sure you update the hostname in the configuration file rerun `prepare` and use `docker-compose` to restart Harbor.
The domain name will be populate to different components so rerun `prepare` is a must.

[2019-07-30 07:31] #7683 closed

[2019-07-30 07:45] #8272 closed

[2019-07-30 07:48] steven-zou commented on #8188
@ywk253100

Could u take a look at it?

[2019-07-30 07:49] steven-zou commented on #8188
Seems something related with the database schema

[2019-07-30 07:50] steven-zou commented on #8135
already fixed

[2019-07-30 07:50] #8135 closed

[2019-07-30 07:51] steven-zou commented on #8041
More details of the replication?

harbor 1.6 -> harbor 1.6?

[2019-07-30 07:52] steven-zou commented on #7941
Tracked in the EPIC https://github.com/goharbor/harbor/issues/6654

[2019-07-30 07:55] steven-zou commented on #7598
@ninjadq

Could you check if this issue has been fixed already and comment which version contains the fix patch.

[2019-07-30 07:56] wy65701436 commented on #8115
done as PR merged.

[2019-07-30 07:56] #8115 closed

[2019-07-30 07:56] wy65701436 commented on #8100
Done as PR merged.

[2019-07-30 07:56] #8100 closed

[2019-07-30 07:56] steven-zou commented on #7902
Fixed, Close

[2019-07-30 07:56] #7902 closed

[2019-07-30 07:56] wy65701436 commented on #8113
code is almost done, move it to sprint 66

[2019-07-30 07:57] steven-zou commented on #7902
Patch is contained in V1.8.2

[2019-07-30 07:58] steven-zou commented on #8041
@ywk253100

Could you please take a look? Thanks!

[2019-07-30 07:59] wy65701436 opened #8489 "Quota migration solution"
1, set the quota of all of the projects to infinite(-1).
2, load data from the registry, and compute all of projects quota usage and update them into harbor DB -- called in harbor launch, and defined by whether has data in quota_usage.

[2019-07-30 08:01] #8112 closed

[2019-07-30 08:01] AllForNothing commented on #8306
fixed in pr #8480

[2019-07-30 08:01] #8306 closed

[2019-07-30 08:34] ocontant commented on #6777
I'm also seeing this issue and that cause my container to keep restarting.
[emerg] 1#0: mkdir() "/etc//nginx/fastcgi_temp" failed (13: Permission denied) nginx: [emerg] mkdir() "/etc//nginx/fastcgi_temp" failed (13: Permission denied)

After I put the fix of ke4nec, i have an error :
[emerg] 1#0: open() "/etc/nginx/nginx.conf" failed (13: Permission denied)
nginx: [emerg] open() "/etc/nginx/nginx.

[2019-07-30 08:50] #7969 closed

[2019-07-30 09:31] jwangyangls opened #8491 "When enter harbor through global search, it should have guest permission."
![image](https://user-images.githubusercontent.com/29826789/62118052-94823580-b2ef-11e9-86c3-871df30c677e.png)

[2019-07-30 09:42] wy65701436 commented on #8199
done as merged.

[2019-07-30 09:42] #8199 closed

[2019-07-30 09:48] wy65701436 opened #8493 "Owner is always empty in quota page."
Cannot know what is it for? admin? creator?

<img width="1447" alt="image" src="https://user-images.githubusercontent.com/2841473/63341596-270c7680-c37c-11e9-9a8f-24cfbd28c462.png">

[2019-07-30 09:49] reasonerjt commented on #8017
@devent
Sorry for the late response.

Just to clarify if you are suggesting map the role in id token to a role in Harbor, that's a different requirement, and I don't think we are going to support it in near future.
Are you suggesting Harbor view the roles in token by keycloak as groups?

Will the screenshot in OP satisfy the requirement, that admin set a claim for group list? in the case by @erwin

[2019-07-30 11:43] zetaab commented on #8017
@reasonerjt I coded something which looks like this https://github.com/goharbor/harbor/commit/afc98356cb2a1f882cf42d4b9b542226869bb9e8

- user_groups are always went through when new/existing user will login
- authentication to /service/token missing, can we read oidc token in that function? If not, then we could save groups when user will login. I know - its not the best way but it is still step

[2019-07-30 11:58] Andreiaotto opened #8496 "Unable to run tagd harbor v.1.8.1 with oidc"
Hi, I'm trying to use tagd on harbor v.1.8.1, auth OIDC with Azure AD in kubernetes, using tagd:1.7.2.

We already tried multiple things, but always the same issue, with or without https:
`[11:13:10 WRN] Ignoring Certificate Errors`
`[11:13:10 INF] Loading rules using Harbor.Tagd.Rules.FilesystemRuleProvider`
`[11:13:10 WRN] Not running in report-only mode. Tags will be deleted`
`[11:13:10 INF] Co

[2019-07-30 13:02] TechCatOther commented on #8388
You need to remove all users of LDAP auth and remove deps of owned projects

[2019-07-30 13:34] Purushotham233 commented on #8320
Look for the OAuth2 support. Has some started working on this? Else I can start and raise a PR on this.

[2019-07-30 14:21] Andreiaotto commented on #8496
It's also failing with the same log for the admin (local) user, that should have nothing with the oidc integration.
Any idea to have more logs to better troubleshoot?

Thank you!

[2019-07-30 16:06] joeeltgroth opened #8497 "Enable UAA Authorization Bearer capability"
**Expected behavior and actual behavior:**
When Harbor is configured to use UAA as the authentication mechanism, the UAA
api provides an access token (id_token) for a user. This token should be usable as an "Authorization bearer" header when making requests to Harbor API.

We want to follow the OAuth2 pattern that avoids using basic authentication.  Access tokens have a validity period (they expir

[2019-07-31 01:27] xaleeks opened #8498 "geolocation collection of docker actions"
Collect geolocation related client-side information including IP, domain etc from users who perform docker actions like push/pull from Harbor.