[2019-05-05 09:30] jwangyangls opened #7638 "the api/chartrepo/library/chart error return is not standard"
the _tbody return as follows：
![image](https://user-images.githubusercontent.com/29826789/57191755-896f7180-6f5b-11e9-8ee3-35882aa8e7ed.png)

The correct return should be：
https://files.slack.com/files-pri/T8YCM8N9L-FJ895V1K3/image.png
![image](https://user-images.githubusercontent.com/29826789/57191752-7d83af80-6f5b-11e9-8765-23efbeed3034.png)

[2019-05-05 09:51] ninjadq commented on #7629
these configs are user level config and all removed from 1.8.0

[2019-05-05 09:51] #7629 closed

[2019-05-06 02:41] #7627 closed

[2019-05-06 02:43] robinwangrubin commented on #7627
I found out the reason. It's because my container can not resolve my OSS's hostname.

[2019-05-06 03:37] louyiping commented on #6515
@reasonerjt Their digest are different.And if I delete 3 tags, two of them will failed. Below is the error log when I delete 2 tags in the same time. Please check.
`May  6 11:28:29 172.18.0.1 registry[1038]: time="2019-05-06T03:28:29.060469235Z" level=info msg="response completed" go.version=go1.7.3 http.request.host="registry:5000" http.request.id=6e7364ec-c15b-4405-b4a6-48524deca7dd http.request

[2019-05-06 03:42] louyiping commented on #6515
@reasonerjt  Maybe That's because these tags have common layers that will be deleted? For security, I can not push them to docker hub.Sorry.

[2019-05-06 05:03] zhoumeina opened #7644 "use httpClient to send request instead of http to make sure all response are json format"
from angular 4.3, it suggest to use httpClient to request to make sure all response type is json format.

[2019-05-06 05:19] danfengliu commented on #6926
It's fixed in PR #7636.

[2019-05-06 05:19] #6926 closed

[2019-05-06 05:28] danfengliu commented on #7065
Due to "replication NG", this keyword is no longer useful anymore, so this issue is no longer existed.

[2019-05-06 05:28] #7065 closed

[2019-05-06 06:05] wy65701436 opened #7647 "Log level in harbor.yml doesn't impact jobservice"

[2019-05-06 06:41] reasonerjt commented on #7425
@justinmjc let me clarify, did you see high CPU consumption on which container?  the `clair` or `pgsql`?

[2019-05-06 06:55] #7558 closed

[2019-05-06 07:26] guidopatanella commented on #6976
I agree with @obeyler . @stonezdj , please clarify. All LDAP related settings are to be on harbor.cfg. BTW, the default harbor.cfg does not show the "ldap_group_admin_dn" as part of the configuration, so it should be added at least in commented-out form.

[2019-05-06 07:54] reasonerjt opened #7649 "Use "long-syntax" to define volume to bind files into container."
User has been repeatedly reporting confusing situation that `docker-compose` creating empty directory for non-existing file, which is not easy to debug and fix.

Let's leverage this capability to mitigate the impact when mounting a non-existent file in docker-compose.yml

According to https://docs.docker.com/compose/compose-file/compose-file-v2/#long-syntax

We'll need up bump up the version to 2.

[2019-05-06 08:01] mmpei commented on #7116
closed. maybe it is only happened in special scenario.

[2019-05-06 08:01] #7116 closed

[2019-05-06 09:08] stonezdj commented on #7637
Fixed in #7650

[2019-05-06 09:35] reasonerjt commented on #7625
Fixed by #7645

[2019-05-06 09:35] #7625 closed

[2019-05-06 09:56] pureshine commented on #7608
This problem is because the api/replication/executions api does not return a result, so the execution list will not be refreshed.

[2019-05-06 10:18] reasonerjt commented on #7630
We may need certain combination of different level of vulnerabilities to reproduce this issue.
@aladjadj is this image pull-able from the internet?

[2019-05-06 13:58] justinmjc commented on #7425
pgsql

[2019-05-07 02:42] weiwendi opened #7658 "Delete the actual files of the repository"
Deleting the data in the registry container, must the path to the config.yal file be in the /etc/registry/ directory?

When I delete the data of the harbor registry, I specify the config.yml file and prompt me "no such file or directory"
$ docker run -it --name gc --rm --volumes-from registry vmware/registry-photon:v2.6.2-v1.5.1 garbage-collect --dry-run  common/config/registry/config.yml
configur

[2019-05-07 02:55] Yeefoner opened #7659 "Change the domain name,but the original domain name is still in the web console "Pull Command""
Change the domain name,but the original domain name is still in the web console "Pull Command"
version:1.7.5

[2019-05-07 03:27] stone-syy commented on #6678
我和你是一样的问题，你有查到原因吗？？？？

[2019-05-07 03:30] danfengliu opened #7662 "Wrong data displayed when editing replication rule in a certain sequence."
Test Steps:
1. Click ratio button "Pull-based";
2. Select a "Source registry" in list;
3. Click ratio button "Push-based";
4. Select “Event Based” as "Trigger Mode";
5. Click ratio button "Pull-based", then there will be a "Source registry" displayed due to last selection ;
6. After finishing other items, then you can add a replication rule which is both "Pull-based" and “Event Based”.

Expectatio

[2019-05-07 04:01] pureshine commented on #7608
If the api returns 201 state will refresh the list, otherwise it will not, this problem is not reproduced temporarily, please confirm the api return status

[2019-05-07 04:01] #7608 closed

[2019-05-07 04:34] reasonerjt commented on #6548
Fixed by #7648

[2019-05-07 04:34] #6548 closed

[2019-05-07 04:37] ywk253100 commented on #7548
The 401 error is caused by the wrong time of the server where Harbor is deployed.

[2019-05-07 04:39] ywk253100 commented on #7575
It's caused by the network issue, closing this one.

[2019-05-07 04:39] #7575 closed

[2019-05-07 05:00] #7662 closed

[2019-05-07 05:04] rajboruah opened #7665 "Display name of labels in Chrome is incorrect."
**Expected behavior and actual behavior:**

Expected behavior:

Helm-Chart tab should be named: 'Helm Charts'
Labels should be named as : 'Labels'
Fields should be as 'Name', 'Status', 'Versions', 'Created Time'

Actual behaviour:

Helm-Chart tab is displayed as: PROJECT_DETAIL.HELMCHART
Labels is named as : PROJECT_DETAIL.LABELS
Fields are being displayed as '
HELM_CHART.NAME', 'HELM_CHART.STATUS

[2019-05-07 06:09] jwangyangls opened #7668 "Vulnerability cannot be saved after switching scan all mode"
Vulnerability can not be saved by switching to custom and cutting back to other modes。

[2019-05-07 06:12] ywk253100 opened #7669 "The port of notary service cannot be customized"

[2019-05-07 06:18] wy65701436 opened #7670 "Update doc of required docker-compose version"
I tried to install with latest installer docker-compose 1.8.0, but got the following error

ERROR: Version in "./docker-compose.yml" is unsupported. You might be seeing this error because you're using the wrong Compose file version. Either specify a version of "2" (or "2.0") and place your service definitions under the `services` key, or omit the `version` key and place your service definitions at

[2019-05-07 06:18] ywk253100 opened #7671 "The commands shown on portal is incorrect if using the customized port to start up harbor"
<img width="1676" alt="port" src="https://user-images.githubusercontent.com/5835782/57276000-c14cf500-70d2-11e9-9614-b0b10d5e41b5.png">

[2019-05-07 06:21] ywk253100 opened #7672 "Can not login with customized port to start up Harbor"
The root cause should be same with #7671
[code]

[2019-05-07 06:22] wy65701436 opened #7673 "Needs to upgrade docker & docker-compose version check in install.sh"

[2019-05-07 06:31] wy65701436 opened #7674 "Needs a "Test Connection" button in OIDC configuration page"

[2019-05-07 06:36] jwangyangls opened #7675 "click Garbage Collection and vulnerability page save button alert Internal Server Error"
click Garbage Collection and vulnerability page save button alert Internal Server Error;
init mode : none;
![image](https://user-images.githubusercontent.com/29826789/57276895-6ff23500-70d5-11e9-93c2-7e716baecc17.png)

click save button  alert error;
![image](https://user-images.githubusercontent.com/29826789/57276882-67016380-70d5-11e9-9319-0e6bf907660b.png)

[2019-05-07 06:36] wy65701436 opened #7676 ""New User" should be hidden in OIDC mode"
![image](https://user-images.githubusercontent.com/2841473/57276925-813b4180-70d5-11e9-8074-98ea4f33871e.png)

[2019-05-07 06:42] steven-zou opened #7677 "Wrong check pattern of OIDC endpoint"
What can we help you?
<img width="834" alt="Screen Shot 2019-05-07 at 14 38 42" src="https://user-images.githubusercontent.com/5753287/57277212-438ae880-70d6-11e9-84b5-aa6098a2749c.png">

[2019-05-07 06:46] steven-zou opened #7678 "`Cancel` of OIDC configuration does not work"
What can we help you?
<img width="827" alt="Screen Shot 2019-05-07 at 14 44 48" src="https://user-images.githubusercontent.com/5753287/57277456-c57b1180-70d6-11e9-8a15-a730f20c47e5.png">

[2019-05-07 06:48] steven-zou opened #7679 "Incorrect tip message for invalid input of OIDC scope"
What can we help you?
<img width="974" alt="Screen Shot 2019-05-07 at 14 46 50" src="https://user-images.githubusercontent.com/5753287/57277646-2acf0280-70d7-11e9-8dd4-103581f9c811.png">

[2019-05-07 07:45] reasonerjt opened #7680 "The cfg migrator should allow user to mount harbor.yml before doing migration"
I tried to migrate from v1.6.0 to latest build.

When running the migrator to migrate `harbor.cfg` it updates `harbor.cfg`.

This is confusing and make the migration not idempotent,

for the migration to v1.8.0 we should require user to mount a harbor.yml file as the result of the migration.

[2019-05-07 07:48] reasonerjt opened #7681 "The cfg migrator thinks I'm using external DB when I'm not"
Migration from v1.6.0 -> v1.8.0

I'm using local DB, but after migration the `external_database` and `external_redis` are enabled in `harbor.yml`

[2019-05-07 07:50] ywk253100 opened #7682 "The external database configuration doesn't work as expected"
1. The external database configuration doesn't apply to notary
2. `sslmode` isn't configurable

[2019-05-07 07:52] zhoumeina opened #7683 "error message notification should be different with successful notification."
It should use red notification bar when something unnormal happened.

[2019-05-07 08:03] wy65701436 opened #7684 "UI hangs at deleting when to delete OIDC user"
<img width="362" alt="image" src="https://user-images.githubusercontent.com/2841473/57283381-974eff00-70e1-11e9-91bd-4cd505140b00.png">

[2019-05-07 08:06] wy65701436 opened #7685 "“Delete” and "Reset Password" should be hidden in user management page"

[2019-05-07 08:14] heww opened #7686 "Registries management in administration page will always show loading indicator when call API failed"
What can we help you?

<img width="1070" alt="WX20190507-161317@2x" src="https://user-images.githubusercontent.com/5634205/57284114-1bee4d00-70e3-11e9-87d1-48e16430ab43.png">

[2019-05-07 08:16] heww commented on #7686
<img width="630" alt="WX20190507-161544@2x" src="https://user-images.githubusercontent.com/5634205/57284322-830c0180-70e3-11e9-8780-15742e244373.png">

[2019-05-07 08:19] wy65701436 opened #7687 "OIDC User login scenario should be revised"
It confuses user to login OIDC user in the home page.

The proposed way should be:
1, user input the username
2, harbor redirects to the login page
3, user input the password, and login success
4, jump back to harbor.

<img width="462" alt="image" src="https://user-images.githubusercontent.com/2841473/57284432-bc447180-70e3-11e9-88ee-587380c5406c.png">

[2019-05-07 08:21] stonezdj opened #7688 "The common/config/chartserver/env is rendered incorrect when regionendpoint is empty"
[code]

The env is render incorrect
[code]
It should be rendered as empty string
[code]

The same issue exist in common/config/registry/config.yml

sometimes the root directory also rendered to None, actually, it is emtpy string, and the True should be true with same format, because I am not sure registry can consider it as true?
[code]

[2019-05-07 08:25] reasonerjt commented on #7687
For 1.8 Let's try to redirect when user click the "login" button.

After delivering the fix I'll write another issue to track the ux refinement.

[2019-05-07 08:26] heww commented on #7686
<img width="1225" alt="WX20190507-162517@2x" src="https://user-images.githubusercontent.com/5634205/57284967-ce72df80-70e4-11e9-8adc-955c99ddd2d9.png">

[2019-05-07 08:30] zhihuicRepo commented on #7598
i hava the same problem;
when i mod  '/common/config/chartserver/env' 'CHART_URL=http://harbor.today36524.td/chartrepo'
i can not download charts detail version (the url duplicate) like you;
harbor version v1.7.5-a8f6543a

[2019-05-07 08:31] steven-zou opened #7689 "Uncheck pull for the robot account generation, pull permission is still assigned"
Actually,
<img width="562" alt="Screen Shot 2019-05-07 at 16 28 44" src="https://user-images.githubusercontent.com/5753287/57285262-67a1f600-70e5-11e9-8579-5b6393ee2c60.png">
 it should not assign the unchecked permissions to the robot account

[2019-05-07 08:32] reasonerjt commented on #7681
Attaching the `harbor.cfg`
[harbor.cfg.txt](https://github.com/goharbor/harbor/files/3151550/harbor.cfg.txt)

[2019-05-07 08:34] wy65701436 opened #7690 "User name and email cannot be saved in the OIDC profile"
<img width="619" alt="image" src="https://user-images.githubusercontent.com/2841473/57285524-f878d180-70e5-11e9-8f14-171c402b89b6.png">

[2019-05-07 08:41] renmaosheng opened #7691 "health check API return a html page instead of json result"
If you are reporting a problem, please make sure the following information are provided:

**Expected behavior and actual behavior:**
expecting health API always return json format.
**Steps to reproduce the problem:**
1. stop the redis container
2. curl -X GET "https://10.155.21.231/api/health" -H "accept: application/json" -k
**Versions:**
1.8.0 internal testing build.

[2019-05-07 08:48] zhoumeina opened #7692 "gc cron job log only show the latest job log"
set a custom gc job. Use cron:* /5* * * * *.
It generate a job log the first time.
![image](https://user-images.githubusercontent.com/4946616/57286458-d41df480-70e7-11e9-90c4-3a53e286a3b0.png)
After several minutes, when it run the second time. The log changed to :
![image](https://user-images.githubusercontent.com/4946616/57286507-f1eb5980-70e7-11e9-833d-e962e3b2ebdf.png)
It is really confused us

[2019-05-07 08:52] reasonerjt opened #7693 "The replication policy changed after migration"
This happens when I'm testing 1.6.0 -> 1.8.0 upgrade

1. I set the replication policy schedule as "daily 9:30AM" but after migration the policy's cron string is "0 30 2 * * *"
2. I set the filter of tag as "*.*" but after migration the policy's filter on tags is empty.

[2019-05-07 08:58] ninjadq opened #7694 "Still replicate chart when choose native registry as endpoint"
If the endpoint is a native docker registry. And select `both` in the resource. The chart replicate task still starts.

![image](https://user-images.githubusercontent.com/1069785/57287044-3b887400-70e9-11e9-834b-6f2b2f2a614c.png)

If the endpoint does not support chart, they shouldn't be triggered.

[2019-05-07 09:21] wy65701436 opened #7695 "Panic on logout after I update OIDC client ID"
[steps]
1, log in with an OIDC user.
2, Update the OIDC client ID.
3, Logout.

Get the following error,

May  7 02:16:14 172.18.0.1 core[1608]: 2019/05/07 09:16:14 #033[1;35m[C] [asm_amd64.s:509] /usr/local/go/src/runtime/asm_amd64.s:2337#033[0m
May  7 02:16:20 172.18.0.1 core[1608]: 2019-05-07T09:16:20Z [INFO] Failed to verify ID Token, error: oidc: expected audience "harbor-dev1" got ["harbor-de

[2019-05-07 09:25] heww opened #7696 "Click members and logs tab in project detail page portal will redirect to projects list page when call API failed"
What can we help you?

![Jietu](https://user-images.githubusercontent.com/5634205/57288896-f9613180-70ec-11e9-9bd1-6f0a32128d0f.gif)

[2019-05-07 09:28] #7430 closed

[2019-05-07 09:31] renmaosheng opened #7698 "export robot account to file"
Current ROBOT account implementation will generate a long string and users need to copy the name and the secret to a file manually, It would be nice if harbor can support exporting it to file.

[2019-05-07 09:36] heww opened #7699 "Z-Index issue in repository detail page when event popup widget open"
What can we help you?
<img width="1370" alt="WX20190507-173215@2x" src="https://user-images.githubusercontent.com/5634205/57289591-3da10180-70ee-11e9-9f30-62252fd3aa2f.png">

[2019-05-07 09:37] ninjadq opened #7700 "helm-chart label filter shouldn't inside the table"
![image](https://user-images.githubusercontent.com/1069785/57289828-b4d69580-70ee-11e9-9d79-7967f6995d80.png)

[2019-05-07 09:41] ninjadq commented on #7688
this is fixed in #7639

[2019-05-07 09:43] heww opened #7701 "New replication rule dialog will always show loading when call API failed"
What can we help you?
<img width="698" alt="WX20190507-174139@2x" src="https://user-images.githubusercontent.com/5634205/57290244-98872880-70ef-11e9-938e-cb8d8a14dcd1.png">

[2019-05-07 10:00] heww opened #7702 "Wrong robot token expiration in system settings when call API failed"
What can we help you?

<img width="935" alt="WX20190507-175800@2x" src="https://user-images.githubusercontent.com/5634205/57291259-accc2500-70f1-11e9-945b-f078e1849f43.png">

[2019-05-07 10:10] wy65701436 opened #7704 "Swagger API explorer should use the authorized user"

[2019-05-07 10:32] reasonerjt opened #7706 "The color of notification in UI has changed after upgraded to v1.8.0"
For example when Harbor was set to read-only mode, there should be a red banner with a warning sign telling user Harbor is in read-only mode.

After I upgrade to v1.8.0 from v1.7.0 the read-only mode persists but the banner is blue.

I also noticed some green/red notification for success and failure all turn blue after upgrading.

I guess it's due to some attributes of component in clarity were ch

[2019-05-07 10:40] wy65701436 opened #7708 "Create project error message doesn't show on the dialog."
<img width="694" alt="image" src="https://user-images.githubusercontent.com/2841473/57293527-945f0900-70f7-11e9-916d-d9dc6835f1ce.png">

[2019-05-07 11:15] ctodea commented on #7457
You can try using at the REST [API](https://github.com/goharbor/harbor/blob/master/docs/configure_swagger.md), but I've tried it and couldn't make it work as the /api/replication endpoint responds 404, I think the issue is related to other reported (unsolved yet) [issue](https://github.com/goharbor/harbor/issues/7518).

[2019-05-07 11:40] #6648 closed

[2019-05-07 12:20] ctodea commented on #7518
Could you please add to the description the version you are using? `/api/systeminfo`

Anyway I've tried in v1.7.5-a8f6543a (I believe 1.7.5 is the latest release) and I'm still getting 404's to `/api/regiestries` and `/api/replication/policies` and even `/api/health`

[2019-05-07 14:08] ctodea commented on #7518
Check out the router for the APIs: https://github.com/goharbor/harbor/blob/release-1.7.0/src/core/router.go
the endpoints on the tag 1.7 the routes don't match the ones defined in swagger.

e.g.: `/api/replication/policies` responds a 404
but `/api/policies/replication` works fine

As the tag to previous versions, like 1.6 is broken cant tell exactly when this changed.

[2019-05-07 14:51] aladjadj commented on #7630
My point is that the sum of width is not good

![image](https://user-images.githubusercontent.com/1840440/57307748-68d32300-70e5-11e9-983c-79d86dbb5d6f.png)

I identify one strange property

`.tip-block[_ngcontent-c20] {
     margin-left: -3px;
}`

an other tip:
the colors are calculated in [result-tip.component.ts](https://github.com/goharbor/harbor/blob/master/src/portal/lib/src/vulnerability-sc

[2019-05-07 15:10] balonik opened #7710 "LDAP User/Group filter syntax inconsistency"
Version: 1.7.5 and master

There is inconsistency in configuring LDAP User and Group Filter in Configuration/Authentication or in harbor.cfg.
While the User Filter must contain round brackets at the begging and end - `(objectClass=user)`; the Group Filter can't contain brackets at the beggining and end - `objectClass=group`.

From: https://github.com/goharbor/harbor/blob/master/src/common/utils/ld

[2019-05-07 15:23] sergeyfd opened #7711 "Is there a documentation for auth_mode"
Is auth_mode documented anywhere in details? So for I see db_mode and ldap_mode. From the code I can guess that there's also oidc_mode and uaa_mode. Are they documented anywhere? Is it possible to configure Harbor to use Gitlab as a authn and authz provider?

[2019-05-08 00:16] renmaosheng commented on #698
@quickwind we have implemented the robot account in 1.8, it can support your case, please have a try.

[2019-05-08 02:20] jwangyangls commented on #7634
fix it in  pull request #7654

[2019-05-08 02:20] #7634 closed

[2019-05-08 02:20] jwangyangls commented on #7690
fix it in  pull request #7654

[2019-05-08 02:20] #7690 closed

[2019-05-08 02:56] jwangyangls commented on #7708
fix it in  pr #7714

[2019-05-08 02:56] #7708 closed

[2019-05-08 02:56] jwangyangls commented on #7706
fix it in  pr #7714

[2019-05-08 02:56] #7706 closed

[2019-05-08 02:58] jwangyangls commented on #7679
fix it in pr #7713

[2019-05-08 02:58] #7679 closed

[2019-05-08 02:59] jwangyangls commented on #7677
fix it in pr #7713

[2019-05-08 02:59] #7677 closed

[2019-05-08 03:02] jwangyangls commented on #7676
fix it in pr #7712

[2019-05-08 03:02] #7676 closed

[2019-05-08 03:02] jwangyangls commented on #7685
fix it in pr #7712

[2019-05-08 03:02] #7685 closed

[2019-05-08 04:17] #7695 closed

[2019-05-08 04:23] reasonerjt commented on #7295
Fixed in #7652

[2019-05-08 04:23] #7295 closed

[2019-05-08 04:44] wy65701436 commented on #7597
close it as PR https://github.com/goharbor/harbor/pull/7666 merged.

[2019-05-08 04:44] #7597 closed

[2019-05-08 04:50] #6838 closed

[2019-05-08 05:22] d2dyno commented on #694
Bumping this, as I would really love to be using harbor with gitlab's CI, but don't want to have to change files and build myself.

[2019-05-08 05:23] d2dyno commented on #6863
I really like this idea! any progress?

[2019-05-08 05:57] #7668 closed

[2019-05-08 06:23] wy65701436 commented on #7692
It's actually as designed so far.

As the limitation of jobservice in v1.7.0, it has no way for the caller to distinguish schedule and it's execution, the GC just use one record to report the latest instance.

But, the problem has been resolved recently by introducing a new definition(Execution) in jobservice. As we're reaching the release, it's not a bug or shipping blocker but an enhancement, I

[2019-05-08 06:35] wy65701436 commented on #7689
It's designed by docker distribution, it issues a token with access scope of "pull and push" for authorized push request.

What we can do, I think, is to modify UI string to let the user know this.

[2019-05-08 06:58] reasonerjt commented on #7566
This is highly un-reproducible, and looks like an issue in environment, mark it as `defer-candidate` for v1.8.0

[2019-05-08 07:35] allencloud opened #7722 "[Proposal] make image preheat functions towards Dragonfly GA"
**Is your feature request related to a problem? Please describe.**
This is not an existing problem of Harbor, but an enhancement for the integration of Harbor and [Dragonfly](https://github.com/dragonflyoss/Dragonfly), which are both hosted in CNCF.

Last year, Harbor and Dragonfly team had a proposal in Dragonfly community: [Proposal: Integrate trusted cloud-native registry Harbor with Dragonfly

[2019-05-08 08:23] reasonerjt commented on #7687
@jwangyangls Please help to handle `302` by login controller in UI.

[2019-05-08 08:35] ywk253100 commented on #7363
Fixed.

[2019-05-08 08:35] #7363 closed

[2019-05-08 08:51] reasonerjt commented on #6435
This is a bug from UI but we consider for private registry user the impact is low.
We're considering to change the design so even for public project user has to login to view.
We'll revisit it after v1.8.0

[2019-05-08 08:52] reasonerjt commented on #6882
This is a refactor work, no impact in functionality.
Mark it as `defer-candidate`

[2019-05-08 08:52] reasonerjt commented on #7238
It's rather a trivial issue in code, no impact to the functionality.
Mark it as `defer-candidate`

[2019-05-08 08:59] reasonerjt commented on #7669
This is a change in the design indeed, we don't have strong requirement and it doesn't impact functionality.
Mark it as `defer-candidate`

[2019-05-08 09:02] reasonerjt commented on #7674
Mark as `defer-candidate` as this is an enhancement rather than bug, and the error is observable in log or when user login via OIDC.

[2019-05-08 09:09] reasonerjt commented on #7689
Let's update the label on UI to "Permission for Pull/Push"

[2019-05-08 09:12] reasonerjt commented on #7691
The root cause is that all API in core component relies on redis for checking the request.
We may need to change the architecture to fix this situation.

[2019-05-08 09:13] reasonerjt commented on #7692
We may defer it b/c this is actually an enhancement rather than a bug.

[2019-05-08 09:17] reasonerjt commented on #7259
Closing as fixed.

[2019-05-08 09:17] #7259 closed

[2019-05-08 09:19] reasonerjt commented on #7561
Some other issues may related to this one: #7671 #7672

[2019-05-08 09:20] #7566 closed

[2019-05-08 09:40] reasonerjt commented on #7704
This looks like an issue in API Explorer code.  Mark it as a `defer-candidate`

[2019-05-08 09:47] #7587 closed

[2019-05-08 09:48] ninjadq commented on #7587
fixed in #7624

[2019-05-08 10:24] deo999 opened #7726 "harbour login, pushing and pulling working on host machine only"
What can we help you?
hello,
           I have setup harbor on Linux mint, everything working fine login via terminal, pushing and pulling  images from the terminal and that are  appear into harbor web UI, but the problem is when I try to login into the private registry from another machine then I am getting the error:
****docker login **demo.registry.com**
Authenticating with existing credentials

[2019-05-08 10:28] #7202 closed

[2019-05-08 11:11] #7579 closed

[2019-05-08 13:22] joshisagar92 opened #7729 "Authentication not working with LDAP Microsoft AD"
Test LDAP server from configuration UI is giving **Connection to LDAP server is verified.**.But we are not able to login through AD credential. I am able to login through admin/Harbor12345.

Note : we are using ldap:// protocol with static IP to get connect.

We are getting below errors in /var/logs/Harbor/core.logs while trying to login through AD credentials.

May  8 18:40:34 172.29.0.1 core[487

[2019-05-08 14:28] steven-zou opened #7730 "Provide a generic policy-based preheat feature to cover both Dragonfly and Kraken"
Dragonfly and Kraken are both P2P image content distributors to accelerate the image distribution process. Integrate with those P2P distributors will definitely improve the distribution performance of the registry itself.

User can define a policy to decide which images are published to the content cache of P2P distributors for runtimes pullings under what conditions.

[2019-05-08 14:31] steven-zou commented on #7730
Related with #7722

[2019-05-08 14:40] #7702 closed

[2019-05-08 14:41] #7699 closed

[2019-05-08 14:42] #7686 closed

[2019-05-08 14:42] #7684 closed

[2019-05-08 17:59] ojasgupta commented on #5876
Hi,
I have the same question, is it supported now or are you planning to add this anytime soon?

Thanks,
Ojas

[2019-05-09 00:14] steven-zou opened #7732 "Rename the huawei replication driver name to `Huawei Software Repository for Container (SWR)`"
What can we help you?

[2019-05-09 02:11] #7637 closed

[2019-05-09 02:24] stonezdj commented on #7729
You need to check if there is any search filter configured?  if yes, please remove it to verify, and also check the LDAP UID is configured correct?

[2019-05-09 02:41] #7701 closed

[2019-05-09 05:01] wy65701436 commented on #7233
close as fixed.

[2019-05-09 05:01] #7233 closed

[2019-05-09 05:29] wy65701436 commented on #7670
close it as fixed.

[2019-05-09 05:29] #7670 closed

[2019-05-09 05:50] steven-zou commented on #7509
@michmike

`scheduled replication` is already supported.

[2019-05-09 06:33] Candyient opened #7741 "Access harbor display error 502"
Access harbor display error 502.I checked the status of the container.
![image](https://user-images.githubusercontent.com/32630577/57431965-06099500-7267-11e9-87bd-369cd73c7d37.png)
  harbor-adminserver   are always restarted.so I checked its log.
![image](https://user-images.githubusercontent.com/32630577/57432031-3c471480-7267-11e9-959e-c39e306ac402.png)
then  i checked the logs of  db.
![image]

[2019-05-09 07:11] stonezdj opened #7742 "remove -it option in docker run of prepare script"
remove -it option in prepare
[code]

Because there is no tty when install harbor tile.

[2019-05-09 08:15] #7675 closed

[2019-05-09 08:32] #7638 closed

[2019-05-09 08:45] #7385 closed

[2019-05-09 08:45] ninjadq commented on #7385
fixed in #7640

[2019-05-09 09:40] #7678 closed

[2019-05-09 09:40] #7689 closed

[2019-05-09 09:42] sykp241095 commented on #4982
SAML+1

[2019-05-09 09:57] ke4nec commented on #6777
### Steps to reproduce the problem:
Not sure what caused the problem. i run down -v & up -d command will resolve, but after few hours it happend again.

### Versions:
Please specify the versions of following systems.

- harbor version: [1.7.0]
- docker engine version: [18.09.6]
- docker-compose version: [1.21.2]
- System: Ubuntu 16.04.8 LTS

[2019-05-09 11:51] joshisagar92 commented on #7729
I have checked that no search filter configured.
UID is configured correctly because it connect with ldap server successfully from UI.

[2019-05-09 11:55] joshisagar92 commented on #7729
One more question,
Can you please let me know for ldap authentication administrator user / service account is required?

[2019-05-09 12:16] #7693 closed

[2019-05-09 13:53] #7732 closed

[2019-05-09 14:33] #7680 closed

[2019-05-09 14:37] reasonerjt commented on #7741
Hi,
Looks like the DB schema is incorrect.

Is it a fresh install or upgrade?

What version of harbor are you using?

[2019-05-09 15:48] michmike commented on #7509
@steven-zou yes, i am aware :)  there are a few enhancements i might propose on that, but overall it is really good already

[2019-05-09 16:12] sykp241095 commented on #5975
Same issue, 1.5.x

[2019-05-10 01:37] Candyient commented on #7741
I deployed it with harbor-offline-installer-v1.4.0.tgz .It worked normally before.

[2019-05-10 01:38] Candyient commented on #7741
Suddenly one day it was abnormal.

[2019-05-10 01:53] stonezdj commented on #7688
This issue is can produced in build 1486

[2019-05-10 02:19] ywk253100 commented on #7577
Should have been fixed already.

[2019-05-10 02:19] #7577 closed

[2019-05-10 02:25] ywk253100 commented on #7457
It's implemented and will be available in 1.8. Closing this issue.

[2019-05-10 02:25] #7457 closed

[2019-05-10 04:56] #7673 closed

[2019-05-10 05:03] #7054 closed

[2019-05-10 06:22] #6880 closed

[2019-05-10 07:49] ywk253100 opened #7762 "The label filter in replication policies will be lost after upgrade to version 1.8"
As the label filter isn't supported in the replication of version 1.8, after upgrade the label filter will be lost.

[2019-05-10 08:47] wy65701436 opened #7764 "Discuss on updating 'appendonly' to yes in redis.conf"
Currently, we're using `appendonly no` as the value of redis.conf.

[Note]
This may cause migration issue, needs to figure out how to migration dump.db to appendonly.aof

[More info]
http://oldblog.antirez.com/post/redis-persistence-demystified.html

[2019-05-10 09:16] #7189 closed

[2019-05-10 09:23] reasonerjt commented on #7346
Fixed in #7759

[2019-05-10 09:23] #7346 closed

[2019-05-10 09:40] #7324 closed

[2019-05-10 10:09] stonezdj commented on #7595
https://github.com/goharbor/harbor/blob/3550e2eb23fe7c8f08d5de561d4888aedfe371c5/make/photon/prepare/templates/registry/config.yml.jinja#L17
It should be disable not disabled in config.yml

[2019-05-10 10:26] #7133 closed

[2019-05-10 10:26] #7601 closed

[2019-05-10 10:27] ywk253100 opened #7767 "The URL doesn't contain the customized port in the message of installation result"
[code]

[2019-05-10 14:46] #7681 closed

[2019-05-10 15:01] ninjadq commented on #7681
fixed in #7728

[2019-05-10 15:14] reasonerjt commented on #7621
Fixed in #7657

[2019-05-10 15:14] #7621 closed

[2019-05-10 15:20] #6592 closed

[2019-05-10 15:35] ninjadq commented on #7742
fixed in #7612

[2019-05-10 15:35] #7742 closed

[2019-05-10 15:38] #7649 closed

[2019-05-10 15:43] #7554 closed

[2019-05-10 15:44] ninjadq commented on #7671
dup to #7561

[2019-05-10 15:44] #7671 closed

[2019-05-10 15:45] ninjadq commented on #7672
dup to #7561

[2019-05-10 15:45] #7672 closed

[2019-05-10 15:45] ninjadq commented on #7561
fixed in #7760

[2019-05-10 15:45] #7561 closed

[2019-05-10 15:49] ninjadq commented on #7614
fixed in #7639

[2019-05-10 15:49] #7614 closed

[2019-05-10 15:57] ninjadq commented on #7682
fixed in #7728

[2019-05-10 15:57] #7682 closed

[2019-05-10 16:02] ninjadq commented on #7595
fixed in #7770 #7771

[2019-05-10 16:42] reasonerjt opened #7772 "in v1.6.0 -> v1.8.0 migration the scan_all policy is not migrated correctly"
1.Install v1.6.0, set scan all policy to "daily: 9:00AM"
2.perform migration, install v1.8.0,

verified other data objects are migrated correctly but the scan all is `NONE`

[2019-05-10 17:44] wy65701436 commented on #7772
this because in 0002, the policy was removed.

I tried the script 0004 individually, the part on migrating scan all policy worked fine.

[2019-05-10 18:16] jdolitsky opened #7773 "Support for alternative media types?"
Hello. I'm currently doing some work on the Helm CLI related to repos/registries. The next generation of Helm charts will be distributed via OCI-compliant registries.

Since it looks like Harbor is built atop Docker Distribution 2.7+, this should be possible to add support in Harbor (or you might already support it?)

The manifest media type for Docker specifically is the following:
[code]

The He

[2019-05-11 04:47] #7622 closed

[2019-05-12 03:06] tujian opened #7774 ""robot account" tab missing in v1.7.5"
If you are reporting a problem, please make sure the following information are provided:

**Expected behavior and actual behavior:**
There used to be a "robot account" tab in project view.  Now it is missing in v1.7.5.

Below is a snapshot of v1.7.5.

![image](https://user-images.githubusercontent.com/4289812/57577204-836e1900-74a4-11e9-9bdf-3276bfa3b6d1.png)

**Steps to reproduce the problem:**
[

[2019-05-12 05:53] wy65701436 commented on #7774
The feature is in the v1.8.0.

[2019-05-12 06:58] tujian commented on #7774
It seems that I thought I installed harbor-helm v1.0.0, but in fact it was the master branch, whose harbor version was 'dev'.

[2019-05-12 06:58] #7774 closed

[2019-05-13 04:14] ppamos opened #7775 "when i install the app，it wrong，what happen？"
![1557720763](https://user-images.githubusercontent.com/48974977/57595577-80445d00-7578-11e9-88ec-13ba83e3db45.png)

[2019-05-13 05:19] reasonerjt commented on #7775
@ppamos what version of Harbor were you using?

[2019-05-13 05:20] #7772 closed

[2019-05-13 05:20] reasonerjt commented on #7772
So it is expected behavior.
Let's make sure this is documented.

[2019-05-13 05:57] reasonerjt commented on #7425
@justinmjc
That happens because during the initialization of clair DB, clair process will insert hundreds of thousands of records into DB, so the pgsql process may require more CPU than usual operations.

I recall when one process is doing the insert it will lock the DB, and we don't see this problem when we are testing the HA scenario.  Did you observe the high CPU load only when you setup multip

[2019-05-13 06:01] ppamos commented on #7775
v 1.7.5

[2019-05-13 06:36] danfengliu opened #7777 "Jenkins job "cd_daily_master" fake-pass when populating data"
Jenkins job "cd_daily_master" has been fake-pass since replication API changed, the reason is that the criteria of data population success is not strict in shell script.

[2019-05-13 06:39] danfengliu commented on #7777
Modification:
   From:
        python ./prepare.py -e $IP -v 1.6 | | grep 'Successfully signed'

   To:
            python ./prepare.py -e $IP -v 1.6  > info.txt 2>&1
            if [ "$?" != "0" ]; then
                    echo "prepare.py failed."
                    exit 1
            fi

            cat info.txt | grep 'Successfully signed'
            if [ "$?" != "0" ]; then

[2019-05-13 07:38] wy65701436 opened #7779 "Got 500 when to sign an image with v1.8.0-rc1"
[code]

[2019-05-13 07:51] ywk253100 commented on #6522
As Harbor v1.8 introduces the supporting to replicate images from DockerHub to Harbor, the image whose architecture is `amd64` and OS is `linux`(if found) or the first image will be replicated. This is the limitation for now.

[2019-05-13 07:57] gladmo opened #7780 "v1.8.0 every 10 second log error authorizing context: authorization token required"
when i reset harbor,  i got some warning from `registry.log`.

is my `harbor.yml` error?

**Versions:**
Please specify the versions of following systems.
- harbor version: 1.8.0
- docker engine version: 18.06.0
- docker-compose version: 1.23.2

[code]

here is my harbor.yml:
[code]

[2019-05-13 08:05] reasonerjt commented on #7687
We may defer it as there's some issue in angular v7 interceptor implementation, we may not be able to handle the redirection from UI as designed.

[2019-05-13 10:50] reasonerjt commented on #7775
If you can remove everything from `/data` and re-run `install.sh`, it should succeed.

[2019-05-13 11:01] Ethan-2017 opened #7784 "add replication target /api/registries 400 bad request"
registry http://172.168.188.113 is unhealthy: unhealthy

Request URL: http://172.168.188.13/api/registries
Request Method: POST
Status Code: 400 Bad Request
Remote Address: 172.168.188.13:80
Referrer Policy: no-referrer-when-downgrade

[2019-05-13 11:05] Ethan-2017 commented on #7784
![aa47be52b4d3a4e6705426514e82e0a](https://user-images.githubusercontent.com/31506919/57616942-15177c80-75b2-11e9-9ed2-77e891c77240.png)

[2019-05-13 11:07] Ethan-2017 commented on #7784
![bdd4d5f9815b0b35316807ab17d9e80](https://user-images.githubusercontent.com/31506919/57617043-5c9e0880-75b2-11e9-88cb-72c30128b53e.png)

[2019-05-13 11:09] Ethan-2017 commented on #7784
{
  "status": "healthy",
  "components": [
    {
      "name": "registryctl",
      "status": "healthy"
    },
    {
      "name": "portal",
      "status": "healthy"
    },
    {
      "name": "jobservice",
      "status": "healthy"
    },
    {
      "name": "registry",
      "status": "healthy"
    },
    {
      "name": "database",
      "status": "healthy"
    },
    {
      "name": "core",

[2019-05-13 11:32] GDixon7623 commented on #7779
I am also getting this error

[2019-05-14 01:40] ke4nec commented on #6777
@ninjadq  I add line `user nobody root;` to nginx.conf, it work well. In nginx user default value is nobody nobody, but the permissions of folder `"/etc//nginx/client_body_temp`  in the docker container is nobody root.

[2019-05-14 03:48] jwangyangls opened #7787 "OIDC onboarded user cannot update his profile"
![image](https://user-images.githubusercontent.com/29826789/57669609-3756dc00-763e-11e9-8959-129aa16e13db.png)
![image](https://user-images.githubusercontent.com/29826789/57669686-9157a180-763e-11e9-8701-203b7f60409f.png)

![image](https://user-images.githubusercontent.com/29826789/57669660-7b49e100-763e-11e9-9a8c-76db92496723.png)
![image](https://user-images.githubusercontent.com/29826789/576696

[2019-05-14 05:27] reasonerjt commented on #7787
According to the design only Local DB user can update his profile.

I see there maybe requirement from user to update his profile but we cannot allow him to update the comment, as is the only flag that the user is onboarded via OIDC.

In 1.8.0, we'll keep it as is and make adjustment based on user's feedback.

[2019-05-14 05:30] reasonerjt commented on #7780
This is expected, as whenever the client needs to access registry it will ping the `v2` uri and as registry is configured with token based authorization, it returns a 401 to redirect the client to the token service

[2019-05-14 05:32] herrywen-nanj opened #7788 "There is a problem deploying the harbor1.8 version"
![image](https://user-images.githubusercontent.com/33476935/57672890-8efc4400-764c-11e9-9243-05a3218ab079.png)

How to solve? thank you very much

[2019-05-14 05:32] reasonerjt commented on #7687
We update the `login` uri to make it return `403` with redirect uri in the response.
Such that UI can handle it.

[2019-05-14 05:47] reasonerjt commented on #7560
Looks like an env issue, that there's intermittent network, let's make sure there's some retry if it is highly reproducible.

[2019-05-14 05:47] wy65701436 commented on #7779
@GDixon7623 this will be resolved in the coming RC build.

[2019-05-14 05:48] reasonerjt commented on #7691
This looks like a implementation issue in beego, can we think of a way to handle the outage more gracefully?

[2019-05-14 05:51] ninjadq commented on #7788
This error occurred during parse the harbor.yml. Please check you harbor.yml file is correct

[2019-05-14 05:51] reasonerjt commented on #7704
Looks like the root cause here is the filter chain that we handle the request, when incorrect basic auth information is provided, it falls back to check the session info, and this causes this inconsistency problem, we may re-visit the implementation, but I don't think it's a high priority

[2019-05-14 06:17] herrywen-nanj commented on #7788
yeah,I think so.l check my harbor.yml file, found the following error,But what can be done with hostname and https, I can run it in other versions.
![image](https://user-images.githubusercontent.com/33476935/57674850-ec938f00-7652-11e9-8fd0-2a4ad00e5e2f.png)
![image](https://user-images.githubusercontent.com/33476935/57674880-01702280-7653-11e9-8240-4d95affd9ac6.png)

[2019-05-14 06:52] ninjadq commented on #7788
From line 13 to 18. There is one extra space in the head of the line.

[2019-05-14 07:18] kawais opened #7793 "ldap server test always return ok"
version: 1.8.0-rc1

whatever ldap url test always ok
![image](https://user-images.githubusercontent.com/8424926/57677978-bb1ec180-765a-11e9-983d-ddc72327bbf3.png)

ps, Add a username and password input box for better testing, like jenkins
![image](https://user-images.githubusercontent.com/8424926/57678219-544dd800-765b-11e9-84ec-fb9941c2ff07.png)

[2019-05-14 07:20] ppamos commented on #7775
it ok！ thanks

[2019-05-14 07:24] Ethan-2017 commented on #7784
@ywk253100
No documentation to instructe to how to add a registry ?what is access id and access secret ?it's  the harbor username and password?

[2019-05-14 07:59] GDixon7623 commented on #7779
@wy65701436 Perfect thank you, do we have a rough estimate of when the build will be released?

[2019-05-14 08:00] ninjadq commented on #7779
fixed in #7785 and #7783

[2019-05-14 08:00] #7779 closed

[2019-05-14 08:02] ninjadq commented on #7595
fixed in #7770 and #7771

[2019-05-14 08:02] #7595 closed

[2019-05-14 08:19] #7687 closed

[2019-05-14 09:23] joshisagar92 commented on #7729
Hi @stonezdj ,
We have searched ldap using command line and found that we do not have uid configured in ldap for any user and we are thinking this is the reason we are not able to login in to Harbor through ldap.

We have CN available, Is there any way to configure harbor which enable searching through CN instead of uid?

[2019-05-14 09:56] herrywen-nanj commented on #7788
Thank you very much, it really is this problem.

[2019-05-14 10:00] ywk253100 commented on #7784
Did you get any error when you clicking the `测试连接`? You should make sure the target registry can be ping with the credential provided when you adding it.

[2019-05-14 10:20] reasonerjt commented on #7773
@jdolitsky
Yes we do.
And use Harbor to serve other cloud native artifacts is in our future plan, I'll reach out to you via Email for more discussion.

[2019-05-14 11:02] Ethan-2017 commented on #7784
![cf5409edc380cfed56360074fcbcf65](https://user-images.githubusercontent.com/31506919/57693030-d0a3e380-767a-11e9-8d7b-2621a4de69e2.png)

[2019-05-14 11:18] Ethan-2017 commented on #7784
@ywk253100  core.log
 May 14 19:16:22 172.18.0.1 core[1086]: 2019-05-14T11:16:22Z [ERROR] [/replication/adapter/image_registry.go:145]: failed to ping registry http://172.168.188.113: Head http://172.168.188.113/v2/: Get http://replication.huihuigo.com/service/token?service=harbor-registry: dial tcp: lookup replication.huihuigo.com on 127.0.0.11:53: no such host

[2019-05-14 11:18] Ethan-2017 commented on #7784
May 14 19:16:22 172.18.0.1 core[1086]: 2019-05-14T11:16:22Z [ERROR] [/replication/adapter/image_registry.go:145]: failed to ping registry http://172.168.188.113: Head http://172.168.188.113/v2/: Get http://replication.huihuigo.com/service/token?service=harbor-registry: dial tcp: lookup replication.huihuigo.com on 127.0.0.11:53: no such host
May 14 19:16:22 172.18.0.1 core[1086]: 2019-05-14T11:16:2

[2019-05-14 12:05] Ethan-2017 commented on #7784
@ywk253100 when I add the host to the container  goharbor/harbor-core  AND  harbor-jobservice, I solve the error

[2019-05-14 12:05] #7784 closed

[2019-05-15 00:46] stonezdj commented on #7793
fixed with #7795, #7797

[2019-05-15 02:02] ninjadq commented on #6572
fixed in #7719

[2019-05-15 02:02] #6572 closed

[2019-05-15 03:01] #7788 closed

[2019-05-15 03:07] sungjunyoung commented on #7762
@ywk253100 We're using a label filter to make sure that the image is secured. Is this functionality not being developed anymore?

[2019-05-15 03:10] darend commented on #6572
Thanks @ninjadq !

Do you know this could be set via the helm chart?

https://github.com/goharbor/harbor/pull/7719/files#diff-7fc964bbc104fe25511e453652fa7f89R69

[2019-05-15 03:39] wy65701436 commented on #7793
close it as PR merged.

[2019-05-15 03:39] #7793 closed

[2019-05-15 04:43] jwangyangls opened #7804 "Creat Robot Account Front End without incurrent position of Error Handling"
![image](https://user-images.githubusercontent.com/29826789/57749032-fe3a6c80-770e-11e9-9d66-1e5a334a939f.png)

[2019-05-15 04:44] jwangyangls opened #7805 "The Creat Robot Account API does not validate input values"
![image](https://user-images.githubusercontent.com/29826789/57749075-2d50de00-770f-11e9-8db9-f6d600994e51.png)

[2019-05-15 05:24] ninjadq commented on #7647
fixed in #7802

[2019-05-15 05:24] #7647 closed

[2019-05-15 05:32] CrystalMethod commented on #694
still using manually patched sources

[2019-05-15 05:55] #7804 closed

[2019-05-15 06:34] #7775 closed

[2019-05-15 06:41] reasonerjt commented on #7711
Hi,

The `uaa_auth` is not documented because it was for integration with product, so we don't suggest oss user to use it.
As for `oidc_auth`,  the doc is WIP.

In regards to integration with Gitlab, we haven't tested it, if Gitlab can work as an OIDC provider it may work, or you may configure Harbor and Gitlab with mutual authn backends, such as LDAP or OIDC provider.

[2019-05-15 07:06] duyanghao commented on #3505
So how things progress? Does harbor support ARM64 build now?

[2019-05-15 07:14] danfengliu opened #7809 "document for defination of Replicating resources"
![image](https://user-images.githubusercontent.com/44018302/57755595-defa0a00-7723-11e9-85c3-422e602f219c.png)

Is it better to say that "Replication allows users to replicate resources(images/charts) from Harbor itself to Harbors or non-Harbor registries"

[2019-05-15 07:25] danfengliu commented on #7809
In Replicating resources part, doc does not prompt user to add registry before add a replication rule.

[2019-05-15 07:41] reasonerjt opened #7812 "The password for robot account is too long."
We're using the jwt token with RS256 alg for signature as the password of robot account.  And the length of that token sometimes is close to 1KB.

This may cause the header of a request too long, and potentially be problematic for certain router settings with limitation of the length of the request header.

Let's investigate if there's a way to make it shorter.

[2019-05-15 07:59] jwangyangls commented on #6769
This looks more like clarity's fixed sort, so no modifications are recommended.

[2019-05-15 08:00] zlingqu opened #7813 "ldap groupOfUniqueNames"
harbor use ldap
ldap中的group，objectclass:groupOfUniqueNames
发现组的权限，组内成员无法继承。

而使用
bojectclass:groupOfNames
都正常。

ldap_group_filter未配置。

[2019-05-15 08:05] danfengliu commented on #7809
“If there is no endpoint available in the list, you need to create one”

    It's better to have a link there to guide user how to create a registry.

[2019-05-15 08:19] wy65701436 commented on #7620
did you config the secretkey_path?

[2019-05-15 08:27] danfengliu commented on #7809
![image](https://user-images.githubusercontent.com/44018302/57760300-da3a5380-772d-11e9-8722-f1f196ee0795.png)

Grammar for "once" is not right here?  It's better to use "summary of one of executions of the rule"

[2019-05-15 09:03] wy65701436 commented on #7813
@zlingqu what version are you using?

[2019-05-15 09:05] zlingqu commented on #7813
harbor 1.17.5
openldap:2.4.44
docker-ce:18.9.6

[2019-05-15 09:07] stonezdj commented on #7813
Can you please describe your issue in detail?
How to reproduce? what is the error? and what is the expected result?

[2019-05-15 09:20] zlingqu commented on #7813
1、我的harbor已经使用了ldap进行认证，ldap里面的用户都可以正常登录
2、我在harbor上新建了一个项目，并尝试对不同的ldap用户设置不同的角色
3、使用ldap user进行角色配置，都是生效的，这是预期目标，没有问题
4、使用ldap group进行角色配置，当group中，bojectclass=groupOfNames时，我设置组为项目管理员，组内成员继承了组的权限，即是项目管理员，这是预期目标，没有问题
5、使用ldap group进行角色配置，当group中，bojectclass=groupOfUniqueNames时，虽然我设置的该组为项目管理员，使用组内成员登录时，发现没有任何权限

[2019-05-15 10:08] zlingqu commented on #7813
已经开启了 memberof overlay
配置如下：
  : olcOverlay={0}memberof
▽bjectClass: olcMemberOf
objectClass: olcOverlayConfig
objectClass: top
olcOverlay: {0}memberof
olcMemberOfDangling: ignore
olcMemberOfRefInt: TRUE
olcMemberOfGroupOC: groupOfUniqueNames
olcMemberOfMemberAD: uniqueMember
olcMemberOfMemberOfAD: memberOf
structuralObjectClass: olcMemberOf
entryUUID: f92d002a-0a61-1039-800e-49fe763c178b
creators

[2019-05-15 11:16] zlingqu commented on #7813
比如一个用户tom同时位于group A、group B 、group C
1、只设置group A为访客，tom角色是访客，生效
2、只设置group B 为访客，tom无任何权限

[2019-05-15 11:40] zlingqu commented on #7813
I have found the reason, because the index of all groups under one ou is invalid, so I cannot verify that the user is in these groups.Thank you for your attention

[2019-05-15 12:56] shahbazn commented on #6828
Is there any progress on this issue? I am trying to use redis HA behind HAproxy so that at he end I only have to configure one endpoint with harbor. But it still does not seem to work.

[2019-05-15 13:02] xuejipeng commented on #6492
@reasonerjt  Do you have any other suggestions? It took me one hours to restart for the last time.

[2019-05-15 17:15] xuejipeng commented on #6492
@reasonerjt I solved the problem. `insert into properties (k,v) values ("scan_all_policy",'{"type":"none"}');`

[2019-05-15 17:15] #6492 closed

[2019-05-16 00:03] shubb30 commented on #4261
@reasonerjt, can you re-open this issue?  I am also seeing this on my Harbor/Clair instance.

I am running clair-photon:v2.0.8-v1.7.5

Reading through the original post, I tried to put my CA certs at /etc/pki/tls/certs/ca-bundle.crt, which did not resolve the problem.

I found the file `make/photon/common/install_cert.sh`, which indicates that it looks for the file `/harbor_cust_cert/custom-ca-bun

[2019-05-16 03:43] ywk253100 commented on #7762
What's your scenario when using label filters? And which level label are you using? System or project level?
We get some difficulties when supporting label filter in replication of version 1.8. As  the replication rule doesn't belong to a single project anymore, it can cross multiple projects, the project level labels cannot be used in the replication rule as a filter easily.
 Your feedback is imp

[2019-05-16 03:46] #6805 closed

[2019-05-16 05:14] darkl0rd commented on #6522
See also #6207.

[2019-05-16 05:57] Ethan-2017 opened #7820 "harbor 1.8.0-rc1 oss registry unhealthy aliyun api error"
**Versions:**
Please specify the versions of following systems.
- harbor version: [1.8.0-rc1]
- docker engine version: [18.09.3]
- docker-compose version: [1.23.2]

**Additional context:**
* **Harbor config files:** You can get them by packaging `harbor.cfg` and files in the same

storage_service:
  oss:
    accesskeyid: XXXXXXXXXXXX
    accesskeysecret: XXXXXXXXXXXX
    region: oss-cn-zhangjiakou

[2019-05-16 06:07] mmpei commented on #6828
not yet. Now we use the redis HA with HAproxy too. and it works well.
see [here](https://community.pivotal.io/s/article/How-to-setup-HAProxy-and-Redis-Sentinel-for-automatic-failover-between-Redis-Master-and-Slave-servers). it is also recommended by harbor.
and now i think making harbor to support redis sentinel or redis cluster is a finnal resolvation.

[2019-05-16 06:09] sungjunyoung commented on #7762
@ywk253100 We're using system labels for replication rules to ISOLATE the secured checked registry by replicating only images that have the "Promoted" label. It's a key feature that we use, and we really want to be developed.

[2019-05-16 07:41] jwangyangls opened #7823 "change the check-box to radio when new robot and text need change"
change the check-box   to  radio when new robot and text need change
![image](https://user-images.githubusercontent.com/29826789/57835454-1be00280-77f1-11e9-9582-aabfe592ddb1.png)

[2019-05-16 08:02] danfengliu opened #7824 "Jenkins docker configuration for DNS should be remove"
Jenkins docker configuration for DNS should be remove from all Jenkins nodes.

In /lib/systemd/system/docker.service, please remove "--dns x.x.x.x", because it's no longer useful.

[2019-05-16 08:05] ninjadq commented on #7820
hi @Ethan-2017 the error message seems that your accesskeyid or accesskeysecret is not correct

[2019-05-16 09:08] wy65701436 commented on #7805
closed as PR https://github.com/goharbor/harbor/pull/7806 is merged.

[2019-05-16 09:08] #7805 closed

[2019-05-16 09:15] Ethan-2017 commented on #7820
@ywk253100  I'M sure this accesskeyid or accesskeysecret is correct 。

[2019-05-16 09:19] Ethan-2017 commented on #7820
when I  add the bucket name to the endpoint ,the registry is health ,but chart is not health

[2019-05-16 09:20] Ethan-2017 commented on #7820
I want to both registry and chart  running at the same time in using aliyun oss。

[2019-05-16 09:22] Ethan-2017 commented on #7820
https://github.com/goharbor/harbor/pull/7750

[2019-05-16 10:06] #6310 closed

[2019-05-16 10:23] #7288 closed

[2019-05-16 10:24] ywk253100 commented on #7820
#7750 is merged and will be cherry picked into 1.8 branch. You can try the 1.8 RC2 build later.

[2019-05-16 11:47] rootdeep opened #7828 "provide an offline clair db data in psql format"
After I installed  harbor with clair,  clair can not update the CVE info from Internet for network restriction. I tried to use several  psql data of clair db from Internet, some different errors occurred, it might be the table schema are different between  harbor-db and other clair dbs.

In my opinion, it will be more friendly for the users if  harbor is published with psql data which is matched w

[2019-05-16 13:33] arvan-pritchard commented on #7564
Event-based push replication from 1.7.5 to a 1.8.0-rc1 robot account appears to work. I've not tried 1.8 to 1.8 but would like to use this.

[2019-05-16 13:49] arvan-pritchard opened #7829 "need 2 endpoints to create replication in 1.8.0-rc1 using Safari, Edge or Internet Explorer"
**Expected behavior and actual behavior:**
I expect the Save button to be enabled once all the required fields are filled in on the Mew Replication Rule Dialog, but it is not until I have explicitly selected a destination registry, and I can only make that selection if I have more than one available/

**Steps to reproduce the problem:**
Fresh install of 1.8.0-rc1 on Ubuntu 18.04
Access the UI via

[2019-05-16 13:56] wy65701436 commented on #7829
@arvan-pritchard can you help to check the scenario on chrome?

[2019-05-16 13:57] wy65701436 commented on #7829
@arvan-pritchard can you help to check the scenario on chrome?

[2019-05-16 14:12] arvan-pritchard commented on #7829
On Chrome (74.0.3729.121) the Destination registry field is not refilled, so I can populate it from the dropdown whether I have one or two endpoints defined, this is also the case for Firefox (66.0.5)

Internet Explorer (11.706.17134.0) and Microsoft Edge (42.17134.1.0) both suffer from the same problem as Safari

I don't have any other browsers to hand to test.

[2019-05-16 14:17] wy65701436 commented on #7829
Thanks for the details, it should be a browser specific issue. We recommend user to use chrome or Firefox to access Harbor.

[2019-05-16 16:01] fentas opened #7830 "Exclude postgres password from configmaps"
**env:**
- kubernetes 1.14
- rendered helm chart; applied with kustomize

---

I want to use harbor with an external database. The necessary credentials are stored within a Secret.

The problem is that these credentials are generated at runtime.
So what I tried was to apply them as a kustomize variable which fails because base64 encrypted (https://github.com/kubernetes-sigs/kustomize/issues/499).

[2019-05-16 16:15] arvan-pritchard opened #7831 "Can't find migrator for upgrade to/between rc builds"
I am trying out the 1.8.0 rc builds, but can't find the migrator which https://github.com/goharbor/harbor/blob/release-1.8.0/docs/migration_guide.md implies I need for migrating to or between them.

the v1.7.5 migrator is in the expected place:

[code]

[2019-05-16 16:25] wy65701436 commented on #7831
you can get it from the offline installer

[2019-05-16 16:26] wy65701436 commented on #7831
We will push all of the images to docker-hub once get them released.

[2019-05-16 18:58] miracle152004 opened #7832 "Cannot install harbor using install.sh"
Hi,
I am trying to install harbor v1.7.5 using the guide at https://github.com/goharbor/harbor/blob/release-1.7.0/docs/installation_guide.md (offline and online installer both) and getting the following exception:

[Step 3]: checking existing instance of Harbor ...
ERROR: .IOError: [Errno 2] No such file or directory: './docker-compose.yml'

The installation environment is the following:
[Step 0]:

[2019-05-16 19:22] miracle152004 commented on #7832
Ok.
It worked after installing the latest version of docker-compose.
So maybe the version should be changed in the installation guide.

[2019-05-16 20:55] sfxworks commented on #6532
I am having the same issue. @ywk253100 or @jchanam can you please re-open this issue? I am experiencing the same thing while using http+clusterIP and port forward.

When running the curl command above, I just get a spinner.
[code]

All pods are functioning okay.
[code]

[2019-05-17 03:12] Ethan-2017 commented on #7820
@ywk253100  Today I install the  versions of 1.8 RC2 ,the same error happening? the chart is ok and it can push chart to the helmcharts ,but  cannot push the image  to the registry in the same time .

[2019-05-17 03:29] ninjadq commented on #7820
@Ethan-2017 what is the error message in the registry?

[2019-05-17 05:01] DevilMayCrySamsara commented on #7665
![image](https://user-images.githubusercontent.com/20835804/57904033-b00aa200-78a3-11e9-99cd-76c059c51693.png)
i have the same problem
What's wrong with i18n?

[2019-05-17 06:00] Ethan-2017 commented on #7820
@ninjadq May 16 13:43:34 172.18.0.1 registry[550]: 2019/05/16 05:43:34 GET https://oss-cn-zhangjiakou-internal.aliyuncs.com/?delimiter=&marker=&max-keys=1&prefix= ...
May 16 13:43:34 172.18.0.1 registry[550]: panic: Aliyun API Error: RequestId: 5CDCF88686XXXXXXX Status Code: 403 Code: SignatureDoesNotMatch Message: The request signature we calculated does not match the signature you provided. Chec

[2019-05-17 06:01] Ethan-2017 commented on #7820
May 17 13:57:53 172.21.0.1 registry[11279]:
May 17 13:57:53 172.21.0.1 registry[11279]: goroutine 1 [running]:
May 17 13:57:53 172.21.0.1 registry[11279]: github.com/docker/distribution/registry/handlers.NewApp(0xff4ac0, 0xc000458180, 0xc00040b880, 0x0)
May 17 13:57:53 172.21.0.1 registry[11279]: #011/go/src/github.com/docker/distribution/registry/handlers/app.go:126 +0x2fbb
May 17 13:57:53 172.21

[2019-05-17 06:02] lordcf opened #7833 "Getting error while pushing image to harbor registry"
Get https://domain/v2/: x509: certificate signed by unknown authority

[2019-05-17 07:27] jwangyangls opened #7834 "error response donot handle _body: string"
What can we help you?

[2019-05-17 07:51] judexzhu commented on #6515
Hi all

current I'm using 1.7.5 now, the same issue

Trying to push the image back then delete it again, nothing changed

Does anyone have any idea to fix this issue?

Thanks a lot

[2019-05-17 08:02] arvan-pritchard commented on #7831
Presumably it is always in the offline installer, so adding that to the instructions would be useful for anyone needing to use the offline installer with production builds.

[2019-05-17 09:46] arvan-pritchard commented on #7831
It is possible to load the harbor-migrator image with
[code]
in the folder where you have unpacked the offline installer.

There may be a way to load just that image rather than all the images - but the others will all be loaded when you run install.sh so there is probably no point.

[2019-05-17 13:59] reasonerjt commented on #7491
Fixed in #7818 and #7819

[2019-05-17 13:59] #7491 closed

[2019-05-17 14:00] reasonerjt commented on #4616
closing as this OIDC integration is covered in #6616

[2019-05-17 14:00] #4616 closed

[2019-05-17 14:02] reasonerjt commented on #7149
Fixed in #7759

[2019-05-17 14:02] #7149 closed

[2019-05-17 14:03] reasonerjt commented on #6616
Closing as all planned work is delivered in v1.8

[2019-05-17 14:03] #6616 closed

[2019-05-17 14:03] reasonerjt commented on #7623
Fixed in #7825

[2019-05-17 14:03] #7623 closed

[2019-05-17 14:08] reasonerjt commented on #7832
I don't think it has anything to do with the docker-compose version.

It is just because you are running `install.sh` from other directory.
@ninjadq please see if there any possible improvement.

[2019-05-17 14:11] reasonerjt commented on #7830
Thanks for pointing it out, the root cause seems to me is that the software are referencing the data you want to store in a secret in a configmap as plaintext.

The only way to fix this seems to store the whole config file as secret, it solves the problem but doesn't seem a very good fix.

Do you have any proposal to fix it more properly?

[2019-05-17 14:12] reasonerjt commented on #7828
I don't think we can provide it due to legal reason.

[2019-05-17 14:12] #7828 closed

[2019-05-17 14:13] reasonerjt commented on #7780
Without further a due I'm closing this issue, let me know if you want to re-open it.

[2019-05-17 14:13] #7780 closed

[2019-05-17 14:16] reasonerjt commented on #7726
Please check the `proxy.log` on the host of `demo.registry.com`

Esp. double check this request actually went to that server.

[2019-05-17 14:16] willzhang commented on #6700
the same error!
Vulnerability database might not be fully ready! 1 - 15 of 30 items

[2019-05-17 14:25] balonik commented on #4982
SAML+1

[2019-05-17 14:25] balonik commented on #4982
SAML please

[2019-05-17 15:23] fentas commented on #7830
Hm, the best solution would be to have it similar to mongodb, postgers, ... helm charts which gives the option to set an `existingSecret`.

I guess the hard part IMHO is to get it consistent because harbor has it somewhat scattered plus in different forms (as plain password; as secret, then as Postgres URL and finally as Postgres URL is written within a configmap mounted as file - excluding the po

[2019-05-17 15:48] GDixon7623 commented on #4144
+1 this would be great to notify if the scan finds any vulnerabilities

[2019-05-17 17:11] liqiang-fit2cloud commented on #7820
@Ethan-2017 You need to set the endpoint prefixed by your bucket name in harbor.cfg, then  https://github.com/goharbor/harbor/pull/7750 will make sure your chart is ok.

[2019-05-18 06:42] zhangzimao opened #7835 "Aliyun oss as storage, you can push when internal is true, you can't push when you remove the internal configuration, and you always retrying. But you can pull."
If you are reporting a problem, please make sure the following information are provided:

**Expected behavior and actual behavior:**
A clear and concise description of what you expected to happen and what's the actual behavior. If applicable, add screenshots to help explain your problem.

**Steps to reproduce the problem:**
Please provide the steps to reproduce this problem.

**Versions:**
Please

[2019-05-18 10:23] Ethan-2017 commented on #7820
@liqiang-fit2cloud when I  set the endpoint prefixed by my bucket name in harbor.yml  ,both chart and  registry  is ok 。 thank you everybody !

[2019-05-18 10:23] #7820 closed

[2019-05-19 10:55] #4641 closed

[2019-05-20 05:08] ywk253100 commented on #7833
Please find out how to connect to an insecure registry in the users guide

[2019-05-20 05:08] #7833 closed

[2019-05-20 08:32] joshisagar92 commented on #7729
It worked.

We were giving wrong value for uid.

[2019-05-20 08:32] #7729 closed

[2019-05-20 08:36] sage-z opened #7837 "docker login error"
我遇到的问题和他差不多，但是又有点区别，最后的结果对我没效 https://github.com/goharbor/harbor/issues/5292#issue-340282358

问题：可以访问UI界面，但是docker login 登录不上
错误信息： Error response from daemon: Get https://harbor.xxx.com/v2/: Get http://harbor.xxx.com:4000/service/token?account=sage&client_id=docker&offline_token=true&service=harbor-registry: net/http: request canceled (Client.Timeout exceeded while awaiting headers) (Client.Timeo

[2019-05-20 09:41] Lautankard opened #7838 "manifest for goharbor/harbor-log:v1.8.0-build.1547 not found"
when i install harbor v1.8.0rc2, the error occured

[2019-05-20 11:28] thegasmann opened #7839 "Pushing signed and unsigned images"
I experimenting with harbor/notary (push/pull,signed/unsigned Images)

Observation:

Tagges & Pushed a signd image name:tag to my private harbor instance with DOCKER_CONTENT_TRUST set to 1 and the DOCKER_CONTENT_TRUST_SERVER pointing to harbor - works fine, Image is shown as signed in harbor UI.
When I try to delete the image, I first have to remove the signature using the notary cmd line call. De

[2019-05-20 12:03] wy65701436 commented on #7838
@Lautankard can you give us more infor? how do you install harbor? Can you upload the screenshot of your error?

[2019-05-20 12:05] wy65701436 commented on #7839
@thegasmann what's your harbor version?

[2019-05-20 12:50] thegasmann commented on #7839
Ooops, Sry,

the Harbor Version is V1.7.5-a8f6543a
Notary Client Version is 0.6.1

[2019-05-20 17:04] ericvmw opened #7840 "robot account creation doesn't return robot account ID"
**Expected behavior and actual behavior:**
Create a robot account for a project via REST API, and then try to get robot account info. Since other robot account APIs requires robot account ID, I would expect the robot account creation returns the robot account ID.

expected behavior: robot account ID is in the creation response
actual behavior: only the robot account name and token are in the creat

[2019-05-20 17:16] ericvmw opened #7841 "http_auth always onboard configuration doesn't work as expected"
The configuration "always onboard" for authentication mode http_auth should allow users to be added automatically when adding users as project members, even though the user has not logined yet.

**Expected behavior and actual behavior:**
expected behavior: a user can be added as a project member even if the user has not logined in for the first time and if the "always onboard" configuration is tru

[2019-05-20 17:20] ericvmw commented on #7841
The "always onboard" configuration used to work, this should be a regression.

[2019-05-20 22:55] Richard-Payne commented on #6207
Are you saying that push and pull from the repo is broken?  It seems to work fine for us.  My issue, that you referenced, is only to do with the Harbor api, not the repo itself.

[2019-05-20 23:00] Richard-Payne commented on #6522
That doesn't really answer my question.  I have no interesting in Dockerhub->Harbor replication.  Is there are plan for when the api will be fixed to support manifest lists and if so, what are the projected timescales?

[2019-05-21 00:45] dantianji opened #7842 "replication job failed,but do not re-scheduled"
when the replication job failed,it doesn't  be re-scheduled a few minutes later.
2019-05-08T15:01:22Z [INFO] initialization completed: repository: 20000000240/dq-yhqmanage, tags: [20190508225913177407807], source registry: URL-https://172.78.225.35 insecure-true, destination registry: URL-https://172.78.225.30 insecure-true
2019-05-08T15:01:22Z [ERROR] [job_logger.go:81]: an error occurred while c

[2019-05-21 01:22] koulq commented on #7500
我也遇到同样的问题，经查原因：是core访问registry的5000端口被拒绝，但是访问其他的容器没问题（I encountered the same problem, which was found to be due to the fact that 5000 ports of core access to registry were denied, but access to other containers was fine）
![image](https://user-images.githubusercontent.com/18571340/58061697-e305ac00-7ba9-11e9-8789-e493b6b1836c.png)

[2019-05-21 01:23] koulq commented on #7500
我是用root用户部署的（I deployed it with root users.）

[2019-05-21 01:43] koulq opened #7843 "1.7.0版本部署，docker login error ：502"
core访问registry的5000端口被拒绝怎么回事？（Core access to the 5000 port of the registry is denied. ）

[2019-05-21 02:26] sage-z commented on #7837
help~  @wy65701436 @reasonerjt

I also have an upper Nginx as the port agent, but due to the limitation of HTTPS transmission by docker client, the external transfer between the upper Nginx is HTTPS, the upper Nginx and harbor is HTTP, and the upper Nginx does the forwarding from port 443 to port 4000 on the internal network, and I don't want port 4000 to be exposed to external links

Thank you ~

[2019-05-21 05:57] HelenaZheng commented on #7500
thx, I have already install using root, but I find the harbor install documents using sudo

[2019-05-21 06:52] danfengliu opened #7845 "Add a Jenkins job for monitor disk space of Jenkins nodes."
Add a Jenkins job for monitor disk space of Jenkins nodes.

[2019-05-21 08:16] stonezdj commented on #7813
Is it resolved?

[2019-05-21 08:32] mingzhuyang opened #7846 "The reboot time is too long, because chown changes the directory permissions.  "
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
My mirror repository currently stores an 80T docker image, which takes 1-2 hours to restart the harbor each time. The investigation found that it was caused by the [chown 10000:10000 command](https://github.com/goharbor/harbor/blob/ae007c2a

[2019-05-21 08:36] reasonerjt commented on #7846
@ninjadq we discussed this.
I think ideally, we should move this to `prepare` phase.

And for the perf issue I can think of 2 options:
1) check the ownship before running `chown`
2) add a flag in the env vars to control it, and by default do not run `chown`

[2019-05-21 09:02] xiaokugua250 commented on #7691
when i use 'curl -k -X GET "https://172.16.23.34/api/health" -H "accept: application/json" -H "authorization: Basic YWRtaW46QUkmYmlnZGF0YTIwMTk="' comman it return 404 page not found ,it seems /api/health not right in harbor 1.7.5
![image](https://user-images.githubusercontent.com/4617763/58082725-24b64700-7bea-11e9-9af0-52b3fa101885.png)
![image](https://user-images.githubusercontent.com/4617763/

[2019-05-21 09:11] wy65701436 commented on #7604
I did some investigation on this, based on the current solvation of robot account model, it just needs to append the create and read in the access scope when to issue a new robot account.

For example,
`    {
      "resource": "/project/library/helm-chart-version",
      "action": "create"
    },
    {
      "resource": "/project/library/helm-chart",
      "action": "read"
    }
`

After that, the

[2019-05-21 10:04] wy65701436 commented on #7691
This feature is not ready on v1.7.5, please try with v1.8.0

[2019-05-21 10:59] jahentao commented on #3582
So, What's the current HA solution?

[2019-05-21 11:33] reasonerjt commented on #3582
@jahentao
https://github.com/goharbor/harbor-helm/blob/master/docs/High%20Availability.md

[2019-05-21 13:32] Reamer opened #7848 "Security gap with generated email"
Hi,
I'm a new harbor user and installed harbor 1.8 today.
I have a technical LDAP-User, because at the moment it's not possible to login to the same registry to multiple projects via robot-accounts.
My technical-User (jenkinssu) has no email address in my ActiveDirectory.
I was shocked, that email address will be generated to `[username]@placeholder.com`. In my case `jenkinssu@placeholder.com`
I t

[2019-05-21 14:16] sage-z commented on #7837
Update for the latest version of the solution, finally climbed out of this pit, I really will comfort myself!

[2019-05-21 14:16] #7837 closed

[2019-05-21 14:55] Chris-Lauer opened #7849 "docker login error due to key format on centos7/rhel7 when deployed via docker-compose"
If you are reporting a problem, please make sure the following information are provided:

**Expected behavior and actual behavior:**
Expected behavior: docker login to the harbor registry succeeds after an install of harbor on a rhel7 machine using the docker-compose install method and a valid SSL key/certificate in either pkcs#1 or pkcs#8 format.

Actual behavior: docker login fails with error 50

[2019-05-21 15:43] wy65701436 commented on #7848
@Reamer  1) For the robot account, from the security perspective, Harbor doesn't store the password(jwt token) of the account, that means, the token cannot be modified once it created. In another word, the robot account cannot be added to another project.
2)For the LDAP auth, Harbor sets the email to `@placeholder.com` if the email is empty, refer to https://github.com/goharbor/harbor/blob/release

[2019-05-21 16:56] JonGMoss opened #7850 "Replication Unauthorised - Harbor to Harbor v1.7.5"
docker version:
Client:
 Version:           18.09.6
 API version:       1.39
 Go version:        go1.10.8
 Git commit:        481bc77156
 Built:             Sat May  4 02:34:58 2019
 OS/Arch:           linux/amd64
 Experimental:      false

Server: Docker Engine - Community
 Engine:
  Version:          18.09.6
  API version:      1.39 (minimum version 1.12)
  Go version:       go1.10.8
  Git commi

[2019-05-21 17:08] bansalrajat opened #7851 "JobService Replication Error : strconv.ParseInt: parsing """
What can we help you?
I am not able to  use the replication from one goharbor to another . I am getting the below error in the logs output

2019-05-21T09:56:13Z [INFO] [/replication/transfer/image/transfer.go:264]: pulling the manifest of image speedy/s_fluentd:v1.0 ...
2019-05-21T09:56:13Z [INFO] [/replication/transfer/image/transfer.go:274]: the manifest of image speedy/s_fluentd:v1.0 pulled
201

[2019-05-21 17:12] bansalrajat opened #7852 "harbor Core : failed to get metadata, key:ui_url, error:<nil>, skip to load item"
What can we help you?

I am getting below warnings  in core.log when installing harbor v1.8.0-rc2 .how can i resolve these warnings .Can i ignore them?

May 21 11:34:21 172.18.0.1 core[3660]: 2019-05-21T10:34:21Z [WARNING] [/common/config/store/driver/db.go:43]: failed to get metadata, key:ui_url, error:<nil>, skip to load item
May 21 11:34:21 172.18.0.1 core[3660]: 2019-05-21T10:34:21Z [WARNING]

[2019-05-21 18:35] Reamer commented on #7848
Hi @wy65701436,
the robot account shouldn't be the topic in this issue. I mentioned this only for understanding, why I use a technical LDAP-User.

I'm not the owner of the `placeholder.com` domain. If Harbor sends to project members (also to technical server user with a `@placeholder.com` email address) notification or report emails, we have a information leak. An email is send to an email server,

[2019-05-21 20:26] wzcwts521 opened #7853 "unsupported media type: application/octet-stream"
While pulling images from unsecured docker registry, about half of the repositories reported following error
[code]

[2019-05-21 20:28] #7853 closed

[2019-05-21 21:00] wzcwts521 opened #7854 "unsupported media type: application/octet-stream"
A replication rule has been set to pull images while is being used for migration images from unsecured docker registry to harbor container registry. About half of the repositories with following error
```unsupported media type: application/octet-stream```

[2019-05-22 02:13] ywk253100 commented on #7851
Please upload the logs of both source and destination harbor instance, you can find them in the directory `/var/log/harbor`.

[2019-05-22 02:27] danfengliu opened #7856 "Nightly UI test case <User View Logs>failed at viewing delete log several times"
![image](https://user-images.githubusercontent.com/44018302/58143021-eb2e1c00-7c7b-11e9-97f6-aacccc7128cc.png)

[2019-05-22 02:44] nlowe commented on #6659
This is the only filter I'm not sure of. I don't think harbor has this data, we might have to check the backing distribution registry to see if we can get information like that.

[2019-05-22 02:46] jdolitsky commented on #7773
Closing this and continuing discussion at https://github.com/goharbor/community/issues/79

[2019-05-22 02:46] #7773 closed

[2019-05-22 02:48] ywk253100 commented on #7854
What's the version of the docker registry you are using? And for the failed images, do you know the version of docker client used to push them into the docker registry?

[2019-05-22 02:53] ywk253100 opened #7857 "Configure "ignoredmediatypes" in config.yaml of registry to ignore the useless events"
https://github.com/docker/distribution/blob/master/docs/configuration.md#endpoints

[2019-05-22 03:21] nlowe commented on #6661
Initial iteration available in https://github.com/nlowe/harbor/tree/feat/retention/GH-6661-delete-older-than-n-days. I'll open a PR when the merge window for 1.9 opens.

[2019-05-22 04:03] 542928492 commented on #7489
**the same error ，**  replace job can not continue

May 22 10:49:28 172.18.0.1 jobservice[1322]:
May 22 10:49:28 172.18.0.1 jobservice[1322]: 2019-05-22T02:49:28Z [INFO] Job incoming: IMAGE_TRANSFER:d3ddcd81eb69c35f1364d5ec
May 22 10:49:28 172.18.0.1 jobservice[1322]: 2019-05-22T02:49:28Z [INFO] Receive event 'register_hook' with data(unformatted): map[string]interface {}{"job_id":"277c215d3e95549

[2019-05-22 07:03] canelkatmis opened #7861 "Swagger API version of 1.8.0"
Swagger API version should be 1.8.0 for release-1.8.0:

https://github.com/goharbor/harbor/blob/9b073a1941df311f30911b59751280e68158550d/docs/swagger.yaml#L5

[2019-05-22 07:09] danfengliu opened #7862 "In OIDC user profile, there is a unreadable message when generating secrete"
![image](https://user-images.githubusercontent.com/44018302/58154059-458ea300-7ca3-11e9-8a85-1da760cf092c.png)

[2019-05-22 07:15] jahentao opened #7863 "HTTPS configure forbidden: User "system:anonymous" cannot get path "/""
I follow the [configure_https guide](https://github.com/goharbor/harbor/blob/master/docs/configure_https.md), but found it is not updated in time, such as the `harbor.cfg` not the `harbor.yml`, so the update details may be the reason leads to my error.

**Expected behavior and actual behavior:**

I expected to use https to browser harbor, it seems that I have no permission.

After my configuration

[2019-05-22 07:40] heww commented on #7863
@ninjadq configure_https doc needed to be updated to match version 1.8

[2019-05-22 07:47] canelkatmis opened #7864 "Minimum docker version for 1.8.0+"
Harbor 1.8.0 requires docker version: 17.06.0+
Currently, [Harbor readme](https://github.com/goharbor/harbor/blob/master/README.md) and [installation guide](https://github.com/goharbor/harbor/blob/master/docs/installation_guide.md) points to 17.03.0+ because of older versions of Harbor can support it.
It should be highlighted somehow...

[2019-05-22 07:50] #6839 closed

[2019-05-22 07:53] kokarn commented on #5704
Now with the improved replication stuff like this would be very helpful. Is it better to keep this closed and open a new ticket or re-open this one?

[2019-05-22 07:55] heww commented on #7863
@jahentao unarchive the harbor.yml.tar.gz got 000000 harbor.yml file. Can you confirm that there is no problem with the file?

[2019-05-22 08:19] heww commented on #7843
Which method used to install harbor, installer or helm chart ?

[2019-05-22 08:26] whmzsu opened #7866 "Default admin with password Harbor12345 not work,login failed"
Problem : Default admin with password Harbor12345 not work,login failed
Setup config : Nothing  but only change  http port from 80 to 8080

Harbor version: 1.8.0
docker version
Server: Docker Engine - Community
Engine:
Version:          18.09.6

docker-compose
docker-compose version 1.24.0, build 0aa59064
docker-py version: 3.7.2
CPython version: 3.6.8
OpenSSL version: OpenSSL 1.1.0j  20 Nov 2018

[2019-05-22 08:39] philpep opened #7867 "Why robot account are scoped to the project ?"
Hi,

We don't use ldap auth because we missed local users features for jenkins, kubernetes etc.

In v1.8.0 we now have robot account, great ! But we cannot use a single user/password for multiple projects because robot account are scoped to the project. And docker doens't support multi-account for a registry in a single docker config :/

I wonder why robot account are scoped to the project ?

[2019-05-22 08:58] rockpanda opened #7868 "After update to v1.8.0, the cron schedule cannot be modified/deleted."
![定时任务报错](https://user-images.githubusercontent.com/42989547/58161408-c608d000-7cb2-11e9-8535-1c9e57b82eb4.png)
![服务状态](https://user-images.githubusercontent.com/42989547/58161410-c739fd00-7cb2-11e9-9b64-4e6ebe6d18c0.png)
[harbor-log.zip](https://github.com/goharbor/harbor/files/3206564/harbor-log.zip)

[2019-05-22 09:10] whmzsu commented on #7866
After 10 minutes or more  waiting, now I can login to the web UI, so I will close the issue right now !

[2019-05-22 09:10] #7866 closed

[2019-05-22 09:36] heww commented on #7842
@dantianji Can you confirm that the cron string is correct?

I tested that replication job will scheduled even one job failed.

![WX20190522-173155](https://user-images.githubusercontent.com/5634205/58164244-07e84500-7cb8-11e9-8439-651dac01bb5f.png)

Can you provide more detail info?

[2019-05-22 09:43] wy65701436 commented on #7867
From the security perspective, Harbor doesn't store the password(jwt token) of the account, that means, the token cannot be modified once it created. In another word, the robot account cannot be added to another project.

[2019-05-22 09:48] wy65701436 commented on #7867
Let's keep this issue open to get more thoughts.

[2019-05-22 11:03] arsulesandy opened #7870 "Language drop-down label and user name getting overlapped"
Can we please align switch language drop-down label and user name label properly? As of now they are getting overlapped.

![image](https://user-images.githubusercontent.com/8274052/58169790-3f062880-7caf-11e9-8102-b6438d5a46b9.png)

[2019-05-22 11:31] cd1989 opened #7871 "JobService keeps restarting when Redis served by HAProxy"
If you are reporting a problem, please make sure the following information are provided:

**Expected behavior and actual behavior:**

`jobservice` keeps restarting every 1min around with following error log:

[code]

This happens when Redis is served by HAProxy, with timeout configured. So that redis connection is closed when reach the timeout.

Job Service's Redis pool needs to configure the idle

[2019-05-22 12:12] HelenaZheng opened #7873 "How to limit the network traffic when replicate images between two harbor in the first time."
I set replication rules with trigger mode: now and copy all images now. So all the images in the replicated project will be copy from the harbor to another harbor. At the same time, I find the all the network traffic has been owned and other application can not communicate with outside with network.
So I need to know how to limit the network traffic when replicate images between two harbor in the

[2019-05-22 14:38] JonGMoss commented on #7850
I am very sorry if I have wasted anyone's time investigating this, the issue was with harbor.cfg. Both harbor instances had the same hostname configured - harbor-a.domain.com...

[2019-05-22 14:56] killdaemon opened #7874 "Problems with LDAP configuration"
Hi, I was testing the new released 1.8 version because I have the same issue with the LDAP integration that is mentioned in the [PR#6161](https://github.com/goharbor/harbor/pull/6599/files). This one refers to the **memberof** parameter harcoded.

This parameter is available to be configured in th 1.8.0.

The problem comes when you try to configure this parameter. The LDAP section is not available

[2019-05-22 21:31] wzcwts521 commented on #7854
Thanks @ywk253100
Unfortunately, I don't have to way to track, I guess some of the images were build/push from docker 1.10

Closing this ticket. I suppose this is not an issue for the newer images, since we have upgrade our "build host" with "newer" version of docker

[2019-05-22 21:32] #7854 closed

[2019-05-23 02:14] #7850 closed

[2019-05-23 03:10] heww opened #7875 "Pull based replication not support library/redis:2.8 in docker hub"
The following is the log for replication job
[code]

And the manifest for library/redis:2.8 in docker hub is below
[code]

[2019-05-23 05:14] darkl0rd commented on #6207
No, push and pull works fine if you explicitly specify the tags (e.g. tag-amd64, tag-arm64). What doesn't work is replicating the manifest list (e.g. tag) which contains the references to the architecture specific tags -- see recently opened referenced issue.

[2019-05-23 05:58] wy65701436 opened #7877 "CI improvement 1.9"
What can we help you?

[2019-05-23 06:11] danfengliu opened #7878 "Add http_auth pipeline for harbor offline nightly test"
Add http_auth pipeline for harbor offline nightly test.

[2019-05-23 06:40] wy65701436 opened #7879 "Add AWS $ GCS pipeline for harbor offline nightly test"
We need to enable a pipeline to test push/pull to GCS.

[2019-05-23 07:12] jahentao commented on #7863
@heww  I'm sorry for that. Here is the `harbor.yml` content.
[code]

[2019-05-23 07:18] wy65701436 commented on #7841
close it as fixed.

[2019-05-23 07:18] #7841 closed

[2019-05-23 07:47] ZZYhho commented on #7500
I have same problem. My OS is ubuntu:16.04. and I solved by modify ~/.docker/config.json
` "noProxy": "127.0.0.1,localhost,harbor-core,harbor-db,harbor-jobservice,harbor-log,harbor-portal,nginx,redis,registry,registryctl"` it set noproxy=registry in harbor-core

[2019-05-23 07:49] jwangyangls commented on #7644
fix it #7844

[2019-05-23 07:49] #7644 closed

[2019-05-23 08:09] #7862 closed

[2019-05-23 08:22] jwangyangls commented on #7834
fix it in pr #7844

[2019-05-23 08:22] #7834 closed

[2019-05-23 09:37] jahentao commented on #2452
Did the 'let's encrypt' Certificate Authority is ok for harbor's certification? Otherwise, which certificate is sutiable, can i get an official recommendation?

[2019-05-23 09:37] chuck6 opened #7882 "本机非root用户可以部署harbor吗？"
What can we help you?
打算用普通的docker权限的用户部署harbor ，目前用户docker可以执行docker命令，进行创建docker容器，在执行./install.sh的时候，在启动各个容器的就开始报错，看到目录下面的docker-compose,yml怎么都是root 权限了，手动改了docker-compose,yml用户权限，手动去启动docker-compose中的各个容器，发现jobserver/core/nginx还是报错，查看各个日志发现是由于读容器内的各个文件没有权限。
我有点疑问了难道部署harbor的时候需要root用户才能部署吗？是否只有root才能去创建和容器内对应的用户ID的用户来适配，否则还是会有问题的。
盼望得到各个大佬的解释，谢谢！

[2019-05-23 09:37] chuck6 commented on #7882
使用的是最新的版本harbor V1.8.0

[2019-05-23 09:45] jahentao commented on #6604
Does Let's Encrypt certificates is available for Harbor's certification now?

[2019-05-23 09:53] jwangyangls commented on #7604
fix it pr #7876

[2019-05-23 09:53] #7604 closed

[2019-05-23 10:52] balonik opened #7883 "harbor-migration cannot properly recognize cfg vs yaml file"
**Expected behavior and actual behavior:**
Changes to the `tools/migration/cfg/utils.py` in https://github.com/goharbor/harbor/commit/64b16c891587dbb3aeec251d4e24294a48a5f0e6 are causing TypeError Exception in case when `harbor.cfg` does not contain comments.
The expected YAML exception is not raised, because the harbor.cfg is in valid YAML format.
In such case the content of `harbor.cfg` is loade

[2019-05-23 11:26] konstantinpae opened #7884 "robot user token not signed/invalid signature"
**Docker Version**
Docker version 18.09.6, build 481bc77
**Docker Compose Version**
docker-compose version 1.23.2, build 1110ad01
**Harbor Version**
1.8.0

So, I'm not sure if this is a bug or some kind of misconfiguration on my side but here it goes.

When creating a robot account it seems the associated token is not signed which results in the following error message:
`error checking push permis

[2019-05-23 11:33] darkl0rd commented on #7316
After upgrading to v1.8.0, clair is not working at all anymore.

On the Vulnerability page I get an "Internal server error" and when attempting to edit the schedule it also throws an error. The logs show nothing sensible.

[2019-05-23 11:35] konstantinpae opened #7885 "Incorrect Email (placeholder) is shown when using Gitlab as OIDC provider"
**Docker Version**
Docker version 18.09.6, build 481bc77
**Docker Compose Version**
docker-compose version 1.23.2, build 1110ad01
**Harbor Version**
1.8.0
**Gitlab Version**
11.9.7-ee (782806f)

The signup process itself using Gitlab as OIDC Provider is working without any issues. However, when a user is logging in a user account is created but the associated email address is of the format
`5eea2h

[2019-05-23 11:53] wy65701436 commented on #7884
Can you try the same scenario with docker client?

[2019-05-23 11:58] konstantinpae commented on #7884
When using the docker client pushing is possible without issues. I have set harbor as insecure registry, though.
We are using a self signed certificate but have our own inhouse CA.
Root certificate is installed on both machines (where docker client is running and in the container where kaniko is running)

[2019-05-23 12:01] wy65701436 commented on #7884
We didn’t try robot with kaniko just docker

[2019-05-23 12:02] chuck6 opened #7886 "从registry源拉取镜像到harbor中报错"
点击同步按钮，发现该job只同步了79%，任务报failed 。
查看jobservice的日志，有如下报错。还请专家指点一下，特别在于“blob unknown to registry”
May 23 19:58:19 172.21.0.1 jobservice[101852]: 2019-05-23T11:58:19Z [ERROR] [/replication/transfer/image/transfer.go:216]: failed to pulling the blob sha256:e6fae9294c3500622ea5f401c07be6bc8d2e5dcbb74431c0e4aec037002b52c3: http error: code 404, message {"errors":[{"code":"BLOB_UNKNOWN","message":"blob un

[2019-05-23 12:06] konstantinpae commented on #7884
I will dig into this as soon as I am back from KubeCon and provide as much information as I can next week. It would be absolutely great being able to use a different build tool than docker.

[2019-05-23 12:12] wy65701436 commented on #7884
Thanks @konstantinpae

[2019-05-23 12:14] wy65701436 commented on #7884
Can you provide the core.log?

[2019-05-23 12:16] krausexb opened #7887 "Refreshing the UI results in "authentication required""
I installed a Harbor instance, based on the Helm Charts(Branch 1.1.0) and used Ingress to expose the Service. The instance is working fine and I dont retrieve error messages. The only thing which seems kinda weird to me is the following szenario.

Calling the UI from https://fqdn/ works fine.
But refreshing the page always results in the following error.

My ingress configuration:
![grafik](https:

[2019-05-23 12:44] konstantinpae commented on #7884
@wy65701436 Here you go, the tail output of the core log with login attempts. (All tokens stayed in place for debugging reasons, as they are throwaway accounts anyway):

`May 23 14:32:57 192.168.16.1 core[912]: 2019/05/23 12:32:57 #033[1;44m[D] [server.go:2619] |      127.0.0.1|#033[42m 200 #033[0m|   1.195878ms|   match|#033[44m GET     #033[0m /api/ping   r:/api/ping#033[0m
May 23 14:32:58 192.1

[2019-05-24 02:49] heww commented on #7887
Which auth mode used by the harbor instance, db, ldap or oidc ?

Which page will cause this problem? Or all pages will cause this problem ?

[2019-05-24 02:51] heww commented on #7886
Can you provide the source filters used to match images of the registry (hub.docker.com, right) ?

[2019-05-24 03:57] heww opened #7889 "OIDC endpoint not support http url"
I have a gitlab only provide http mode access and i want it as OIDC provider for harbor, but i can not set its http url as OIDC endpoint in harbor.

And harbor itself also can be installed in http mode.

![WX20190524-114935](https://user-images.githubusercontent.com/5634205/58301783-84933480-7e1a-11e9-945c-d0111c8cd835.png)

[2019-05-24 04:51] darkl0rd commented on #6522
Prior to v1.8, I could at least push manifest lists. We just couldn't replicate them.
After the upgrade to v1.8, an error is thrown when trying to push a manifest list, effectively breaking all our multi-arch images, which previously worked.

[2019-05-24 06:11] danfengliu opened #7890 "Add test cases edit/delete replication rule for replication feature"
Add test cases edit/delete replication rule for replication feature.

[2019-05-24 06:38] danfengliu opened #7891 "Add a Jenkins job for node storage space monitor"
Add a Jenkins job for node storage space monitor

[2019-05-24 06:51] HelenaZheng commented on #7500
您怎么解决的呢

[2019-05-24 06:57] ninjadq commented on #7500
because some files are generated in docker is root permission.
and the non-root user cannot access these files.

[2019-05-24 07:57] ZZYhho commented on #7843
core 容器里面的env 应该没有no_proxy=registry,modify ~/.docker/config.json
"noProxy": "127.0.0.1,localhost,harbor-core,harbor-db,harbor-jobservice,harbor-log,harbor-portal,nginx,redis,registry,registryctl" it set noproxy=registry in harbor-core env

[2019-05-24 08:21] heww commented on #7889
em..., OIDC specification mandates HTTPS.

[2019-05-24 08:21] #7889 closed

[2019-05-24 10:53] lordcf commented on #7833
Thankyou
It worked

[2019-05-24 12:11] jahentao opened #7896 "Is there any alternative method when remote certifacate verifing use self-signed CA?"
I have ask a [question](https://groups.google.com/forum/#!topic/harbor-dev/kmAKphRANUg) in Google develop group.

Restatement is as follows:

I have deployed two harbor registry for testing: harbor1 at IP 35.243.92.40 and harbor2 at IP 34.80.154.130.

For each harbor registry, I have configure HTTPS using self-signed CA, as below, and docker login 34.80.154.130 is ok now.

![](https://images-markd

[2019-05-24 12:57] hardoverflow opened #7897 "Tagging problem with alternative container engine"
**Description:**
Images created using docker alternatives (in this case podman as well as buildah) are not properly displayed in the Harbor GUI. The image tagged "test" was created using podman. Note the missing "Creation Date" and "Docker Version" entries. Also the "Size" entry is displayed as being 0B. "latest" and "7" where created using docker. These are correctly displayed.

**Expected behavi

[2019-05-24 15:46] krausexb commented on #7887
Ich fixed the bug by my self. The Problems were caused by the Traefik Ingress Controller. As soon a I switched to NGINX everything was working fine.

[2019-05-24 15:47] #7887 closed

[2019-05-24 15:56] DeepSilence opened #7898 "Insufficient scope when using the docker registry API"
**Expected behavior and actual behavior:**
The docker registry API always return a 401 error.

**Steps to reproduce the problem:**
When trying to access `https://myserver:444/v2/_catalog`, it returns an UNAUTHORIZED error asking for the registry:catalog:* scope.

After getting a token specifying this scope (`https://vacl013d:444/service/token?service=harbor-registry&scope=registry:catalog:*`) and

[2019-05-24 19:45] reasonerjt commented on #7896
Actually there is a way to inject your self-signed CA into the `core` container.  It requires some manual work but do-able.

@ywk253100  could you help?

[2019-05-25 07:19] HelenaZheng commented on #7500
I have already sloved this proble, because the main process harbor-core need the no-root but harbor user. This file maybe no permission for harbor  in containers. So I create the harbor user in my host server and give the 10000:10000 to harbor, then add the harbor into root group.

[2019-05-25 07:20] HelenaZheng commented on #7523
I have already sloved this proble, because the main process harbor-core need the no-root but harbor user. This file maybe no permission for harbor in containers. So I create the harbor user in my host server and give the 10000:10000 to harbor, then add the harbor into root group.

[2019-05-25 07:20] #7523 closed

[2019-05-25 09:20] fengshunli opened #7899 "rancher新版本拉取新版本的harbor1.8的chartrepo可以启动，但是不能部署成功"
rancher测试1.6版本以及1.7版本都是一样的效果
![image](https://user-images.githubusercontent.com/18587688/58367385-26954880-7f11-11e9-801b-89f51f4a358d.png)

[2019-05-25 20:54] qiqizjl commented on #7867
Is it possible to treat the robot account as a normal account, but he has a robot tag. A project corresponds to a robot, which has a great impact on our succession. If we add items here, we need to add robots and then sync to the secret of K8S. It will be difficult to maintain this secret when there are more projects.

[2019-05-26 02:44] d2dyno commented on #694
I have this working with native 1.8.0. Added gitlab as docker-registry, created access token for my account on gitlab (personal instance), put username in access id and access token in secret. Setup replication rule with namespace 'user/*' and it pulled all images from gitlab for my user.

[2019-05-26 16:13] sunyao5588 commented on #3344
Hi @SteveOss I tried what you said, half of the images are cleaned. But the other half got error like: Failed to clean manifest 45bd95d24e36cdd78d11eda9a02c57bde166cee2932023e2118356536e356c17 from repo pfic/pfic-dev with response code 404
Do you have any solutions for that?

[2019-05-27 01:22] iluoxw opened #7900 "how to configure DSN to support the insecure old password authentication"
### MySQL Version 5.7.23
### Harbor Version : harbor-offline-installer-v1.3.0-rc2.tgz
### The Error Log:
`May 25 11:46:31 172.20.0.1 jobservice[785]: 2019-05-25T03:46:31Z [FATAL] [main.go:41]: failed to initialize database: register db Ping `default`, This server only supports the insecure old password authentication. If you still want to use it, please add 'allowOldPasswords=1' to your DSN. See a

[2019-05-27 04:47] Hotege opened #7901 "How to disable self-registration in harbor 1.8.0?"
harbor.cfg includes setting self_registration while harbor.yml not.

[2019-05-27 05:05] wy65701436 commented on #7901
you can find it in the configuration page when to login as a system admin.

[2019-05-27 06:16] jahentao commented on #7896
@reasonerjt Wow! You' re right. Thanks for your help!

After I add the self-signed CA into `harbor-core` container, then restart it.
[code]
It works!
![](https://images-markdown.oss-cn-hangzhou.aliyuncs.com/configure/Harbor/self-signed-CA-works.png)

[2019-05-27 06:17] wy65701436 commented on #7900
hi @iluoxw , harbor has been migrated DB to postgresql from v1.6.0.

MySQL was dropped in the current release, please upgrade to the latest version to get support.

[2019-05-27 06:20] wy65701436 commented on #7897
thanks @hardoverflow, we do not have harbor tested on podman, which may lead to some unknown issues.

Is it possible that file an requirement to support manage images created by podman?

[2019-05-27 06:29] d2dyno opened #7902 "minutely cron replication inconsistent"
**Expected behavior and actual behavior:**
Expected:
Setting a cron string for replication, should replicate the source registry on time, every time. For example, every minute.

Actual:
Setting the cron string to `*/59 * * * * *`, will not run every minute, and there doesn't seem to be a rhyme or reason as to why. In the screenshot below, this can be seen.
![Harbor (2)](https://user-images.githubu

[2019-05-27 07:34] amimof opened #7903 "Impossible to install Harbor 1.8 with RHEL Docker"
Docker shipped with RHEL 7.x uses a different versioning standard which the installer doesn't understand. Trying to install harbor on a RHEL host will fail and gives the following error
[code]

**Expected behavior and actual behavior:**
Able to install Harbor on the host and pass the check that verifies the docker version.

**Steps to reproduce the problem:**
Run `install.sh` on a host running Red

[2019-05-27 08:06] lexkwan commented on #7901
![image](https://user-images.githubusercontent.com/30421936/58405114-4a839600-8099-11e9-9b5d-ac850414cc31.png)

[2019-05-27 08:20] Hotege commented on #7901
i see. i've forgot it.

[2019-05-27 08:20] #7901 closed

[2019-05-27 08:29] wy65701436 commented on #7902
please provide core.log and jobservice.log

[2019-05-27 08:33] wy65701436 commented on #7903
@amimof can you comment the code to validate the docker and docker-compose version? And, then to try the installation again. We may do not have an env to debug this.

[2019-05-27 08:40] d2dyno commented on #7902
[logs.zip](https://github.com/goharbor/harbor/files/3222595/logs.zip)

[2019-05-27 08:43] amimof commented on #7903
The install runs fine when I comment `exit 1` in the function `check_docker()` that compares docker version strings.
[code]

[2019-05-27 08:55] ywk253100 commented on #7898
Only the system administrators have the privilege to catalog repositories, so you need to request the token with system admin users

[2019-05-27 12:03] jahentao commented on #7863
I have fix the problem, and I will add an IP demo, and update the config file to `harbor.yml`.

[2019-05-27 12:23] #7896 closed

[2019-05-27 12:26] maxfunke opened #7907 "documentation: harbor.cfg references"
The docs almost always refere to **harbor.cfg** file. However I'd say it should be /make/**harbor.yml**

![harbor-cfg](https://user-images.githubusercontent.com/1723053/58419452-eeb21080-808a-11e9-91e4-5d2de11126f4.jpg)

[2019-05-27 13:05] torubylist opened #7909 "cant add registry endpoint v1.8.0"
If you are reporting a problem, please make sure the following information are provided:

**Expected behavior and actual behavior:**
can not  add registry enpoint. can work in 1.8.0-rc.1. but not v1.8.0

**Steps to reproduce the problem:**
update harbor.yml, mainly in harbor address and pg and redis configuration
install v1.8.0,two harbor, share outer pg and redis through haproxy
then add registry

[2019-05-27 14:22] canelkatmis commented on #7903
1.13.1(2017-02-08) is an old version. You should install 17.06+(2017-06-28) an higher

[2019-05-27 14:44] YakirShriker opened #7910 "[GC] Running GC without stopping Harbor services"
Harbor Version:1.6.0
Currently, we are running GC using bash script(with crontab):
#!/bin/bash
puppet agent --disable
cd /liveperson/harbor
/usr/local/bin/docker-compose stop
docker run -i --name gc --rm --volumes-from registry goharbor/registry-photon:v2.6.2-v1.6.0 garbage-collect  /etc/registry/config.yml
/usr/local/bin/docker-compose start
puppet agent --enable

As you see, We are fully stoppin

[2019-05-27 23:36] leosunmo opened #7911 "[Feature Request] Allow to set limit of images to replicate for each repository."
**Is your feature request related to a problem? Please describe.**
When replicating from another Docker registry (in my case Dockerhub) I don't necessarily want to replicate the *full history* of a certain image in to my new Harbor instance.

**Describe the solution you'd like**
Along with the other filtering options I would like a "only replicate the latest N images for each library".

**Describe

[2019-05-28 02:17] ywk253100 commented on #7909
Did you set the `hostname` as `0.0.0.0` in `harbor.yml`? It should be the IP or domain name that users access Harbor service.

[2019-05-28 02:18] heww commented on #7911
Registry V2 API not support to get tags of image by create time (or update time) desc order. So we can not get latest N images of library just from Registry V2 API.

[2019-05-28 02:29] torubylist commented on #7909
@ywk253100 thank you, already worked. but i still dont know why. i can login through web portal .0.0.0.0 means listen to every interface in the host.

[2019-05-28 02:33] NanXuejiao opened #7912 "harbor database CrashLoopBackOff after restart all harbor pods by k8s"
I got [adminserver, clair, core, database] CrashLoopBackOff after restart all harbor pods by k8s. And log of these pods point it's database caused, the following is database log, but I don't known how to fix it?
[code]

[2019-05-28 02:52] wy65701436 commented on #7910
it's already in from v1.6.0, just find it in the UI.

[2019-05-28 02:54] #7910 closed

[2019-05-28 02:54] Ghostbaby commented on #7912
are you use PVC to storage the pg database file?

[2019-05-28 02:58] wy65701436 commented on #7907
thanks @maxfunke

[2019-05-28 03:00] Ghostbaby commented on #7911
May be  put the linux timestamp in the tag ? (e.g. harbor.ghostbaby.io/monitoring/test: v1-1559012347)

[2019-05-28 03:22] NanXuejiao commented on #7912
Yes.
 I got this eroor, and then delete pvc,pv and restart all pods, also have this error

[2019-05-28 04:19] 407777853 commented on #3344
怎么关闭接收？？？

---Original---
From: "sunyao"<notifications@github.com>
Date: Mon, May 27, 2019 00:14 AM
To: "goharbor/harbor"<harbor@noreply.github.com>;
Cc: "Subscribed"<subscribed@noreply.github.com>;
Subject: Re: [goharbor/harbor] Overwritten tags will not be GCed. (#3344)

Hi @SteveOss I tried what you said, half of the images are cleaned. But the other half got error like: Failed to clean manifes

[2019-05-28 06:06] gklp commented on #6159
@lurenjia528 How did you call auth endpoint ? Is there a different conf in here? I am trying to call that endpoint. I am always getting 405 Not Allowed. By the way, other endpoints which are related docker registry is working fine.

[2019-05-28 07:38] #6365 closed

[2019-05-28 07:42] jwangyangls commented on #7630
Yes, we have found that this problem does exist. You'd better upgrade your harbor. This problem has been modified in the new version.

[2019-05-28 07:58] Poil commented on #7909
Hi,

Same problem here and same log.
My hostname is set to a fqdn that is resolving to my eth0 interface IP address.

[2019-05-28 08:19] Poil commented on #7852
Hi,
Same here

[2019-05-28 08:26] #7863 closed

[2019-05-28 08:27] amimof commented on #7903
1.13.1 should be the latest available version on RHEL 7.6 at least. Not entirely sure the differences between RHEL docker and docker-ce.

[2019-05-28 08:35] YakirShriker commented on #7910
I don't see any GC option in UI.
Only read-only.
But can't find any automation for enabling read-only using API.

[2019-05-28 09:18] canelkatmis commented on #7903
1.13.1 is the latest version of **docker** and RHEL only supports docker (not **docker-ce** and **docker-ee**)

[2019-05-28 09:21] amimof commented on #7903
Ok, got it. Thanks!

[2019-05-28 09:21] #7903 closed

[2019-05-28 09:54] heww commented on #7873
Hi @HelenaZheng , we suggest that there are two options to deal with this problem.

1. Reduce the `max_job_workers` of `jobservice` , eg change it from 10 to 5

2. Limit the traffic at  VM/Container level

[2019-05-28 09:59] heww commented on #7882
@chuck6 Sorry, currently v1.8.0 can not be installed by no-root user. We will fix this problem.

[2019-05-28 11:42] heww commented on #7899
Set `chart.absolute_url` config to `enabled` will fix this problem.

See more info https://github.com/rancher/rancher/issues/18535#issuecomment-494036451

[2019-05-28 12:15] GitHubStevenLiu opened #7917 "how to change default registry port 5000"
harbo:v1.8.0
 I change harbor ui default port 80 in harbor.yml , but i do not know how to change default registry port  5000 .

I add port: 50001:5000  in docker-compose.yml 's registry ,but after install , It was reset.

I guess that i should change in  harbor.yml , but how ?

[2019-05-28 13:06] cfrantsen commented on #7897
We have this issue as well. Pushing a new updated image built with buildah/podman "on top" of an existing image that has been built with docker results in the error seen in the screenshot. If we push a completely new image nothing appears in the UI at all, although this image can still be pulled.

[2019-05-28 21:03] jtackaberry opened #7919 "Support per-account robot token expiration"
Currently the robot token expiration duration is a system-wide setting.  It would be very useful to be able to control the token lifetime per robot account (using the system setting as a default).

[2019-05-29 00:36] mmellin opened #7920 "Helm authentication without admin"
In the Harbor documentation (https://github.com/goharbor/harbor/blob/master/docs/user_guide.md#manage-helm-charts) it mentions using Harbor admin credentials for adding a Helm repo, or using a Helm repo.  While this seems to work, I don't want to give out admin credentials to all developers.

Is there a way to make this work with the developers' own credentials?  Currently we are using LDAP at the

[2019-05-29 02:10] #7891 closed

[2019-05-29 02:11] #7777 closed

[2019-05-29 02:16] danfengliu opened #7921 "Add API test for replication NG"
The old replication API test was removed due to replication NG， so please script new API test for replication NG

[2019-05-29 02:22] danfengliu opened #7922 "In Jenkins job cd_daily_master, data population failed."
In Jenkins job cd_daily_master, data population failed.

[2019-05-29 02:27] heww commented on #7899
@steven-zou  @ywk253100 @ninjadq how about enable the absolute url for chart as default config ?

[2019-05-29 02:39] zhoumeina commented on #7870
fixed by :#7916

[2019-05-29 02:39] #7870 closed

[2019-05-29 02:46] #7823 closed

[2019-05-29 02:49] zhoumeina commented on #7698
@renmaosheng , do you mean the token string?

[2019-05-29 02:52] zhoumeina commented on #7630
@aladjadj , please use harbor 1.8. This is fixed.

[2019-05-29 02:52] #7630 closed

[2019-05-29 02:58] #6353 closed

[2019-05-29 03:12] heww commented on #7920
Hi, there are two options to add helm repo.

1. Add Harbor as a unified single index entry point (eg, `http://192.168.1.100/chartrepo`) require system admin's credentials

2. Add Harbor project as separate index entry point (eg, `http://192.168.1.100/chartrepo/library`) require project member's credentials or any user's credentials when project is public.

[2019-05-29 06:40] ygqygq2 opened #7924 "The size are 0 images always in the registry."
The images have been deleted, but them always in the registry.`v1.7.4` and `v1.8.0` are the same.

![image](https://user-images.githubusercontent.com/17672440/58535033-66b13f80-821f-11e9-8c40-f592bdb33dc4.png)

[2019-05-29 06:47] danfengliu opened #7925 "OIDC UI test cases should be cherry-pick to 1.8 branch"
OIDC UI test cases should be cherry-pick to 1.8 branch

[2019-05-29 06:49] danfengliu opened #7926 "API script - sign image should be added into Travis"
API script - sign image  should be added into Travis

[2019-05-29 07:31] arsulesandy commented on #7870
Thank You @zhoumeina

[2019-05-29 08:53] jahentao commented on #7896
When remote certifacate verified use self-signed CA, and in the replication progress, I found that the `harbor-jobservice` container also need to be injected self-signed CA.

[code]

[2019-05-29 09:18] bear280 commented on #7198
我遇到同样的问题 Error response from daemon: Get http://harbor.zjmiec.cn/v2/: Get http://172.16.10.12/service/token?account=admin&client_id=docker&offline_
token=true&service=harbor-registry: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers) (Client.Timeout exceeded while awaiting headers)

[2019-05-29 09:20] bear280 commented on #7198
我遇到了同样的问题：Error response from daemon: Get http://harbor.xxxx.cn/v2/: Get http://172.16.10.12/service/token?account=admin&client_id=docker&offline_
token=true&service=harbor-registry: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers) (Client.Timeout exceeded while awaiting headers)

[2019-05-29 09:24] bear280 commented on #7198
我的模式是自建nginx(公网IP)-->内网（172.16.10.12）,内网使用docker login 172.16.10.12 正常[root@zjmieczdxjoms harbor]# docker login 172.16.10.12
Username: admin
Password:
WARNING! Your password will be stored unencrypted in /root/.docker/config.json.
Configure a credential helper to remove this warning. See
https://docs.docker.com/engine/reference/commandline/login/#credentials-store

Login Succeeded
外网使用docker login

[2019-05-29 09:43] stonezdj commented on #7874
Please refer https://github.com/goharbor/harbor/blob/master/docs/configure_user_settings.md
The param is ldap_group_membership_attribute.

[2019-05-29 09:51] stonezdj commented on #7852
They are staled configure items.

Remove these unused key in postgres
[code]
Execute commands in container console
[code]

[2019-05-29 10:13] lordcf opened #7928 "Getting error while pushing trusted image to harbor"
What can we help you?
Error: error contacting notary server: x509: certificate signed by unknown authority

[2019-05-29 10:55] ywk253100 commented on #7902
Is there any other tasks running? If no available job workers for the tasks to run, they will be put in a queue and pending for workers.

[2019-05-29 13:59] bear280 opened #7929 "docker push harbor.zjmiec.cn/zjmiec/centos:7"
docker push harbor.zjmiec.cn/zjmiec/centos:7
报如下错误码：
[root@zTestWMS ~]# docker login harbor.xxx.cn
Authenticating with existing credentials...
WARNING! Your password will be stored unencrypted in /root/.docker/config.json.
Configure a credential helper to remove this warning. See
https://docs.docker.com/engine/reference/commandline/login/#credentials-store

Login Succeeded
[root@zTestWMS ~]# docke

[2019-05-29 14:03] bear280 opened #7930 "docker push 时出错Preparing error parsing HTTP 404 response body: unexpected end of JSON input: """
docker push harbor.xxx.cn/test/centos:7
报如下错误码：
 [root@zTestWMS ~]# docker login harbor.xxx.cn
Authenticating with existing credentials... WARNING! Your password will be stored unencrypted in /root/.docker/config.json. Configure a credential helper to remove this warning. See https://docs.docker.com/engine/reference/commandline/login/#credentials-store  Login Succeeded [root@zTestWMS ~]# docker pu

[2019-05-29 14:06] bear280 commented on #7930
其中架构为：域名（harbor.xxx.cn）-->公网IP（nginx）->私网IP（harbor）
harbor.yml中hostname=harbor.xxx.cn

[2019-05-29 14:17] #7929 closed

[2019-05-29 14:40] Geek3carl commented on #7780
@reasonerjt My harbor can`t login with docker CLI,but is normal in web.The harbor version is 1.8.0，and return error like this:
Error response from daemon: Get https://registry.aiqbg.com/v2/: Get https://registry.xxxx.com:4433/service/token?account=admin&client_id=docker&offline_token=true&service=harbor-registry: net/http: request canceled while waiting for connection (Client.Timeout exceeded whil

[2019-05-29 14:41] mmellin commented on #7920
Thanks @heww .  Step #2 does not work for me with credentials other than admin.  Both steps seems to work with admin credentials however.  Is there some configuration I may be missing?

[code]

[2019-05-29 15:49] shapeofarchitect commented on #5404
I have done the same details and I verified the ldap connection , but I am still not able to login using my ldap credentials to harbor UI. what am I missing here ?

[2019-05-29 16:16] wjwinner opened #7931 "harbor 1.7.0 两个实例不能共享数据库"
我使用harbor 1.7 在两台物理机上分别搭建一个实例，共享同一个远端ceph和postgresql。使用LDAP作为认证方式。其中一个能够在UI上登录，另外一个却不能。只能通过admin用户登录。
请教这个问题如何解决？

[2019-05-29 17:24] michmike opened #7932 "Allow a user to create and submit their own CLI secret"
in an OIDC scenario, allow a user to create and submit their own CLI secret. this is useful if you have multiple Harbor instances and you want to share the same users across multiple Harbor instances. the Harbor instances may be geographically distributed and behind a load balancer. if a failover occurs, the user can re-authenticate with harbor using the exact same credentials

requirements
1. All

[2019-05-30 01:56] nlowe commented on #6656
Initial iteration available in https://github.com/nlowe/harbor/tree/feat/retention/GH-6656-filter-chain-builder. I'll open a PR when the merge window for 1.9 opens.

[2019-05-30 02:03] nlowe opened #7933 "Tag Retention: Database Persistence"
Store retention policies in the database

[2019-05-30 02:31] Ghostbaby commented on #7931
能提供下harbor.conf配置文件吗？

[2019-05-30 02:37] Ghostbaby commented on #7930
nginx 做的是tcp转发吗？

[2019-05-30 02:49] bear280 commented on #7930
location / {
                    proxy_redirect off;
                    proxy_http_version 1.1;
                    proxy_set_header Host $host;
                    proxy_set_header X-Real-IP $remote_addr;
                    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                    #proxy_set_header X-Forwarded-Proto $scheme;
                    fastcgi_connect_timeout 180

[2019-05-30 02:50] bear280 commented on #7930
location / {
                    proxy_redirect off;
                    proxy_http_version 1.1;
                    proxy_set_header Host $host;
                    proxy_set_header X-Real-IP $remote_addr;
                    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                    #proxy_set_header X-Forwarded-Proto $scheme;
                    fastcgi_connect_timeout 180

[2019-05-30 03:08] wjwinner commented on #7931
## Configuration file of Harbor

#This attribute is for migrator to detect the version of the .cfg file, DO NOT MODIFY!
_version = 1.7.0
#The IP address or hostname to access admin UI and registry service.
#DO NOT use localhost or 127.0.0.1, because Harbor needs to be accessed by external clients.
#DO NOT comment out this line, modify the value of "hostname" directly, or the installation will fail

[2019-05-30 03:09] wjwinner commented on #7931
`## Configuration file of Harbor

#This attribute is for migrator to detect the version of the .cfg file, DO NOT MODIFY!
_version = 1.7.0
#The IP address or hostname to access admin UI and registry service.
#DO NOT use localhost or 127.0.0.1, because Harbor needs to be accessed by external clients.
#DO NOT comment out this line, modify the value of "hostname" directly, or the installation will fai

[2019-05-30 03:11] wjwinner commented on #7931
_version = 1.7.0

hostname = hub.test.com

ui_url_protocol = https

max_job_workers = 10

customize_crt = on

ssl_cert = /data/cert/ca.crt
ssl_cert_key = /data/cert/ca.key

secretkey_path = /data

admiral_url = NA

log_rotate_count = 50

log_rotate_size = 200M

http_proxy =
https_proxy =
no_proxy = 127.0.0.1,localhost,core,registry

email_identity =

email_server = smtp.mydomain.com
email_server_p

[2019-05-30 03:13] wjwinner commented on #7931
同样的harbor.cfg， 在两个物理机上部署。先部署的可以，后部署的不可以。
是不是数据库第一次写入的时候第一个实例通过自己的密钥加密了，后面的实例密钥和前面的不一致，导致数据无法验证？

[2019-05-30 03:34] GYICN commented on #4113
I had the same problem.
For a certain period of time, the connection times out and then returns to normal.I guess it is the problem of docker's network.
However, I could not find the cause of the problem, and it could not be repeated. The time of the problem was uncertain, and it appeared several times.
Please excuse my poor English.Here is the proxy log:
`May 29 10:58:07 172.18.0.1 proxy[30556]:

[2019-05-30 05:41] wy65701436 commented on #7931
@wjwinner do you want to set up HA with the offline installer?

If so, basically, you have to singleton the redis, db and storage. And also, you need to share the secrectKey, token files between the harbor instances.

We highly recommend you to setup HA with Harbor helm, as the HA on the offline installer is out of support scope so far.

[2019-05-30 05:50] Ghostbaby commented on #7931
离线ha安装使用下面命令
./install.sh --ha --with-clair

如上面大佬说的，ha尽量使用放到 k8s内部来做。

[2019-05-30 05:55] Ghostbaby commented on #7930
另外添加一个443的转发试试

[2019-05-30 05:58] jwangyangls commented on #6600
@timchenxiaoyu I recommend that you upgrade harbor and use the new version because it's very old.

[2019-05-30 05:58] #6600 closed

[2019-05-30 06:21] bear280 commented on #7930
我在内网就是用http协议，内网使用docker login 172.16.10.12    正常
docker push 172.16.10.12/test/centos:7 也是正常的。

[2019-05-30 06:58] heww commented on #7920
[code]
The error info indicate that the password for the user1 maybe wrong.

If it is the permission issue, the response code will be 403.

So please check the password argument, especially some characters needed to be escaped in shell.

[2019-05-30 06:59] #7899 closed

[2019-05-30 08:47] ZeDeXBG opened #7937 "Using legit SSL certificate returns an error"
The cert I'm using is *.something.tech and my domain is test-repo.something.tech.
When I use the browser UI everything looks perfect it is https and the browser says the certificate is valid but when I try to push an image I get an error "..x509: certificate signed by unknown authority"
The VM is secure so I really dont need to be using certificate but it is required, if anybody can tell me how to

[2019-05-30 08:49] danfengliu commented on #7922
Fixed in PR #7778

[2019-05-30 08:49] #7922 closed

[2019-05-30 09:05] danfengliu commented on #7921
Fixed in PR #7904

[2019-05-30 09:05] #7921 closed

[2019-05-30 09:21] #7874 closed

[2019-05-30 09:21] #7852 closed

[2019-05-30 09:22] #7813 closed

[2019-05-30 09:49] ywk253100 commented on #7917
Harbor exposes the registry service and portal on the same port (80 by default). You can pull/push images with the port directly

[2019-05-30 09:49] #7917 closed

[2019-05-30 10:24] #7873 closed

[2019-05-30 10:46] wjwinner commented on #7931
好的，我试试。谢谢各位大佬

[2019-05-30 10:47] #7931 closed

[2019-05-30 11:56] GYICN opened #7938 "When I access the API, the return value is 504"
When I access the API, the return value is 504. For a certain period of time, the connection times out and then returns to normal, it will make harbor unusable for a while . I guess it is the issue of docker's network or iptables. I am not very familiar with this aspect and learning it now.
However, I could not find the cause of the problem, and it could not be reproduce. The time of the issue was

[2019-05-30 13:18] michmike opened #7939 "Implement quotas per project"
Quota per project - have to model how quota is applied with docker image layers. Could be number of images or could be based on full image size without taking into account on-disk storage

v1: number of images (includes repositories, tags, helm charts)
v1: total size of all artifacts on disk per project (includes repositories, tags, helm). Accounts for shared storage among containers in an image

[2019-05-30 13:24] michmike opened #7940 "Advanced Quota work"
Feature: checkbox to account for shared storage among layers (true on disk size) within the same project

[2019-05-30 13:35] michmike opened #7941 "retention policy (TTL) for images per project"
Policies to meet compliance needs and to avoid excessive storage needs for Harbor

Number of days old
Number of tags per repository (keep N latest images)
Policies do not have to be mutually exclusive
Exceptions to policies
1. Don't delete the last remaining image
2. Exclude from policies images with label(s) XYZ

Only administrators can enforce/change this policy. Ensure we log every time we dele

[2019-05-30 13:48] michmike opened #7942 "Support white list in CVE"
1. Allow you define a global list of CVEs that can be whitelisted (ignored) across all projects
2. On a per project, you can either inherit the global whitelist of CVEs (default option), or you can define your own for this specific project
3. Policy to disable pulling of images that have not had a clean scan by Clair yet (per project policy) -> already supported.

Any time a CVE is ignored due to

[2019-05-30 17:45] proutek commented on #7930
Add to your server block.

client_max_body_size 0;
chunked_transfer_encoding on;

[2019-05-31 05:07] mmellin commented on #7920
@heww Looks like you are correct.  I needed to escape a character ("$") in my password - like `--password mypa\$\$word`

Thanks, option #2 now works (eg, `http://192.168.1.100/chartrepo/library`)

[2019-05-31 05:07] #7920 closed

[2019-05-31 06:41] arsulesandy opened #7944 "Not able to docker login using Robot Accounts"
I'm not able docker login using robot account. I've attached the core and registry log.

docker login ************** -u robot$chitti -p <<robot_token>> or username with quotes
docker login ************** -u 'robot$chitti' -p <<robot_token>>

Error response from daemon: Get http://**************/v2/: Get http://*.***.***.***/service/token?account=robot&client_id=docker&offline_token=true&service=ha

[2019-05-31 09:03] doctori commented on #5451
quick update on this issue,
the thing is that the clair database name isn't properly set in the property table.
you can pass something like :
`CLAIR_DB: harbor-clair`
in the env
but the property is recorded as :
[code]
you'll need to update the value of the clair_db property to the right value :
` UPDATE properties SET v='harbor-clair' WHERE k='clair_db';`

and it'll unlock the situation

[2019-05-31 10:14] jeffweilee opened #7945 "Fail to start GC: 500 (v1.8.0)"
If you are reporting a problem, please make sure the following information are provided:

**Expected behavior and actual behavior:**
Failed to start GC: 500
The Harbor v1.8.0 registry which encountered GC: 500 problem has
1) 2000+ Docker repositories
2) About 3TB storage used
Since that there is no more detail about GC: 500 error in any logs even in DEBUG mode, I wonder Harbor v1.8.0 is not able t

[2019-05-31 12:13] lweitzman commented on #7698
there is already a design to copy the token ... do we also want to write a file locally?
but this is still waiting for feedback from the development team
https://vmware.invisionapp.com/share/RKOJ1Q83XNS#/364608935_v1-8_-_Robot_Accounts_Creation_Successful_Copy

[2019-05-31 13:18] gnavgire opened #7947 "for pushing signed image where is the config of passphrase for root key"
What can we help you?
I am using Harbor 1.8.0 , after enabling content trust env variables, the signed image push is asking for "passphrase for root key".  No passwords from the harbor.yml file is acknowledged for the same. Where can i get the passphrase for the root key ?

[2019-05-31 14:44] tcarmet opened #7948 "Encode database passwords in harbor's core"
**Expected behavior and actual behavior:**
Expected behavior: harbor-core pod running.
Actual behavior: Crashloop backoff on harbor-core pod.

This issue relates to https://github.com/goharbor/harbor-helm/issues/214

A fix has been made on the helm chart regarding db passwords encoding as they may contain special characters and so on.

IMHO Fixing this issue in the helm chart is not enough, or may

[2019-05-31 15:33] lordcf commented on #7928
Error: error contacting notary server: x509: certificate signed by unknown authority

[2019-05-31 15:39] jtackaberry commented on #7944
The error message looks like the output from the first command, not the second.  Because without the single quotes, $chitti is being evaluated as a bash variable, which is why the URL shows `account=robot`.

The second command should have worked (and works for me).

[2019-05-31 15:45] jtackaberry opened #7949 "Admin users should be allowed to override deployment security policy"
Currently admin users can't pull images if they violate the Deployment Security policy ("prevent images with vulnerability severity of X and above from being deployed").  There should be some mechanism (either a system setting or a default behavior) to allow admin users to pull any image.

Our use-case is integrating a third party container security tool such as Aqua or Twistlock with Harbor.  We

[2019-05-31 22:40] nisc-acooper commented on #7924
we see similar in our instance, running 1.7.4
![image](https://user-images.githubusercontent.com/1648514/58738339-fba46c00-83ca-11e9-843b-1984c91f0779.png)
The date is always the same and old.  when attempting to look at a tag, you get a MANIFEST_UNKNOWN error.   seems to be possible out-of-sync between docker registry and harbor?

[2019-06-02 06:30] sfxworks opened #7950 "Registry Push Succeeds, yet it retries."
If you are reporting a problem, please make sure the following information are provided:

**Expected behavior and actual behavior:**
I want to push a test image to the harbor registry I have.

The push refers to repository [harbor.sfxworks.net/quantomworks/nginx]
332fa54c5886: Retrying in 3 seconds
6ba094226eea: Retrying in 4 seconds
6270adb5794c: Retrying in 5 seconds

I am using nginx as a test.

[2019-06-02 18:20] qiqizjl commented on #7875
Has there been any progress in this matter? We also encountered similar problems

[2019-06-03 03:03] bitsf opened #7954 "Where to see vulnerability job status, and how can I stop the job"
Where to see vulnerability job status, and how can I stop the job?

Suggest to have a job management portal like replication jobs

[2019-06-03 03:30] bitsf opened #7955 "Seems replication job can only copy 100 tags"
Such as busybox has 127 tags now, but can only replicate 100 tags

[2019-06-03 06:03] wy65701436 commented on #7945
@jeffweilee what's your storage?

1. Can you provide the registryctl.log as while?
2. Can you try to execute the command in the registryctl container?

`sudo -E -u \#10000 registry garbage-collect --delete-untagged=true /etc/registry/config.yml`

[2019-06-03 07:07] #7955 closed

[2019-06-03 07:16] #7900 closed

[2019-06-03 07:20] reasonerjt commented on #7909
@torubylist the attribute `hostname` is not for the interface to be listened to, it's the endpoint that user accesses Harbor

[2019-06-03 07:21] xiaokugua250 commented on #7691
ok,thank you

[2019-06-03 07:49] danfengliu opened #7956 "Add UI test case for AWS & Google replication"
Add UI test case for AWS & Google replication

[2019-06-03 07:51] heww opened #7957 "[Feature Request] Multi images scan onetime in portal"
What can we help you?

In project repository page, when select multi images, i can scan these images by on button click.

[2019-06-03 07:52] jegger commented on #6314
We are in the exact same situation. Even tough we have not as nearly as much tags in a repo yet, it is slow. The same load-time seems to be appearing when we upload a new image to the repo (at the end of the push) - but I am not sure if that is really related...

[2019-06-03 08:09] titpetric opened #7958 "Container naming with docker-compose.yml, possible conflicting names in redis/nginx"
If you are reporting a problem, please make sure the following information are provided:

**Expected behavior and actual behavior:**

All containers should be prefixed with `harbor` and/or not set `container_name`.

When installing the standalone release, the docker-compose has `container_name` filled out for all services. All services are already reachable by the friendly service name, and extra

[2019-06-03 08:39] Reamer commented on #7848
@stonezdj & @wy65701436
What are you thoughts of this security gap?

[2019-06-03 08:49] wy65701436 commented on #7947
Please refer the notary doc, you have to input the rootkey in the console, harbor doesn't hold this.

[2019-06-03 08:49] #7947 closed

[2019-06-03 08:58] bansalrajat opened #7959 "list projects api is not working | 500 && giving garbage response"
What can we help you?

I am receiving 500 Error and Garbage response when i am trying to  get the project list from "/ai/projects" .
This is happening from devcenter as well as browser and command line .

![image](https://user-images.githubusercontent.com/8680661/59755295-97652180-927f-11e9-84b3-23fbeea1c893.png)

[2019-06-03 09:00] reasonerjt commented on #7840
@ericvmw
You can get the ID of the robot account from the `Location` header in the response.
We can add the ID to response body, but it will introduce in consistency to other APIs, so I think we should stay as-is.

[2019-06-03 09:14] fengshunli opened #7960 "1.6 升级到 1.8 采用 installer安装后的chartrepo仓库应用无法部署"
启动之前修改harbor.yml 中的 absolute_url 为 enabled 了
![image](https://user-images.githubusercontent.com/18587688/58790330-c6925680-8622-11e9-9e60-3c8837e762e5.png)
部署迁移过来的仓库,无法启动
![image](https://user-images.githubusercontent.com/18587688/58790420-f2154100-8622-11e9-830f-ff9d2e6fe52e.png)
报错提示如下
![image](https://user-images.githubusercontent.com/18587688/58790561-37d20980-8623-11e9-99e4-98617a3ad0e7.png)

[2019-06-03 09:42] bansalrajat opened #7961 "Replication get stuck"
What can we help you?

Hi,
The replication job gets stuck when replicating from another  goharbor registry using the pull-based Replication-mode.

[2019-06-03 09:46] bansalrajat opened #7962 "Projects are missing from ui after migration from v1.6.1 to v1.8.0"
What can we help you?
Projects are missing from UI after migration from v1.6.1 to v1.8.0.

Jun  3 10:53:08 172.23.0.1 core[1310]: 2019-06-03T09:53:08Z [ERROR] [/core/api/project.go:440]: Failed to get total of charts under project apiconnect: http error: code 404, message not found
Jun  3 10:53:08 172.23.0.1 core[1310]: 2019-06-03T09:53:08Z [ERROR] [/common/api/base.go:229]:
Jun  3 10:53:08 172.23

[2019-06-03 10:15] arsulesandy commented on #7944
unfortunately both the command doesn't work for me and there is not much difference in errors using both the commands

[2019-06-03 10:30] lethe3000 opened #7963 "pull/push from harbor with "too many connections" error"
We have a CI server and runs parallel docker pull/push operations.
when the number of parallel operations is sometimes big, docker cli will report errors like
[code]

and harbor log as below:
[code]

docker version: `17.09.0-ce`
harbor version: `Version v1.7.1-c3806525`
harbor cfg(launch with docker-compose):
[code]

So how to fix this issue, as I think "access denied" should not be reported.

[2019-06-03 11:00] sungjunyoung commented on #7762
@ywk253100 Is there any news?

[2019-06-03 11:27] wy65701436 commented on #7944
how did you install harbor? Did you try to login with a user instead of robot account?

Please catch the different in core.log/regsitry.log with `tail -f` when to do login with robot account.

[2019-06-03 12:10] jeffweilee commented on #7945
@wy65701436
Thank you very much for the command, it saved my day!!!

First, after executing ``sudo -E -u \#10000 registry garbage-collect --delete-untagged=true /etc/registry/config.yml``, I found the command ends with exceptions: manifest unexpected EOF error when processing an image sha256 digest in a project, however, I cannot find that digest in that project, but surprisingly found a 0B size i

[2019-06-03 12:16] arsulesandy commented on #7944
core.log

***********Admin Login***********

Jun  3 12:07:13 ******AWS_PRIVATE_URL****** core[3978]: 2019/06/03 12:07:13 #033[1;44m[D] [server.go:2619] |      127.0.0.1|#033[42m 200 #033[0m|    573.217µs|   match|#033[44m GET     #033[0m /api/ping   r:/api/ping#033[0m
Jun  3 12:07:13 ******AWS_PRIVATE_URL****** core[3978]: 2019/06/03 12:07:13 #033[1;44m[D] [server.go:2619] | 121.241.69.196|#033[43

[2019-06-03 12:47] DeepSilence commented on #7898
Thanks, this solved the problem.
It is not intuitive however, as the first error message do not indicate this.

[2019-06-03 12:47] #7898 closed

[2019-06-03 19:23] Zebradil commented on #7464
I'm experiencing the same issue. However, I don't own the registry and can't provide additional information.

[2019-06-04 00:50] ericvmw opened #7964 "Config option to support token login only from docker CLI in http_auth mode"
In Harbor http_auth mode, client can login either with username and native password, or with token$username and token. The login via token is mainly for login from docker CLI, and it is more secure since the user native password won't be stored on the client side.

It would make it even more secure by disabling login with username and native password from docker CLI, so that docker CLI can only lo

[2019-06-04 01:02] ericvmw opened #7965 "Support local user creation in http_auth mode"
Currently Harbor disallows local DB user creation in http_auth mode, this makes it a bit more complex to manage the sys admin user credential rotation. After the sys admin password is updated, the new credential needs to be updated in k8s secret. If the secret update fails, then the new credential may get lost and the login may fail because the old credential is used. If new local DB user can be c

[2019-06-04 01:39] koulq commented on #7041
@reasonerjt Hello, has this problem been solved in the recently released version 1.8?

The storage medium of docker registry is “ceph”

[2019-06-04 01:42] koulq commented on #7843
@ZZYhho This problem has been solved. There is something wrong with upgrading docker.

[2019-06-04 02:34] ywk253100 commented on #7762
We are working on that and will take the system level label filter back in 1.9.

[2019-06-04 02:37] ywk253100 commented on #7961
Could you provide more detail information? What the replication policy you create is? Provide the logs should be helpful for us to debug that.

[2019-06-04 02:56] ilanni2460 opened #7966 "harbor 1.8 often can't login use docker login"
narbor upgrde 1.8 afer，harbor 1.8 often can't login use docker login。

if restart harbor，it work。but the next day harbor Still can't login

[2019-06-04 03:00] sungjunyoung commented on #7762
Sounds great :)

[2019-06-04 03:25] ygqygq2 commented on #7924
@nisc-acooper I had fixed this problem.
eg.
`mv /data/registry/docker/registry/v2/repositories/pub/catering-service/_manifests/tags/1.0.15-SNAPSHOT /tmp/`

[2019-06-04 03:30] #7924 closed

[2019-06-04 06:09] CrystalMethod commented on #694
But you know, that Gitlab has access to all projects - no matter if you are member of that project. Otherwise your approach will only work in a very limited and personal setup. Because "pull" and "push" is always done using a registered user. And I'm pretty sure that you are not able to browse the registry within Gitlab (Project -> Registry), right? But I'm fine if this is ok for you.

[2019-06-04 07:05] reasonerjt commented on #7965
This is more a requirement that allow creating local user for `non-local-db` auth mode, this is not supported in Harbor right now because we can't handle the conflict of username properly.

To fix it we may add a column in user table to mark if the user is local.

One step further, we need to decide whether we need to support multiple auth backend at the same time.

[2019-06-04 07:12] liurongwei opened #7967 "image replication not list in the target harbor namespace."
I use the image replicates to sync local harbor images to the remote harbor , the sync rule and task execute succeed but I cann't find the pushed image in the remote harbor projects.

Is it a bug or else designed to this ?

[2019-06-04 08:01] heww opened #7968 "Pull based replication not support library/hipache in docker hub"
[code]

[2019-06-04 08:25] francotseng commented on #5451
May I ask what version are you on? I'm using harbor v1.5.2 and there is no `properties` table in my database, but a `keyvalue` table. And the following statement returns nothing:
[code]

[2019-06-04 09:02] sbressey opened #7969 "Robot account : cannot authenticate via token when using LDAP authentication"
It is not possible to login via robot account token when LDAP authentication is enabled.
I get the following error in core.log :

`
[/core/auth/ldap/ldap.go:70]: Not found an entry.
[ERROR] [/core/filter/security.go:471]: failed to authenticate xxx: Failed to authenticate user, due to error 'Not found an entry'
`

I think it would be very useful to be able to use both robot token authentication an

[2019-06-04 10:13] reasonerjt commented on #7840
We've made decision not to fix it.

[2019-06-04 10:13] #7840 closed

[2019-06-04 15:37] oskoi commented on #7944
@arsulesandy Hi!
Did you try to quote password as well?
[code]

[2019-06-04 18:54] reasonerjt commented on #7969
Hi,

robot account is designed to work when auth backend is set to LDAP.

Please refer to #7944 make sure the username and password are referenced correctly in your command

[2019-06-04 19:30] reasonerjt commented on #7963
@lethe3000
Could you let us know how many parallel commands are run when you encounter this error?
My current guess is that this error may be from database.

Please package all log files and attach to the issue, so we can correlate the error.

[2019-06-04 20:43] bansalrajat commented on #7962
any update on it ..I am getting below error in core.log
Jun  4 21:39:21 172.23.0.1 core[1310]: 2019/06/04 20:39:21 #033[1;44m[D] [server.go:2619] |      127.0.0.1|#033[42m 200 #033[0m|     953.36µs|   match|#033[44m GET     #033[0m /api/ping   r:/api/ping#033[0m
Jun  4 21:39:22 172.23.0.1 core[1310]: 2019-06-04T20:39:22Z [ERROR] [/core/api/project.go:440]: Failed to get total of charts under proje

[2019-06-04 20:47] bansalrajat commented on #7961
![image](https://user-images.githubusercontent.com/8680661/58912543-2b78aa00-8712-11e9-8bba-b78dc6e698e6.png)

This has been running for past 24 hours and nothing is happening, I have restarted the containers as well. Let me know which container logs you want and I will upload the same.

[2019-06-04 20:49] bansalrajat commented on #7851
This is resolved automatically .Not sure how .So , we can close this for now .

[2019-06-04 20:49] #7851 closed

[2019-06-05 02:32] ywk253100 commented on #7966
Provide the logs of `core` and `registry` when you cannot login via docker client.

[2019-06-05 02:34] ywk253100 commented on #7961
Package all of the logs and upload them.

[2019-06-05 02:37] danfengliu opened #7973 "In robot-framework and keyword <Go Into Repo>, Element Clicked returns OK, but the element was not click functionally"
In robot-framework, Element Clicked returns OK, but the element was not click functionally

[2019-06-05 04:45] ywk253100 commented on #5528
This has been implemented in v1.8, closing the issue.

[2019-06-05 04:45] #5528 closed

[2019-06-05 05:02] reasonerjt commented on #4451
@ywk253100 Since we target this in 1.9, please either reference it in the Epic or dup it to a new issue to track the work.

[2019-06-05 05:03] ywk253100 opened #7974 "Replication enhancement"

[2019-06-05 05:04] ywk253100 opened #7975 "Support label filter in replication"
Only support using the system level labels as the filter

[2019-06-05 05:07] reasonerjt commented on #1410
In 1.8 we have supported OIDC integration, and robot account seems it addresses most of the requirement in this issue?

[2019-06-05 05:10] ywk253100 opened #7976 "Support replication between Harbor and GCR(Google Container Registry)"

[2019-06-05 05:11] ywk253100 opened #7977 "Support replication between Harbor and ECR(Amazon Elastic Container Registry)"

[2019-06-05 05:14] ywk253100 opened #7978 "Support replication between Harbor and ACR(Azure Container Registry)"

[2019-06-05 05:16] ywk253100 opened #7979 "Support replication between Harbor and Ali cloud registry"

[2019-06-05 05:17] ywk253100 opened #7980 "Support replication chart from Helm Hub to Harbor"

[2019-06-05 05:20] ywk253100 opened #7981 "Support configuring proxy for replication"
Need to consider whether the proxy settings apply to all replication processes or just one policy.

[2019-06-05 05:23] ywk253100 opened #7982 "Improve the performance of replication when fetching resources"
Currently, the resources fetching progress is in sequence, we can enhance it by fetching them in parallel.

[2019-06-05 05:27] ywk253100 commented on #4451
Track the work in #7977, closing this one.

[2019-06-05 05:27] #4451 closed

[2019-06-05 05:30] ywk253100 commented on #1214
Replicating images from Docker Hub or Docker registry to Harbor is available in 1.8. Closing this issue.

[2019-06-05 05:30] #1214 closed

[2019-06-05 05:39] reasonerjt commented on #2746
Without further a due I'm closing this issue given user can see "history" of an image from UI.

[2019-06-05 05:39] #2746 closed

[2019-06-05 06:05] sbressey commented on #7969
Hi,

Indeed, it works when qutoting username and password in the one line command.
Thank you for your help.

Might be a good idea to update the documentation and give an example of a one line command with quotes ?

[2019-06-05 07:24] reasonerjt commented on #2617
This has been fix in v1.8 after introduction of `harbor.yaml` and rework of the prepare process.

[2019-06-05 07:24] #2617 closed

[2019-06-05 07:36] reasonerjt commented on #2984
Closing this issue as the Replication NG has been delivered in v1.8, and further improvement is tracked by #7974

[2019-06-05 07:36] #2984 closed

[2019-06-05 07:39] reasonerjt commented on #6305
Closing as this requirement is addressed by robot account, which has been delivered in v1.8

[2019-06-05 07:39] #6305 closed

[2019-06-05 07:47] reasonerjt commented on #2287
@thatsk for the requirement for `Tagd` please open issue to that repo as it's an external tool.

Closing this issue as the requirement 1) is already delivered and 2) is tracked by #6654

[2019-06-05 07:47] #2287 closed

[2019-06-05 08:03] reasonerjt commented on #7337
Closing due to inactivity.

[2019-06-05 08:03] #7337 closed

[2019-06-05 12:38] GDixon7623 commented on #7902
We are seeing the same issue, We setup to run every 10 minutes and in the past hour it ran at 12:00, 12:20, 12:50, 13:00 no other tasks running.

[2019-06-05 13:31] ywk253100 commented on #7902
@GDixon7623 How many tasks it produces for each running? Could you provide more detail information for us so that we can find out what happened? Upload all the logs maybe helpful.

[2019-06-05 15:14] ilanni2460 commented on #7966
@ywk253100 ok
this is core.log:

Jun  5 14:43:30 172.22.0.1 core[11921]: 2019-06-05T06:43:30Z [ERROR] [/common/config/manager.go:192]: failed to get key ldap_filter, error: the configure value is not set
Jun  5 14:43:30 172.22.0.1 core[11921]: 2019/06/05 06:43:30 #033[1;44m[D] [server.go:2619] |  192.168.0.109|#033[42m 200 #033[0m|  49.489266ms|   match|#033[44m GET     #033[0m /service/token   r:

[2019-06-05 17:20] drleq opened #7984 "LDAP user can see assigned projects but cannot navigate to them"
**Expected behavior**
LDAP users can be assigned to a project, allowing them to see the project in the main page and to see repositories it contains.

**Actual behavior:**
LDAP user is assigned to a project, can see the project in the main page but receives a `403 Forbidden` when navigating to the project page itself.

**Steps to reproduce the problem:**
1. Install Harbor from clean, including Not

[2019-06-05 23:13] kacole2 opened #7986 "[FEATURE REQUEST] Kubernetes CRD For Harbor Default"
Today, the container runtime in a Kubernetes cluster is automatically defaulted to pull from DockerHub or gcr/io.

To make Harbor more native to Kubernetes, it would be beneficial to have Harbor be the default container registry that all Deployments, Helm Charts, etc. Using a set of CRDs this could be built as an extension to Kubernetes to do this.

**Describe the solution you'd like**
Make Harbor

[2019-06-06 02:31] reasonerjt commented on #7984
@drleq
Is it only reproducible in `incognito mode` ?

[2019-06-06 03:17] reasonerjt commented on #7986
Could you elaborate the idea?  Are you suggesting create a CRD to modify the behavior of kubelet see `image: busybox` in pod spec it tries to access Harbor to pull the image?

[2019-06-06 03:39] kacole2 commented on #7986
@reasonerjt that's correct. Modify the behavior so it defaulting pulls from Harbor.

[2019-06-06 04:04] kacole2 opened #7987 "[FEATURE REQUEST] Proxy Pulling From External Registry Behavior"
**Is your feature request related to a problem? Please describe.**
This is not a problem but is a feature request that extends on the idea of #7986

Today, the native docker client defaults pulling containers from DockerHub. In Kubernetes instances there is also the gcr.io registry that is called out using the FQDN when specifying the container. For example: `image: k8s.gcr.io/echoserver:1.4`. If

[2019-06-06 05:54] steven-zou opened #7988 "Cron job (template) will be lost after migrating to latest version 1.8.0 from other versions (1.6.x/1.7.x)"
If you are reporting a problem, please make sure the following information are provided:

**Expected behavior and actual behavior:**
The schedule job (template) will be lost after migrating to V1.8.0 from other versions.

**Steps to reproduce the problem:**
Install lower version like V1.7.1 and schedule a job.
MIgrate
Install the latest version V1.8.0
Check if the schedule does work

**Versions:**

[2019-06-06 08:14] #5792 closed

[2019-06-06 09:01] drleq commented on #7984
@reasonerjt No, this happens without incognito mode as well.  I only use it to ensure there are no cookies hanging around.

I've attached two screenshots of the problem as seen from the Harbor main page.  Clicking the `andy_private` project results in the two 403 errors in the network log.  The second image is the return from the swagger `/users/current/permissions` end-point, which returns an emp

[2019-06-06 10:00] heww commented on #7984
@drleq can you provide the `/users/current/permissions` response which use `scope=/project/3`?

[2019-06-06 14:06] drleq commented on #7984
@heww Sorry, I misunderstood the scope.  The project id is 2 and the user id is 3.  The current users permissions for `/project/2` still returns an empty array.

*Further details*
We have discovered that switching LDAP authentication to use `samaccountname` instead of `cn` does not cause this issue.  This could be related to how our `cn` names are structured, e.g. `<surname>, <first name>`.  The l

[2019-06-06 14:20] lightof410 commented on #7871
I solve this problem by expanding timeout value, ex
[code]
of course this is not a good solution for this problem.

I think your MR can solve jobservice's problem, but core still has same problem because its beego version too low to set idle timeout for redis.

core's beego can only set addr\pool size\password\dbnum for redis, like
[code]

but newest beego can set addr\pool size\password\dbnum\Idl

[2019-06-06 22:29] burdzwastaken opened #7989 "Intermittent 502 Bad Gateway in Nginx pods with requests made to the `/v2/` endpoint"
**Expected behavior and actual behavior:**
Actual: Our deployment tool makes requests to the `/v2/` to determine if the registry supports it. We are seeing intermittent failures to this route which results in a Bad Gateway from Nginx. The chain of calls as a result of the failure is harbor-nginx -> harbor-core -> harbor-registry; in failure cases, the error message above is visible in the harbor-c

[2019-06-07 03:23] cd1989 commented on #7871
Core use beego which has set idle timeout to 3min.

[2019-06-07 05:34] lightof410 commented on #7871
sorry, I didn't describe it clearly.
beego cache has default idle timeout to 3min, but beego session doesn't have. its code in sess_redis.go like this, only set Dial fuction and max idle conn num.
[code]

core use beego redis seesion, and i think there may be some problems。

[2019-06-07 06:55] koulq opened #7990 "harbor1.6升级1.8，原先的1.6使用的外部的数据库，数据库数据怎么迁移？"
What can we help you?

[2019-06-07 06:57] koulq commented on #7990
看1.8的数据库表和1.6差距还挺大的，尤其是同步这一块，数据怎么迁移？

[2019-06-07 09:59] HanaForward opened #7991 "./install.sh harbor error"
[root@harbor]# python -V
Python 2.7.5

[root@harbor]# ./install.sh

[Step 0]: checking installation environment ...

Note: docker version: 18.09.6

Note: docker-compose version: 1.24.0

[Step 1]: preparing environment ...
prepare base dir is set to /root/harbor
Traceback (most recent call last):
  File "main.py", line 62, in <module>
    main()
  File "/usr/lib/python3.6/site-packages/click/core.p

[2019-06-07 10:00] HanaForward commented on #7991
[root@harbor]# docker-compose -v
docker-compose version 1.24.0, build 0aa59064

[2019-06-07 10:01] HanaForward commented on #7991
[root@harbor]# docker -v
Docker version 18.09.6, build 481bc77156

[2019-06-07 10:48] DemenkovK opened #7992 "Auth_mode menu disabled"
Hello! I need to change auth_mode to LDAP, but somewhy menu is inactive. I use admin account, ofcause. What can i do to solve my issue?

[2019-06-07 11:20] HanaForward commented on #7991
i know the error

[2019-06-07 11:20] #7991 closed

[2019-06-07 16:42] DoctahPopp871 commented on #7992
I am having a similar issue. Looking to change auth mode from built in database to OIDC. I understand that you can only change auth mode when the only user present is Admin. I removed all previously created users, but the Auth_Mode value is still greyed out.

What do I need to do in order to change my auth mode ? Do I need to re-install with a new user-database ?

[2019-06-07 18:34] michmike opened #7993 "Enable Replication of Configuration Data"
Today we enable project replication and we replicate the artifacts and data. However, some users are interested in replicating the config as well (policies, users, RBAC, etc). One particular user that asked for this is Dell Tech that is hosting harbor internally as a service provider.

[2019-06-07 18:40] jbavera3 opened #7994 "Top 10 Projects in Harbor"
We would like to be able to provide a user the ability of sorting the Top 10 Projects in Harbor that's consuming the most storage

The ability to sort projects by storage usage.

**Describe the main design/architecture of your solution**
The ability to sort projects by storage usage.

[2019-06-08 03:44] #7990 closed

[2019-06-09 01:43] mmpei commented on #7980
seams there are no private helm charts in helm hub.

[2019-06-09 09:35] jahentao opened #7999 "How to configure LDAP in harbor.yml"
reference [manage_role_by_ldap_group.md](https://github.com/goharbor/harbor/blob/76e0b40b71d1e645be977c52dc90a29a62598f28/docs/manage_role_by_ldap_group.md) is out-of-date.

[2019-06-10 01:31] ilanni2460 commented on #7966
I have solved this problem and it is caused by our ldap server dns parsing.

@ywk253100 tks

[2019-06-10 01:31] #7966 closed

[2019-06-10 02:19] Ghostbaby commented on #7994
we sort repositories by tags number.

[2019-06-10 02:37] yehaifeng opened #8000 "The response time is too long for /api/repositories?project_id=21"
I want get some from https://harbor.test.com/api/repositories?project_id=21, but it use 9s for response. Is there any way to optimize it?

The ui log:
Jun 10 10:30:57 172.18.0.1 ui[1393283]: 2019/06/10 02:30:57 #033[1;44m[D] [server.go:2619] |    10.11.66.12|#033[42m 200 #033[0m| **9.390258381s**|   match|#033[44m GET     #033[0m /api/repositories   r:/api/repositories#033[0m
Jun 10 10:30:57 172.1

[2019-06-10 02:45] yehaifeng commented on #8000
Version _version = 1.5.0

[2019-06-10 02:53] stonezdj commented on #8000
The latest version 1.8.0, the backend database already switched from mysql to postgresql, could you please verify the issue in latest version (1.8.0)

[2019-06-10 02:55] stonezdj commented on #7999
Please refer the document: https://github.com/goharbor/harbor/blob/master/docs/configure_user_settings.md

[2019-06-10 03:12] nlowe commented on #7933
Initial iteration available in https://github.com/nlowe/harbor/tree/feat/retention/GH-7933-database-persistence. I'll open a PR when the merge window for 1.9 opens.

[2019-06-10 05:58] stonezdj commented on #4313
Because it doesn't add any feature and current tile works fine, we keep the previous form.

[2019-06-10 05:58] #4313 closed

[2019-06-10 06:00] stonezdj commented on #3944
Close, because the HA is solved by harbor-helm

[2019-06-10 06:00] #3944 closed

[2019-06-10 06:11] stonezdj commented on #7992
You can clean the user created in database and try again.
[code]
Then change the configuration in web console.

[2019-06-10 07:44] heww commented on #7994
@jbavera3 this feature will be available for system administrator in version 1.9

[2019-06-10 13:11] DoctahPopp871 commented on #7992
Removed all users from web console. Let me check the DB, thanks.

[2019-06-10 15:29] pvormittag commented on #7867
Scoped permissions become an issue when an image in one project is expected to extend an image from another project, which is a well used pattern in Docker. Consider the following which is currently not possible with robot accounts:

[code]

Running `docker build` will fail when using a robot account since it is scoped to `my-project` and will not have any access to `library`, even if the robot ac

[2019-06-10 15:32] qiqizjl commented on #7867
Hi, everyone. We are currently working through the IP whitelist. Add the network segment of the intranet IP to the ip whitelist, and he has the pull/push permission. This network segment can be set by itself. And you don't need to remember any passwords. But is there a risk in this? Is there a security risk when a machine invades?

[2019-06-10 15:39] casperfrx opened #8002 "Proper way of versioning Harbor"
I couldn't find this question or an answer that relates to it but here's my question:

How to properly version changes to the configuration of Harbor? I suppose only harbor.yml can be versioned but I would like to make some persistent changes to the compose file (adding an external network to a harbor service for example). When using the ./prepare.sh script, these changes are overwritten and there

[2019-06-10 16:13] Hokwang commented on #2859
/reopen

[2019-06-10 16:13] Hokwang commented on #2859
I can't find timezone setting in harbor.cfg.

[2019-06-10 21:37] DemenkovK commented on #7992
It works! Can you advice, how can i troubleshoot connection string to ldap? There is no any useful messages in harbor log-directory, ldap test connection success, but i still cant you ldap-auth. Which harbor container make ldap connection for auth?

[2019-06-10 23:17] michmike commented on #7965
@ericvmw in this case, shouldn't it be the responsibility of the module that is updating the k8s secret to ensure that the password is updated properly, with retries and anything else needed to ensure 100% success.

Also, just for my education, are you using the built-in sys admin account for operations? was there any consideration of using that account over an account with federated identity?

[2019-06-10 23:34] DemenkovK commented on #7992
Answer to my own question:
1. Set debug level to debug in harbor.yml and reinstall harbor with new param.
2. Look into core.log. There i have found incorrect ldap request, then change "LDAP Filter" and "LDAP UID" values and it's work now.

[2019-06-11 00:12] phenixblue opened #8004 "Save option unavailable for Replication Rule if only one Registry endpoint is defined"
If you are reporting a problem, please make sure the following information are provided:

**Expected behavior and actual behavior:**
The save option is unavailable when trying to create a replication rule and I only have one Registry endpoint configured for Harbor. The save button should be available if all required fields are completed.

**Steps to reproduce the problem:**
- Install 2 instances (

[2019-06-11 01:49] deqyiyt opened #8005 "v1.8.0使用nginx代理harbor"
What can we help you?
harbor的nginx端口配置为2280
使用自建的nginx代理2280，并且用域名转发
出现问题：
使用域名访问无法创建项目，提示：项目名称已存在
使用ip:2280访问，创建项目成功

[2019-06-11 02:13] DoctahPopp871 commented on #7992
@stonezdj I removed all users except admin directly from the db. ( there were some users there not present in the ui), but am still unable to change the auth setting from both the UI and API.

attempt to set the auth_mode to editable from API :
`curl -X PUT "https://harbor.ogilvy-digital.com/api/configurations" -H "accept: application/json" -H "Content-Type: application/json" -d "{ \"auth_mode\":

[2019-06-11 02:19] michmike opened #8007 "Scalability of Harbor"
[] 500 projects
[] 20 users per project
[] 200 images per project (100,000 images under management)
[] 50 concurrent pulls/push per node
[] 50 concurrent replications
[] 50 concurrent image scans

[2019-06-11 02:20] michmike opened #8008 "sysLog endpoint for log shipping"
requirements
* Syslog endpoint
* date format in logs conforms to RFC 3339 as well as RFC 5424 and ISO 8601. (example 2019-01-16T17:08:08.909Z in UTC time)

We need to test with fluentbit and vmware log insight for compatibility

[2019-06-11 02:41] stonezdj opened #8009 "Add backup restore script and add backup restore section in migration_guide.md"
Write a backup section under the migration guide
(https://github.com/goharbor/harbor/blob/master/docs/migration_guide.md) and also publish backup script formally under Harbor’s github

[2019-06-11 02:49] cd1989 commented on #7871
Indeed, Beego redis session doesn't use the correct way to initialize connection pool, as `redis.NewPool` is marked deprecated.

I agree that we need to upgrade beego.

[2019-06-11 02:50] cd1989 commented on #7871
Let's make another dedicated issue for the core problem.

[2019-06-11 02:52] michmike commented on #7941
Nate's write is at https://gist.github.com/nlowe/ee8172fcfbdf301cb09a8ce97089536c

[2019-06-11 03:00] cd1989 opened #8011 "core doesn't have idle timeout set for redis connection pool"
If you are reporting a problem, please make sure the following information are provided:

**Expected behavior and actual behavior:**

Beego version used by harbor core doesn't have idle timeout set for redis connection pool. It uses a deprecated method to create the pool.

[code]

The problem when idle timeout not set is:

When Redis service is served by a proxy like HAProxy that have read/write t

[2019-06-11 03:02] cd1989 commented on #8011
A workaround for the problem is, configure your proxy (like HAProxy) to set a longer timeout. For example,

[code]

[2019-06-11 05:34] reasonerjt commented on #7989
That failure looks like due to connection issue to the DNS?

[2019-06-11 06:09] ywk253100 commented on #7875
@qiqizjl Will fix it in 1.8.1

[2019-06-11 06:28] reasonerjt commented on #7711
Closing this one, please ask me to reopen if you have further questions.

[2019-06-11 06:28] #7711 closed

[2019-06-11 06:54] lethe3000 commented on #7963
the number of parallel commands running on production CI server may be around `10`.
and I'll collect logs later for you, thank you.

[2019-06-11 07:40] YanLemon opened #8014 "Does harbor Support ARM Architecture?"
What can we help you?

[2019-06-11 08:38] steven-zou commented on #7988
duplicated with #7868, close this one

[2019-06-11 08:38] #7988 closed

[2019-06-11 09:51] reasonerjt commented on #7884
@konstantinpae Could you give us update about your investigation?

[2019-06-11 12:07] greg-dobedobedo commented on #7316
Hi @darkl0rd, I'm facing the same problem.
Could you tell how you clear out the jobs in the database please ?

[2019-06-11 13:44] trustbyte commented on #2920
i have this one also:

root@:~/harbor/harbor# docker-compose --verbose version
docker-compose version 1.25.0-rc1, build 8552e8e2
docker-py version: 4.0.1
CPython version: 3.7.3
OpenSSL version: OpenSSL 1.1.0j  20 Nov 2018
root@:~/harbor/harbor# ./prepare --with-notary --with-clair
prepare base dir is set to /root/harbor/harbor
Traceback (most recent call last):
  File "main.py", line 62, in <modul

[2019-06-11 14:46] Hokwang opened #8017 "when using OIDC, support group(or role) like LDAP memberof"
**Is your feature request related to a problem? Please describe.**
I am testing harbor 1.8.0 version,
installed in local kubernetes using your helm chart.

I am using keycloak which is an IAM tool for oidc connect (like dex).
and I succeeded harbor integrated with keycloak.
But I need "mapping oidc's group (or role) to harbor's group" feature,
as you know the project permission management should n

[2019-06-11 14:55] Hokwang opened #8018 "when use oidc auth, which claim do you use?"
Hi,

When I login with oidc, I can see my profile.
![image](https://user-images.githubusercontent.com/1247030/59282438-e8837d00-8ca3-11e9-9402-e4d6e75ea8c3.png)

I guess harbor only cares username, email, full name for now,
and I think username means id.
I am currently in the situation with same username and full name.

Which claim do you use for username and full name ? Please let me know.
email

[2019-06-11 17:56] michmike opened #8019 "webhook 2.0 (Workflow hooks)"
Add support for hooks for certain actions that can be plugged into a workflow for approval
1. Pulling an image
2. Creating a new user
3. Pushing a new image
etc

[2019-06-11 18:01] burdzwastaken commented on #7989
our CoreDNS logs show no errors while performing the internal DNS lookups. while I don't think we can rule out it being DNS issue the error we are getting getting isn't necessarily a DNS error, it's a context cancelled error that occurs while it's doing DNS lookup. I will do a packet capture on the flannel interface to confirm that it is not a bug within our setup.

[2019-06-12 01:41] michmike opened #8020 "Kubernetes Operator for Harbor"
Create an operator for Harbor

requirements TBD - influenced by a POC/Design
Some examples
-Setup and operations of Harbor
-Backup and recovery
-Scaling
-Setup helm chart components like postgres and redis

[2019-06-12 02:04] jwangyangls opened #8021 "Quota per project for UI"
1. system sider add page for Quota per(2)(table list and configration?)
2. project add page  for Quota per(may be chart)
Need UI design

[2019-06-12 02:09] jwangyangls opened #8022 "Tag retention for UI"
add configration for images  in   project or system .
Need UI design.

[2019-06-12 02:14] jwangyangls opened #8023 "Repository beyond images and helm charts UI change"
Repository beyond images and helm charts
if we use docker distribution API to implement, we need to consider:
OCI spec.
Manifest list support?
if we use git/git server, that's a different story.

what do it  in UI? not sure;

[2019-06-12 02:20] jwangyangls opened #8024 "UI to support White list in CVE"
add form Page  in project configration and  system configration ;
UI design :https://www.figma.com/proto/0bSkyzvchcOCrwSWROIivtIb/Harbor-v1.9?node-id=93%3A997&scaling=min-zoom&redirected=1

[2019-06-12 02:31] danfengliu opened #8025 "In nightly test, keyword Mouse Down and Up didn't work at all, so user was added as a admin not a guest."
![image](https://user-images.githubusercontent.com/44018302/59319397-121cc280-8cfd-11e9-9853-c3b8c60de4ec.png)

[2019-06-12 03:31] Zephery opened #8027 "Is there any tools to synchronize harbor data to mysql?"
It's too slow to get tags when repository's tags are too many, i want to synchronize data to mysql. Is there any tools to synchronize data to mysql?  which can be beneficial to page and  performance of queries

[2019-06-12 03:43] alexvmw commented on #6659
What does downloaded mean here?

[2019-06-12 08:08] ahnselina opened #8029 "compile harbor-1.5.1 got stuck"
execute"make package_offline GOBUILDIMAGE=golang:1.9.2 COMPILETAG=compile_golangimage CLARITYIMAGE=vmware/harbor-clarity-ui-builder:1.3.0"
"
....
npm info lifecycle harbor@1.3.0~prepare: harbor@1.3.0
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@^1.0.0 (node_modules/chokidar/node_modules/fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.2.9: wa

[2019-06-12 09:05] mmpei opened #8031 "some of harbor components hang after running a long time"
we deployed harbor v1.6 in our product enviroment using docker compose. and it runs a long time.
we find that one of harbor containers becomes suspended sometime and harbor is out of duty.
log of suspended harbor component is stoped too.
we check logs in docker daemon and find,
[code]
we set live-restore to true in docker daemon to make containers alive when docker stopped.
this case could be repr

[2019-06-12 10:02] heww commented on #7960
This problem was caused by the cache of the chartmuseum. After change to set `CHART_URL` using absolute url, the cache of `index.yaml` also exist.

[2019-06-12 10:13] chusAlvarez opened #8033 "API calls in OIDC mode"
I have configure harbor version v1.8.0 with v1.1.0 harbor-helm configuration.
I have successfully configure OIDC auth mode.
I have successfully configure OIDC users against github (using a dex proxy)
I can login and make pulls and push with the OIDC user.

Problem is, when I try to use API REST calls with an OIDC user the response is every time wrong:

[code]
I found in the core service these erro

[2019-06-12 12:21] reasonerjt commented on #8033
@chusAlvarez In that case you need to use the OIDC token to call the REST API.

[2019-06-12 12:26] reasonerjt commented on #8031
@mmpei
Right now this is a limitation, I think you have to remove `harbor-log` and the log settings from `docker-compose.yml` to work around it.

We are considering to make the logging endpoint configurable in v1.9 timeframe, we'll consider this case, but by default I think we'll leverage `harbor-log` for collecting logs.

[2019-06-12 12:27] reasonerjt commented on #7963
@heww
I don't think 10 concurrent connections will cause such problem?

[2019-06-12 13:57] reasonerjt commented on #7316
@darkl0rd sorry for the late response, the way that Harbor handles the webhook from Clair is problematic when there are many many images.

We are considering to remove it.

To workaround this problem you can comment out this section from `config.yaml` of clair, ( `harbor/common/config/clair/config.yaml`):
[code]

and restart Harbor.

[2019-06-12 13:59] chusAlvarez commented on #8033
The interchanged OIDC token is not available in the login procces, nor can be read after this. But seems that the failure in connect with the admin user was mine (mispelled password).

So API is still accesible, but only for admin user

[2019-06-12 15:53] ahnselina commented on #8029
make package_offline GOBUILDIMAGE=golang:1.9.2 COMPILETAG=compile_golangimage CLARITYIMAGE=vmware/harbor-clarity-ui-builder:1.3.0
➜ No golang package in your enviroment. You should use golang docker image build binary.

Note: docker version: 18.03.0

Note: docker-compose version: 1.24.0
compiling binary for clarity ui...
Unable to find image 'vmware/harbor-clarity-ui-builder:1.3.0' locally
1.3.0:

[2019-06-12 15:59] nlowe commented on #6659
A `docker pull` on the tag was what I had in mind.

[2019-06-12 16:02] nlowe commented on #7933
Hmm, the way database tests are run on travis appear different from how I was running them locally. I get this weird failure in Travis:

[code]

but the tests pass locally against `postgres:9.6` and `postgres:10`.

[2019-06-12 16:08] chusAlvarez commented on #8033
Sorry, solved, seems I was triying to access to API functios restricted to admin (http://harbor.hades.k8s.dev.spotahome.net/api/users )

So this was the reason it launch an "unauthorized" message. When I tried to read projects, it  works, listiing only the ones availables for my user

[2019-06-12 16:08] #8033 closed

[2019-06-12 17:04] s-spindler commented on #7978
I would very much like to see this. Is any work being done on this already?

[2019-06-12 17:27] michmike opened #8034 "Interrogation Service"
convert the scanning service today into a full blown Interrogation Service (IS). the IS will have pluggable components that can be executed against a project and can include the following Interface that can be implemented by many actors as an add-on to Harbor
1. Interface for static analysis (what we do today with Clair)
2. Interface that partners can implement to bring their own solutions on top

[2019-06-12 19:39] casperfrx opened #8035 "Harbor 1.8.0: Robot account with pull and push permissions can't get tags from API"
**Expected behavior and actual behavior:**
I have a robot account with full pull and push permissions. It is already automatically pushing and pulling images as we speak. However I would like to trigger another robot account based on newer tags being pushed to my repository by fetching the tags using the API.

*Expected*
Get a list of all the available tags of a specific repository with the right

[2019-06-12 22:41] kawaii opened #8036 "502 From api/ Upstream"
Hello, I've deployed a Harbor container stack, and removed the proxy container since I have nginx installed on the host and would prefer to use that. I've also opened ports between the `harbor-core` and `harbor-portal` containers onto the host too.
[code]
My nginx configuration file looks like this:
[code]
Yet, my browser console shows the following errors and I am unable to login because of it. V

[2019-06-13 02:17] lf1029698952 opened #8037 "504 Gateway Time-out when replication use pull mode"
Source Harbor version 1.7.1
Dest Harbor version 1.8.0

When I use pull mode to make regular backups, the source harbor repo have too many images tags, probably above tens of thousands, I get the following errors:

![image](https://user-images.githubusercontent.com/11751263/59399014-f250d180-8dc4-11e9-89d9-4eb1a9ff6c73.png)

![image](https://user-images.githubusercontent.com/11751263/59398769-0811c

[2019-06-13 02:24] danfengliu opened #8038 "In nigthly test case <View Scan Error>, repository can't be found, due to lack of waiting"
![image](https://user-images.githubusercontent.com/44018302/59399094-5bd0e000-8dc5-11e9-8bb3-20c710717470.png)

[2019-06-13 03:08] phenixblue commented on #4274
I've run into the exact same issue. I'm was initially using a wildcard certificate and I noticed that the request to notary was a call to the k8s service FQDN, which wasn't a SAN on the wildcard cert. I setup a new cert that included the k8s FQDN, but I still see the `x509: certificate signed by unknown authority` messages. We could really use some better docs on configuring Notary to use custom c

[2019-06-13 03:48] fyqls commented on #4868
if i want to delete one tag image , what will happen?  will it delete the image and all tags ?

[2019-06-13 04:46] hanoisteve commented on #6422
I am still seeing this error

[2019-06-13 07:52] kmlxk commented on #5864
I also want to use Harbor as a mirror server behind HTTP_PROXY.
But it seems not work.
Then I checked log file ( vi /var/log/harbor/registry.log) and got this error :

Jun 13 15:41:53 172.19.0.1 registry[6598]: panic: Get http://xxx.m.daocloud.io/v2/: dial tcp 52.80.133.128:80: i/o timeout

version: Harbor 1.8.0
CentOS 7.1 x64
Docker version 18.09.6, build 481bc77156
docker-compose version 1.24.0,

[2019-06-13 08:06] stonezdj commented on #8029
Please try Harbor 1.8.0, Harbor 1.5.1 is out maintenance

[2019-06-13 08:06] #8029 closed

[2019-06-13 08:18] stonezdj commented on #8014
Not sure what is your requirement, if you need to install harbor on ARM arch OS, the current offline installer doesn't support this. you have to compile the source code and change all base images. if you just need to store ARM architecture images, it support to store ARM images.

[2019-06-13 08:18] #8014 closed

[2019-06-13 08:39] stonezdj commented on #7992
You might removed the anonymous user, try to add it
[code]

[2019-06-13 08:45] YanLemon commented on #8014
thank you .      how to compile the source code? I want to intall harbor on ARM.

[2019-06-13 08:55] YanLemon commented on #8014
@stonezdj  thank you . how to compile the source code? I want to intall harbor on ARM.

[2019-06-13 08:57] reasonerjt commented on #8033
How to get ID token is beyond scope of Harbor.
But Harbor API supports verifying a valid ID token representing a valid user.
If your OIDC provider supports somehow get the token for particular user for particular client, for example it supports password grant_type, things will work.

[2019-06-13 09:15] reasonerjt commented on #8036
What requests are getting `502` and any logs from your nignx?

[2019-06-13 09:16] wy65701436 commented on #7933
did you commit the scheme into migration?

[2019-06-13 09:18] reasonerjt commented on #8017
Is the support of group a part of OIDC spec?
The difference between OIDC and LDAP, is that we can check the existence of a group in LDAP and onboard it to Harbor, then assign a role to group, but I don't think we can do that in OIDC.

[2019-06-13 09:29] kawaii commented on #8036
[code]
From my nginx logs, these requests are returning 502 responses from the `core` upstream.

[2019-06-13 09:34] reasonerjt commented on #8036
Could you check the log of core component the double check if the requests actually reached?
Are you sure the process `core` serves port 5080 on you localhost?

[2019-06-13 09:39] kawaii commented on #8036
@reasonerjt thanks for your help, I noticed that I forwarded port `5080` to port `80` inside the `harbor-core` container, when I should have actually forwarded it to `8080`.

Everything is working now. Sorry for wasting your time! :(

[2019-06-13 09:39] #8036 closed

[2019-06-13 09:47] ahnselina commented on #8029
OK,  I try compile this on many machines, then I found that maybe the configuration of machine result to the failure. I compile successfully on  a higher conf machine.

[2019-06-13 10:52] koulq opened #8041 "failed to get project "xxx" from source registry: project ""not found"
Hello, when using the harbor1.6 version for remote replication, there are some tasks that report errors:failed to get project "xxx" from source registry: project ""not found,However, this project exists.

[2019-06-13 11:12] #7875 closed

[2019-06-13 11:12] #7968 closed

[2019-06-13 11:26] loosi commented on #8017
Groups can be easily provided by a claim. It's basically a custom claim that can be added pretty easy in the end (flat list, nested list, or whatever). Lots of OIDC provider support that claim out of the box

[2019-06-13 12:13] nlowe commented on #7933
[yup](https://github.com/nlowe/harbor/blob/feat/retention/GH-7933-database-persistence/make/migrations/postgresql/0005_retention_policies.up.sql)

[2019-06-13 16:59] reasonerjt commented on #8017
@loosi
That will only add the group into the claim of the token, but we cannot verify if a group actually exist or not.  So user cannot onboard the group and assign it to a project as member as what we are doing for LDAP.

[2019-06-13 17:24] DoctahPopp871 commented on #7992
The anonymous user did the trick, thanks!

[2019-06-13 17:28] wy65701436 commented on #7933
can you let me know the PR?

[2019-06-13 17:37] michmike opened #8042 "API for refreshing vulnerability data"
Today, the only way to update clair's database in an air-gapped environment is to follow this process. https://github.com/goharbor/harbor/blob/master/docs/import_vulnerability_data.md

this is not very user friendly. we should do a few things
1. Provide a Harbor API to download the latest clair database, along with the timestamp it was last updated or checked for updates
2. Provide an API that a u

[2019-06-13 20:19] billabongrob commented on #4982
Our enterprise would greatly benefit from SAML as well.

[2019-06-13 20:19] DoctahPopp871 opened #8043 "OIDC Login Failed to get OAuth configuration"
I need some assistance with setting up the OIDC auth. I have the auth enabled and all fields populated in the UI, but clicking on the login button "login via oidc provider" redirects me to https://harbor.ogilvy-digital.com/c/oidc/login which fails with a 500, rendering the following in the browser :

`{"code":500,"message":"Internal Server Error"}`

The errors generated on the core server are belo

[2019-06-13 20:37] rpeets opened #8044 "Unable to install with PV from netapp."
harbor installation failing due the read only file-system.
I believe its due to the .shopshot (which is readonly) in all netapp volumes.

#### Version
[code]

#### Helm Values
[code]

#### Command Used
[code]

#### Default Storage Class
[code]

#### Installation status
[code]

#### Helm Chart Version
[code]

[2019-06-13 23:42] michmike opened #8045 "Vulnerability alert"
today, Harbor does a great job in ensuring that images are scanned prior to allowing a developer to pull an image. In addition, policy can prevent images to be pulled if they are vulnerable.

This issue is about the ability to discover images that were pulled in a project and a CVE is discovered after the fact.

Requirements
1. Project admin can set a policy to be notified when an image tag was pu

[2019-06-14 00:45] nlowe commented on #7933
I don't have a pull request open yet, as we're still not 100% certain we're going to land this in 1.9. The best I can do is the [feature branch](https://github.com/nlowe/harbor/tree/feat/retention/GH-7933-database-persistence) and the [tracking branch with all of the work I've done so far](https://github.com/nlowe/harbor/tree/feat/retention/tracking).

[2019-06-14 00:55] zgz0412 commented on #7109
chmod -R 777 common/
之后重启nginx容器

[2019-06-14 01:23] koulq opened #8046 "2019-06-14T00:50:17Z [ERROR] [job_logger.go:81]: an error occurred while pulling manifest of library/gitaly:v1.27.1 from source registry: 401 {"errors":[{"code":"UNAUTHORIZED","message":"authentication required","detail":[{"Type":"repository","Class":"","Name":"library/gitaly","Action":"pull"}]}]"
If you are reporting a problem, please make sure the following information are provided:

**Expected behavior and actual behavior:**
2019-06-14T00:50:17Z [ERROR] [job_logger.go:81]: an error occurred while pulling manifest of library/gitaly:v1.27.1 from source registry: 401 {"errors":[{"code":"UNAUTHORIZED","message":"authentication required","detail":[{"Type":"repository","Class":"","Name":"libra

[2019-06-14 03:44] robkooper commented on #4868
I imagine it will just delete that tag, but leave all the other tags, same as what would happen when you delete an image in docker but other tags still exist that point to the same layers.

[2019-06-14 05:08] reasonerjt commented on #8046
I'm closing this one.
Please respect the template and refine your issue to make it more readable to human

[2019-06-14 05:08] #8046 closed

[2019-06-14 07:08] greg-dobedobedo commented on #7316
@reasonerjt, Thank you for this workaround. Until now, no loop anymore.

[2019-06-14 08:42] reasonerjt commented on #7861
Fixed in #8013 and verified in `build.1569`

[2019-06-14 08:42] #7861 closed

[2019-06-14 08:45] reasonerjt commented on #8043
@DoctahPopp871 Thanks for trying out OIDC support.
Please make sure the OIDC endpoint is valid in your setting.
More details refer to:
https://github.com/goharbor/harbor/blob/master/docs/user_guide.md#managing-authentication

[code]

[2019-06-14 08:48] reasonerjt commented on #8027
[code]

What data you want to synchronize?
Harbor is using postgres instead of mysql

[2019-06-14 08:50] reasonerjt commented on #8007
We should create re-usable code and infrastructure for perf testing.

After that provide a report and try to fix blocking issues in 1.9 timeframe.

[2019-06-14 08:55] reasonerjt commented on #8018
The full name in a use's profile is set based on `name` in the token claims.
And the username in a user's profile is set in the onboard dialog, and the default value is `name` in the token claims.

[2019-06-14 09:15] #7992 closed

[2019-06-14 09:24] kawaii opened #8052 "LDAP Administrators Not Marked in Users Menu"
**Expected behavior and actual behavior:**
Users who are Harbor administrators via LDAP are not clearly marked as such in the 'Users' menu, as shown in the screenshot below.
![image](https://user-images.githubusercontent.com/12242877/59498945-4d9ac680-8e8e-11e9-8867-ecac858eda62.png)
Both of these users are administrators, so I would expect it to display 'Yes' here.

**Versions:**
Please specify t

[2019-06-14 09:35] Hokwang commented on #8018
@reasonerjt Thanks for your reply.
Oh, you use same claim.
How about change it ? (to username or preferred_username, or whatever and let users know.)
Or please refer to #8017 , how about provide that admin can input claim for these values?

[2019-06-14 09:52] Hokwang commented on #8017
@reasonerjt
For the clarify,
1. I want to show you that tool can provide the ability to enter claims (custom also OK)
2. Like LDAP's memberOf, I think it is just key and value and value can be list(array),
you can use some custom claim for group and if provided,
I really want to use below scenario.
1. harbor install
2. integrated oidc
3. create A project for A team and then add A group to develope

[2019-06-14 09:52] steven-zou commented on #7868
Fixed in 1.8.x

[2019-06-14 10:01] steven-zou commented on #8037
The perf issue of listing tags is a known issue. We're working on to figure out a proper solution to improve it.

cc @ywk253100

[2019-06-14 13:54] loosi commented on #8017
@reasonerjt
I dont't really get your problem - maybe you could clarify that.
Do you need to verify that the groups exists forehand? How is the Workflow for LDAP Accounts now, if the groups does not exist?

[2019-06-14 14:14] ranjithfd opened #8053 "harbor service is failing"
harbor service is failing after the new bosh cert has been updated. Please find the below log.

What can we help  Experimental: false
[Fri Jun 14 14:10:23 UTC 2019] Docker daemon is running
[Fri Jun 14 14:10:23 UTC 2019] Remove dead docker containers if exist
[Fri Jun 14 14:10:23 UTC 2019] Launching 'docker-compose up' ...
process already running.
[Fri Jun 14 14:10:28 UTC 2019] Waiting for Harbor

[2019-06-14 14:46] scopev24 commented on #7630
Hi,
I'm still seing this issue with v1.8.0-25bb24ca - using Chrome 75.0.3770.80 on Windows 10.

If I remove the "margin-left: -3px;" style the red portion of the bar becomes visible.

Apart from that: I suffer from a color blindness - that small red bar alongside the long green bar is barely recognizable for me...
Could you add some kind of text or an alert sign if any vulnerabilities are found?
E

[2019-06-14 15:53] rofafor opened #8054 "Robot user not working with OIDC authentication"
If you are reporting a problem, please make sure the following information are provided:

**Expected behavior and actual behavior:**
Robot users can't login if the OIDC authentication mode is enabled:

[code]

**Steps to reproduce the problem:**
1. Enable OIDC authentication mode
2. Create a robot user and store generated token
3. Use docker-cli to login into harbor with the credentials (name & to

[2019-06-15 11:58] rofafor commented on #8017
I'd like to see this feature as well. The group onboarding could be implemented via an API endpoint or webhook allowing full automation.

[2019-06-16 05:24] stonezdj opened #8055 "When configured to GCS storage chartmuseum failed to start"
After configured to gcs storage, chartmuseum failed to start
with error message: open /etc/chartserver/gcs.key: no such file or directory
docker-compose.yml.jinja line 419
[code]
It should be mounted to /etc/chartserver/gcs.key

[2019-06-17 03:08] ninjadq commented on #8005
hi @deqyiyt did you configured the external URL in your `harbor.yml`

[2019-06-17 04:54] wy65701436 commented on #8054
try this?
https://github.com/goharbor/harbor/issues/7944#issuecomment-498725403

[2019-06-17 05:39] reasonerjt commented on #8018
@Hokwang
Could you clarify which claim you think should be changed, and why?

[2019-06-17 05:40] reasonerjt commented on #8017
@loosi
For LDAP admin can add an LDAP group to as a member of project, and after that any user belongs to that group will have the membership, without having to be added to the group, but Harbor will verify the group exists in the LDAP.

[2019-06-17 05:43] reasonerjt commented on #8017
@Hokwang
I understand the workflow you are trying to propose, but allowing user to add a group as a member without any checking may cause negative effect.  We'll need to have more discussion with other maintainers before making the decision.

[2019-06-17 06:43] danfengliu opened #8058 "In Night tests OIDC pipeline, generate secrete button didn't show up due to hidden-generate-cli button click noneffective"
![image](https://user-images.githubusercontent.com/44018302/59583448-ee4ae980-910d-11e9-9a9f-a06ce231f726.png)

[2019-06-17 06:59] ninjadq commented on #8055
fixed in #8056 by @stonezdj

[2019-06-17 06:59] #8055 closed

[2019-06-17 07:36] fengshunli opened #8059 "设置chart的name参数后questions.yml配置选项不起作用"
配置chart的name为mongodb,然后拉取仓库现实配置选项正常
![image](https://user-images.githubusercontent.com/18587688/59586383-6b2d9180-9115-11e9-9609-fb1150c49ce1.png)
改变chart的name为mongodb-88,然后拉取仓库现实配置选项不起作用
![image](https://user-images.githubusercontent.com/18587688/59586422-83051580-9115-11e9-9acd-285a0961dc3e.png)
是不是对questions.yml这个文件做了什么限制

[2019-06-17 08:32] Hokwang commented on #8018
@reasonerjt
First of all,
Please check this,
I think
Username == user ID
First and last name == user name
is this right?

[2019-06-17 08:56] danfengliu commented on #7925
It's done in PR #7971

[2019-06-17 08:56] #7925 closed

[2019-06-17 09:00] danfengliu commented on #7845
It's done.

[2019-06-17 09:00] #7845 closed

[2019-06-17 09:13] Hokwang commented on #8017
@reasonerjt
I understand. Please consider enterprise harbor admin's maintain user permission and automation perspective. I have lots of teams and over 2000 users.
I think you don't need to verify group exist in LDAP. (oidc too)
Because user who does not have the group will not pull/push that project and then user realizes that he/she does not have the group.
I guess there's no system effect.
I hop

[2019-06-17 09:14] steven-zou commented on #8059
@Juvenile

From your screenshot, you configured the Harbor chart repository as backend repo of k8s platform and then deploy a selected chart with the wizard? The issue occurred when changing the name?

As far as I know, Harbor does not do any modification to the question.yaml.

[2019-06-17 09:29] rofafor commented on #8054
Yes, that was it!

I found the `$` delimiter in username as a bad choice as shells are interpreting it by default. A note about this in in the documentation would be a good start.

[code]

[2019-06-17 09:29] #8054 closed

[2019-06-17 12:12] 541013515 commented on #7842
I met same errors， like this：
![11](https://user-images.githubusercontent.com/10428409/59603243-827f7580-913b-11e9-8a67-20ae398ce09d.PNG)
![44](https://user-images.githubusercontent.com/10428409/59603245-83180c00-913b-11e9-90cf-a173fe8a52e9.PNG)
![33](https://user-images.githubusercontent.com/10428409/59603264-94f9af00-913b-11e9-9c29-e8c64283254f.PNG)
![22](https://user-images.githubusercontent.co

[2019-06-17 13:39] walkamongus commented on #7573
After upgrading from 1.7.5 to 1.8.0, I am seeing this issue -- are there any steps I need to take to avoid hitting this after upgrading?

[2019-06-17 14:02] wy65701436 commented on #7573
Could you provide core.log and jobservice.log?

[2019-06-17 14:11] walkamongus commented on #7573
tailing of those logs as I tried to adjust GC schedule and triggered the error:

[code]

[2019-06-17 15:14] jahentao commented on #7909
How did you fix it? I have the similar question. It makes me crazy.

[2019-06-17 15:21] jahentao commented on #7784
@Ethan-2017  I have the same error, I don't think add the IP host to container is a good solution, because my hostname is a domain. Is there other solution, or is it a bug? @ywk253100

[2019-06-17 16:37] lizrice commented on #6234
There’s a proposal for this under discussion [here](https://github.com/goharbor/community/pull/82) (thanks @zhill!)

[2019-06-18 02:02] danfengliu opened #8060 "In Nightly test case <Delete Multi Repo>, element click is not effective"
![image](https://user-images.githubusercontent.com/44018302/59648011-05daae80-91b0-11e9-90df-f2f76cb20458.png)

[2019-06-18 02:06] danfengliu commented on #8038
![image](https://user-images.githubusercontent.com/44018302/59648165-b0eb6800-91b0-11e9-863a-7b77f38a4e58.png)

[2019-06-18 02:31] reasonerjt commented on #8043
@DoctahPopp871 any update?

[2019-06-18 02:36] reasonerjt opened #8061 "Provide an API for system admin to manage system level vulnerability whitelist"
System admin can trigger `PUT` to update the list.

Authenticated user can trigger `GET` to view the list.

The data will be stored in `properties` table.

[2019-06-18 02:46] yangxinxingit opened #8062 "The connection between the two harbours failed"
What can we help you?
Because I had to synchronize the data between the harbor and harbor。Two harbours were created, and the self-signed HTTPS was configured according to the official instructions（https://github.com/goharbor/harbor/blob/master/docs/configure_https.md），
However, after I entered the Access ID and Access password, I clicked the test connection button, which showed that the test conne

[2019-06-18 02:56] reasonerjt opened #8063 "Refactor the way to handle "scan_overview""
Currently when the scan job finishes it stores the number of packages with the vulnerabilities in the DB.

This data object will be used to render UI and help interceptor block pulling vulnerable images.

This approach will not work after introduction of the whitelist and there has been known issue that it causes inaccuracy on UI.

We'll remove that part and use Clair's API as the single source of

[2019-06-18 02:59] reasonerjt opened #8064 "Remove the notifier in Clair"
We used to use the notification handler to trigger rescan and make "scan_overview" up to date.

This cause some issue when the number of images in Harbor is large.

We should remove it after #8063 is done, as it's not needed for now.

[2019-06-18 03:02] reasonerjt opened #8065 "Update interceptor to filter out vulnerability in white list"
The interceptor used to use "scan overview" to check the vulnerability level of an image.

To make the whitelist work, it should call Clair's API to retrieve the full list and filter out the ones in whitelist to get the overall vulnerability level

[2019-06-18 03:40] fengshunli commented on #8059
修改过的name,rancher从github拉取的仓库是可以用的,但是从harbor上传拉取的就不可以

[2019-06-18 04:13] fengshunli commented on #8059
![image](https://user-images.githubusercontent.com/18587688/59652893-480ceb80-91c2-11e9-84d9-6448d735ffdd.png)

商店地址 https://github.com/fengshunli/mongodb
效果展示
![image](https://user-images.githubusercontent.com/18587688/59652915-64108d00-91c2-11e9-8312-eb1782ec9aaf.png)
同样的chart文件,通过harbor打包传进去的展示不出来

[2019-06-18 04:48] ywk253100 commented on #8044
@rpeets I'm not familiar with the netapp, but I think the log has explained the reason why they failed. Seems that you need to change the permission of the volumes to allow writing.

[2019-06-18 06:42] reasonerjt commented on #8059
@fengshunli could you narrow down the scope, for example, what's the expected/actual behavior without Rancher?  Could you reproduce it by calling the API of Harbor?

[2019-06-18 06:45] fengshunli commented on #8059
就是调用harbor的上传接口,上传成功后,拉取的是不可以用的

[2019-06-18 07:34] mmpei commented on #6515
@judexzhu you should flush registry cache before re-pushing.
this just a workaround.

[2019-06-18 08:53] Doublemine commented on #7885
I have same problem, install env as follow:
**Gitlab Version**: `11.11.3`
**Helm Version**: `v2.13.1`
**Chart Version**: `harbor-1.1.0`
**APP Version**: `1.8.0`

[2019-06-18 09:26] Madic- commented on #7091
I've upgraded from 1.6.0 to 1.8.1 and came accross the same issue and did run the notary-migration-fix.sh script but still get the "file does not exist" error. Any idea?

[2019-06-18 09:27] k0da opened #8067 "gotharbor/prepare:v1.8.1 is not published"
If you are reporting a problem, please make sure the following information are provided:

**Expected behavior and actual behavior:**
running install.sh from 1.8.1 release fails

preparing environment ...
 prepare base dir is set to /etc/harbor
 Unable to find image 'goharbor/prepare:v1.8.1' locally
 docker: Error response from daemon: manifest for goharbor/prepare:v1.8.1 not found.
 See 'docker ru

[2019-06-18 09:37] wy65701436 commented on #8067
@k0da just try it again.

[2019-06-18 09:39] k0da commented on #8067
@wy65701436 it got published now, thx

[2019-06-18 09:39] #8067 closed

[2019-06-18 10:32] Hokwang commented on #8018
@reasonerjt
I think there is not single correct answer.
But in Jenkins or other tool's case,
claim "name" for full name. (many cases show name for full name in my googling)
claim "username" for username(ID). (actually I am not sure)
I think you can select the claim name you want and then let users know.

[2019-06-18 11:47] koulq opened #8068 "1.8版本harbor向1.6版本harbor同步镜像，1.6版本页面上看不到"
What can we help you?
你好，我刚部署了一个1.8版本的harbor，创建了1个同步，目标仓库是1.6版本的harbor，但是在1.6版本harbor页面上看不到同步过来镜像，但是1.8版本的harbor显示同步成功。

看了1.6版本harbor的日志，确定是ui没有接收到事件，看registry.log，报如下错误：
Jun 18 16:56:49 172.18.0.1 registry[17619]: time="2019-06-18T08:56:49.24287695Z" level=error msg="response completed with error" auth.user.name=xxxx err.code="manifest unknown" err.detail="unknown tag=v0.5.1" err.message="manife

[2019-06-18 12:15] Szauka commented on #8035
The same issue happens with the `/repositories?project_id=3` endpoint when a project is specified.
The robot account has access to the specified project but returns `{"code":403,"message":"robot$test"}`

[2019-06-18 12:31] rmoesbergen commented on #7868
I'm on v1.8.1 and still seeing this issue.

[2019-06-18 14:53] DoctahPopp871 commented on #8043
Hi There,

Thanks for your help, and forwarding the documentation. I needed to modify my oidc endpoint so the well-known uri/manifest could be served. Something like this :
`https://login.microsoftonline.com/my-guid-here/v2.0` where the well-known config lives here :
`https://login.microsoftonline.com/my-guid-here/v2.0/.well-known/openid-configuration/`

OIDC login is now working with great succes

[2019-06-18 14:56] #8043 closed

[2019-06-19 01:18] koulq commented on #8068
@reasonerjt This problem is more urgent. Can you show it?，I deployed another 1.8 version in another environment, and mirror replication between two 1.8 versions is fine.

[2019-06-19 02:30] reasonerjt commented on #8068
I don't think we fully support replication between Harbor instances with different versions.

But the `manifest unknown` error may not caused by different version.

[2019-06-19 02:52] yangxinxingit commented on #8062
<img width="580" alt="WechatIMG23" src="https://user-images.githubusercontent.com/24523568/59733224-b8c60d80-927f-11e9-897c-c391c878187b.png">

# tail -f  /var/log/harbor/core.log
Jun 19 10:47:05 172.26.0.1 core[107673]: 2019-06-19T02:47:05Z [WARNING] [/common/utils/registry/auth/tokenauthorizer.go:260]: Schemas [] are unsupported
Jun 19 10:47:05 172.26.0.1 core[107673]: 2019-06-19T02:47:05Z [WARN

[2019-06-19 03:18] wi-cuckoo opened #8069 "Can't refresh token via Gitlab OIDC"
If you are reporting a problem, please make sure the following information are provided:

**Expected behavior and actual behavior:**

When I login via gitlab with OIDC, the login state will expire very soon, yeah, 120 second. I hope it can be longer.

**Steps to reproduce the problem:**

1. create a gitlab application, and select the scope for openid
2. then configure the harbor to login via OIDC

[2019-06-19 03:32] koulq commented on #8068
@reasonerjt @ywk253100
1.8 harbor ：The display is ok
![image](https://user-images.githubusercontent.com/18571340/59734613-c0d47c00-9284-11e9-849b-5d7c58cbc90d.png)
![image](https://user-images.githubusercontent.com/18571340/59734655-e1043b00-9284-11e9-9741-93ab57248fbf.png)
![image](https://user-images.githubusercontent.com/18571340/59734688-05601780-9285-11e9-9cc9-2c6d0ca5a8ec.png)

1.6 harbor：No

[2019-06-19 03:40] reasonerjt commented on #8069
This maybe due to misconfiguration

You need to double check if Gitlab returns refresh token or not and what's the response of the refresh request.

[2019-06-19 03:47] reasonerjt commented on #8018
@Hokwang
In the onboard process we always allow user to set his `username` the use of the claim `name` is just a default behavior.

As long as we allow user to update the username, I don't think we want to introduce setting like `claim_for_username` which may just confuse more users.